{% extends "_layout.html" %}

{% set page_slug="about" %}

{% block content %}
<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="u-fixed-width">
    <nav class="p-tabs" aria-label="About Snaps">
      <ul class="p-tabs__list u-no-margin--bottom">
        <li class="p-tabs__item">
          <a href="/about" class="p-tabs__link" {% if request.path == '/about' %}aria-selected="true"{% endif %}>
            About Snaps
          </a>
        </li>
        <li class="p-tabs__item">
          <a href="/about/publish" class="p-tabs__link" {% if request.path == '/about/publish' %}aria-selected="true"{% endif %}>
            Publish to the Snap Store
          </a>
        </li>
        <li class="p-tabs__item">
          <a href="/about/listing" class="p-tabs__link" {% if request.path == '/about/listing' %}aria-selected="true"{% endif %}>
            Your snap page
          </a>
        </li>
        <li class="p-tabs__item">
          <a href="/about/release" class="p-tabs__link" {% if request.path == '/about/release' %}aria-selected="true"{% endif %}>
            Releasing your snap
          </a>
        </li>
        <li class="p-tabs__item">
          <a href="/about/publicise" class="p-tabs__link" {% if request.path == '/about/publicise' %}aria-selected="true"{% endif %}>
            Publicise and measure
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

{% block about_content %}{% endblock about_content %}

{% endblock %}
