{% extends 'about/_about_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1mNCqEBZCv9SAprALkSjlwNVyP52ivsQ-fnDQuIS6kBk{% endblock meta_copydoc %}

{% block meta_description %}Snaps are app packages for desktop, cloud and IoT that are easy to install, secure, cross&dash;platform and dependency&dash;free.{% endblock %}

{% block meta_title %}About Snaps | Snapcraft{% endblock %}

{% block about_content %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">About Snaps</h1>
    </div>
    <div class="col-6">
      <p style="margin-bottom: 2rem;">Snaps are app packages for desktop, cloud and IoT that are easy to install, secure, cross&dash;platform and dependency&dash;free. Snaps are discoverable and installable from the Snap Store, the app store for Linux with an audience of millions.</p>
      <ul class="p-list--divided">
        <li class="p-list__item row">
          <div class="col-2">
            <h4 class="p-heading--5">Snap</h4>
          </div>
          <div class="col-4">
            <p>A snap is a bundle of an app and its dependencies that works without modification across Linux distributions.</p>
          </div>
        </li>
        <li class="p-list__item row">
          <div class="col-2">
            <h4 class="p-heading--5">Snapd</h4>
          </div>
          <div class="col-4">
            <p>Snapd is the background service that manages and maintains your snaps, automatically.</p>
          </div>
        </li>
        <li class="p-list__item row">
          <div class="col-2">
            <h4 class="p-heading--5">Snap Store</h4>
          </div>
          <div class="col-4">
            <p>The Snap Store provides a place to upload snaps, and for users to browse and install the software they want.</p>
          </div>
        </li>
        <li class="p-list__item row u-no-padding--bottom">
          <div class="col-2">
            <h4 class="p-heading--5">Snapcraft</h4>
          </div>
          <div class="col-4">
            <p class="u-no-margin--bottom">Snapcraft is the command and the framework used to build and publish snaps.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Official snaps from publishers</h2>
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/af53e02f-Mozilla_logo.svg" alt="Mozilla" class="p-logo-section__logo">
        </div>
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/3c58ba42-logo-kde--snapcraft-homepage.svg" alt="KDE" class="p-logo-section__logo">
        </div>
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/a82ec61c-logo-jetbrains.svg" alt="JetBrains" class="p-logo-section__logo" style="width: 120px;">
        </div>
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/2400d5a7-Spotify_logo_with_text.svg" alt="Spotify" class="p-logo-section__logo">
        </div>
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/bc4d28f8-Google_2015_logo.svg" alt="Google" class="p-logo-section__logo">
        </div>
        <div class="p-logo-section__item">  
          <img src="https://assets.ubuntu.com/v1/477b9b52-microsoft-logo.svg" alt="Microsoft" class="p-logo-section__logo">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="u-fixed-width">
    <ul class="p-list--divided">
      <li class="p-list__item row">
        <div class="col-6">
          <h2>A universal store</h2>
        </div>
        <div class="col-6">
          <h3 class="p-heading--5">Snaps run not only on desktops but also on IoT devices, servers and clouds</h3>
          <p>Snaps work across Linux on many distributions and versions. Bundle your dependencies and assets, to simplify installs to a single standard command.</p>
          <p><a href="/iot" class="p-button">Learn more about snaps in IoT</a></p>
        </div>
      </li>
      <li class="p-list__item row">
        <div class="col-6">
          <h2>Built, published and hosted for free</h2>
        </div>
        <div class="col-6">
          <h3 class="p-heading--5">Our build infrastructure and the Snap Store makes building and publishing snaps a breeze</h3>
          <p>Whether your project is hosted on GitHub or not, you can leverage our build system to both build and release to the edge channel, ensuring users always stay up&dash;to&dash;date.</p>
          <p><a href="/build" class="p-button">Learn more about our Build service</a></p>
        </div>
      </li>
      <li class="p-list__item row">
        <div class="col-6">
          <h2>Software distribution in your hands</h2>
        </div>
        <div class="col-6">
          {{
            image(
              url="https://assets.ubuntu.com/v1/9aeb6b02-03+Software+distribution+in+your+hands+x2.png",
              alt="",
              width="725",
              height="240",
              hi_def=True
            ) | safe
          }}
          <h3 class="p-heading--5">With Snapcraft, you are in control of when and how you publish your Snap</h3>
          <p>With channels users can find their preferred balance between stability and the latest features. Though nothing is enforced, users expect the “Stable” channel to be well tested and updated less frequently, whereas the “Edge” channel is where they&rsquo;ll get the latest release as soon as it&rsquo;s available.</p>
          <p><a href="/docs/channels" class="p-button">Learn more about channels</a></p>
        </div>
      </li>
      <li class="p-list__item row">
        <div class="col-6">
          <h2>Open source, but not only</h2>
        </div>
        <div class="col-6">
          {{
            image(
              url="https://assets.ubuntu.com/v1/f7ca8e0f-04+Open+source%2C+but+not+only+x2.png",
              alt="",
              width="725",
              height="240",
              hi_def=True
            ) | safe
          }}
          <h3 class="p-heading--5">Snaps can bundle both proprietary applications and open source</h3>
          <p>If you build proprietary software you can use the “Proprietary” license. For open source projects we support SPDX expressions so you can let your users know exactly what license your project uses.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
