{% extends 'about/_about_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Mt_nUa2U95xuimPSTvBuqWm6PEvRffHDUzzHUzMOuSE{% endblock meta_copydoc %}

{% block meta_description %}After you&rsquo;ve tested the snap and you&rsquo;re happy it works as intended, here are 6 things you can do to make the snap store listing really pop and significantly increase the likelihood that the application will get noticed and widely used.{% endblock %}

{% block meta_title %}About Listing | Snapcraft{% endblock %}

{% block about_content %}
  <h1 class="p-heading--2">Make the most out of your snap page</h1>
  <p>
    After you&rsquo;ve tested the snap and you&rsquo;re happy it works as intended, here are 6 things you can do to make the snap store listing really pop and significantly increase the likelihood that the application will get noticed and widely used. <a href="/snaps">Login to your Snapcraft</a> account and take your store listing to the next level.
  </p>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Title
    </h2>
    <h3 class="p-heading--2">
      Distinctive, easy to spell
    </h3>
    <p>
      Your snap&rsquo;s name will be most likely the way users look for you in the store. You will want to make sure your name stands out from the bunch, but also that it is easy to spell and gives an idea of what the snap might do. Be accurate with the case and spacing, and remember you have up to 64 characters.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/5e42de7c-01+Title.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Subtitle
    </h2>
    <h3 class="p-heading--2">
      Short and clear
    </h3>
    <p>
      You have up to 79 characters for your summary and you will want to make sure you resonate with your audience here. The summary is intended to give a short description of what your app does and what it&rsquo;s top features are. This will often be used to determine the value your app brings to the table, so keep it short and don&rsquo;t be generic.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/abbb50ce-02+Summary.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Icon
    </h2>
    <h3 class="p-heading--2">
      First impressions matter
    </h3>
    <p>
      Your snap&rsquo;s icon is one of the first things users see about your app. It is important that it communicates quality and simplicity, as well as hinting at functionality. Make it pop by making it recognisable and avoid adding too much detail, these won’t show well in small sizes. We recommend your icon is 512x512 pixels.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/0d100b15-03+Icon.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Screenshots & Video
    </h2>
    <h3 class="p-heading--2">
      What your snap does, visually
    </h3>
    <p>
      Your snap&rsquo;s gallery will communicate what using it is like, it showcases the UI, and gives a preview of what to expect from it. The gallery can include up to 5 items that can be videos, gifs and images. We recommend using gifs or videos to generate more engagement, particularly when embedded in social campaigns. The store supports embedding videos from YouTube, Vimeo and Asciinema, the latter is excellent for showcasing your terminal applications.
    </p>
    <p>
      If the application is cross-platform, upload screenshots taken from a Linux workstation rather than reusing screenshots from other platforms.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/709c455c-04+Screenshots.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Description
    </h2>
    <h3 class="p-heading--2">
      Highlighted features
    </h3>
    <p>
      Your description should highlight the most important features and accurately describe your snap. Write it in a way that is engaging, with the right tone of voice for your audience. Remember to write the most important information first, and put all your efforts into the first sentence to catch the reader&rsquo;s attention.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/75cf35e8-05+Description.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Category
    </h2>
    <h3 class="p-heading--2">
      Other snaps that are similar
    </h3>
    <p>
      You can choose up to two categories amongst which your app will be featured. The category will aid discoverability and helps the user determine whether your app fits their needs. Make sure the category is relevant to your snap.
    </p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/5e538b40-06+Category.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
  <div class="p-strip is-shallow">
    <h2 class="p-heading--5">
      Banner
    </h2>
    <h3 class="p-heading--2">
      Get featured on the snap store
    </h3>
    <p>
      Each week the Snap Advocacy team refresh the <a href="/search?category=featured">featured snap category</a> in the store. Only Snaps with a banner qualify for promotion in the top spot. Uploading a banner does not guarantee the application will be featured, but it helps, and being featured typically generates a significant volume of new users.
    </p>
    <p>We recommend you upload a banner at least 1920 x 640 pixels or greater, up to 4320 x 1440 pixels.</p>
    {{
      image(
        url="https://assets.ubuntu.com/v1/b81ed89f-07+Banner.jpg",
        alt="",
        width="725",
        height="320",
        hi_def=True
      ) | safe
    }}
  </div>
{% endblock %}
