{% extends 'about/_about_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1xDFNtlpV8pKcYixVrri-h0LF_1OoRXTK40CYpvRLwe4{% endblock meta_copydoc %}

{% block meta_description %}Here is how to track how well your snap is doing in the community, a few tips on how to release snap updates and communicate them to your users, and some tools to help you publicise your snap.
{% endblock %}

{% block meta_title %}About Publicising | Snapcraft{% endblock %}

{% block about_content %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--2">Track and share your snap</h1>
    </div>
    <div class="col-6">
      <p>Here is how to track how well your snap is doing in the community, a few tips on how to release snap updates and communicate them to your users, and some tools to help you publicise your snap.</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    {{
      image(
        url="https://assets.ubuntu.com/v1/7e3c4182-metrics_map.jpg",
        alt="",
        height="557",
        width="1152",
        hi_def=True,
        loading="auto",
      ) | safe
    }}
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--top">
  <div class="u-fixed-width"><hr class="p-rule"></div>
  <div class="row">
    <div class="col-6">
      <h2>Your snap&rsquo;s performance</h2>
    </div>
    <div class="col-6">
      <p>To see how your snap is performing, go to the “Metrics” tab on your snap publishing pages. Here are the metrics available to you right now:</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--top">
  <div class="row">
    <div class="col-9 col-start-large-4"><hr class="p-rule"></div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <h3 class="p-heading--5">Weekly active devices</h3>
    </div>
    <div class="col-6">
      <p>A snap is a bundle of an app and its dependencies that works without modification across Linux distributions.</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--top">
  <div class="row">
    <div class="col-9 col-start-large-4"><hr class="p-rule"></div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <h3 class="p-heading--5">Snap users by OS, channel, or version</h3>
    </div>
    <div class="col-6">
      <p>If you open the dropdown above this chart in the Metrics page, you will be able to select different options to segment your users. These include the OS they are running your snaps with, what channel they are using (stable, candidate, beta or edge) and what version of your software they are on. This will help you visualise the rhythm at which your software updates are being adopted.</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--top">
  <div class="row">
    <div class="col-9 col-start-large-4"><hr class="p-rule"></div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <h3 class="p-heading--5">Snap users by territory</h3>
    </div>
    <div class="col-6">
      <p>This map shows you how many users are using your snap all around the world.</p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width"><hr class="p-rule"></div>
  <div class="u-fixed-width">
    <h2>Publicise your snap</h2>
  </div>
</section>

<section class="p-strip is-shallow u-no-padding--top">
  <div class="row u-hide--small u-hide--medium">
    <div class="col-9 col-start-large-4"><hr class="p-rule"></div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <h3 class="p-heading--5">Snap store buttons</h3>
    </div>
    <div class="col-6">
      <p>Use the “Get it from the snap store” badge on your marketing communications and pages to let your audience know about your snap. You can choose between a light and a dark button.</p>
      {{
        image(
          url="https://assets.ubuntu.com/v1/b16729d2-snap-store-black.svg",
          alt="",
          height="56",
          width="182",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-deep u-no-padding--top">
  <div class="row">
    <div class="col-9 col-start-large-4"><hr class="p-rule"></div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <h3 class="p-heading--5">GitHub badges</h3>
    </div>
    <div class="col-6">
      <p>Use the snap store GitHub badges to let your users know that they are able to get your app from Snapcraft. When your snap is flagged as trending you can also add a badge that signals this to your users.</p>
      {{
        image(
          url="https://assets.ubuntu.com/v1/6e39e0f9-badge.svg",
          alt="",
          height="20",
          width="191",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </div>
</section>
{% endblock %}
