{% extends 'about/_about_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1irw5lVtulOzUK6yNkslJgcocZuomPhpViHu3VgEKVSc{% endblock meta_copydoc %}

{% block meta_description %}Snapcraft allows you to release your snaps either by using the command line tool or the visual interface on our website.{% endblock %}

{% block meta_title %}About Releasing | Snapcraft{% endblock %}

{% block about_content %}
  <section class="p-strip--light u-no-padding--top" style="padding-bottom: 64px;">
    <div class="u-fixed-width u-no-margin--bottom u-hide--small" style="padding-top: 64px; height: 0;">
      <hr>
    </div>
    <div class="row">
      <div class="col-6 u-hide--small">
        <h1 class="p-heading--2">Release UI</h1>
      </div>
      <div class="col-6 u-hide--medium u-hide--large" style="padding-top: 35px;">
        <h1 class="p-heading--2">Release UI</h1>
      </div>
      <div class="col-6">
        <p> Snapcraft allows you to release your snaps either by using the command line tool or the visual interface on our website. If you visit your snap page, you will find a “Release” tab in which you can see which version of your software is released to each channel and architecture. The UI is a simple drag-and-drop table where you can move around the revisions of your snap, until you’re happy, before committing. </p>
        <p> If you use our build service all revisions built at the same time will be tagged as a set, allowing you to work on related revisions easily. Built revisions will also automatically be released to the edge channel &mdash; no&dash;hassle continuous deployment. </p>
      </div>
      <div class="row">
        {{ image(
            url="https://assets.ubuntu.com/v1/57ac131d-releases.jpg",
            alt="",
            width="1232",
            height="492",
            hi_def=True,
            loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </section>
  <section class="p-strip--light u-no-padding--top is-deep">
    <div class="u-fixed-width">
      <hr class="p-rule">
    </div>
    <div class="row">
      <div class="col-6">
        <h1 class="p-heading--2">Announcing updates</h1>
      </div>
      <div class="col-6">
        <p> Releasing your snap is only the first step - you also need to tell your users about it. On the <a href="/about/publicise">publicise page</a> there&rsquo;s information about badges and buttons you can use to help promote and inform users about your snap and it&rsquo;s status. We provide a badge that appears when your snap is trending on the Store to show visitors to your site that your snap is something to take a look at. </p>
      </div>
    </div>
    <div class="u-fixed-width">
      {{
        image(
          url="https://assets.ubuntu.com/v1/6a658145-publicise.jpg",
          alt="",
          height="548",
          width="1232",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </section>
{% endblock %}
