<div class="p-strip is-shallow snapcraft-banner-background">
  <div class="row">
    <ul class="p-breadcrumbs p-heading--4" style="max-width: 100%;">
      <li class="p-breadcrumbs__item">
        {% if fsf_step == 'install' or fsf_step == 'package' or fsf_step == 'build' or fsf_step == 'test' or fsf_step == 'push' %}
          <a href="/first-snap/">Select language</a>
        {% else %}
          Select language
        {% endif %}
      </li>
      <li class="p-breadcrumbs__item{% if fsf_step == 'language' %} is-disabled{% endif %}">
        {% if fsf_step == 'package' or fsf_step == 'build' or fsf_step == 'test' or fsf_step == 'push' %}
          <a href="/first-snap/{{ language }}">Install Snapcraft</a>
        {% else %}
          Install Snapcraft
        {% endif %}
      </li>
      <li class="p-breadcrumbs__item{% if fsf_step == 'language' or fsf_step == 'install' %} is-disabled{% endif %}">
        {% if fsf_step == 'language' or fsf_step == 'install' or fsf_step == 'package' %}
          Package snap
        {% else %}
          <a href="/first-snap/{{ language }}/{{ os }}/package">Package snap</a>
        {% endif %}
      </li>
      <li class="p-breadcrumbs__item{% if fsf_step == 'language' or fsf_step == 'install' %} is-disabled{% endif %}">
        {% if fsf_step == 'language' or fsf_step == 'install' or fsf_step == 'build' %}
          Build snap
        {% else %}
          <a href="/first-snap/{{ language }}/{{ os }}/build">Build snap</a>
        {% endif %}
      </li>
      {% if os and os.startswith('macos') %}
        <li class="p-breadcrumbs__item{% if fsf_step == 'language' or fsf_step == 'install' %} is-disabled{% endif %}">
          {% if fsf_step == 'language' or fsf_step == 'install' or fsf_step == 'test' %}
            Test snap
          {% else %}
            <a href="/first-snap/{{ language }}/{{ os }}/test">Test snap</a>
          {% endif %}
        </li>
      {% endif %}
      <li class="p-breadcrumbs__item{% if fsf_step == 'language' or fsf_step == 'install' %} is-disabled{% endif %}">
        {% if fsf_step == 'language' or fsf_step == 'install' or fsf_step == 'push' %}
          Publish to store
        {% else %}
          <a href="/first-snap/{{ language }}/{{ os }}/push">Publish to store</a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
