<div class="p-strip is-shallow js-os-wrapper js-macos u-hide">
  {#<div class="row">
    <h4>How would you like to set up your build environment?</h4>
    <input type="radio" name="os" value="macos-auto" id="macos-auto" />
    <label for="macos-auto">Automatic (recommended)</label>
    <input type="radio" name="os" value="macos-manual" id="macos-manual" />
    <label for="macos-manual">Set up manually with Docker</label>
  </div>#}

  <div class="row js-os-type js-macos-auto{# u-hide#}">
    <div class="col-8">
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title u-no-limit">
            <span>
              <a href="https://brew.sh" target="_blank" class="p-link--external">Install Homebrew</a>, if you don't have it already.
            </span>
          </h4>
        </li>
        <li class="p-stepped-list__item">
            <h4 class="p-stepped-list__title u-no-limit">
              <span>
                <a href="/docs/snapcraft-overview" target="_blank" class="p-link--external">Install Snapcraft</a>, the command-line tool for building snaps:
              </span>
            </h4>
            <span class="p-stepped-list__content">
              {% set snippet_value = "brew install snapcraft" %}
              {% set snippet_id = "macos-install-snapcraft" %}
              {% include "/partials/_code-snippet.html" %}
            </span>
        </li>
        <li class="p-stepped-list__item"> 
          <h4 class="p-stepped-list__title u-no-limit">
            <span>
              <a href="https://multipass.run/install" target="_blank" class="p-link--external">Install Multipass</a>, a virtualisation product from <br/>Canonical that can set up a complete Linux environment <br/>in a couple of minutes:
            </span>
          </h4>
          <span class="p-stepped-list__content">
            {% set snippet_value = "brew cask install multipass" %}
            {% set snippet_id = "macos-install-multipass" %}
            {% include "/partials/_code-snippet.html" %}
          </span>
        </li>
      </ol>
    </div>
  </div>
  {#<div class="row js-os-type js-macos-manual u-hide">
    <div class="col-8">
      <ol class="p-stepped-list has-margin">
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title u-no-limit">
            <a href="https://docs.docker.com/docker-for-mac/install/" target="_blank" class="p-link--external">Install Docker</a>
            , if you don't have it already
          </h4>
        </li>
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title u-no-limit">
            Check that Docker is correctly configured
          </h4>
          <span class="p-stepped-list__content">
            {% set snippet_value = "docker run hello-world" %}
            {% set snippet_id = "macos-docker" %}
            {% include "/partials/_code-snippet.html" %}
            <p>
              If you don't see the "Hello from Docker!" message, consult the Docker documentation for troubleshooting steps.
            </p>
          </span>
        </li>
        <li class="p-stepped-list__item">
          <h4 class="p-stepped-list__title u-no-limit">
            Pull the latest snapcraft image:
          </h4>
          <span class="p-stepped-list__content">
            {% set snippet_value = "docker pull snapcore/snapcraft" %}
            {% set snippet_id = "macos-docker-pull" %}
            {% include "/partials/_code-snippet.html" %}
          </span>
        </li>
      </ol>
    </div>
  </div>#}
</div>
