<div class="p-strip is-shallow js-os-wrapper js-linux u-hide">
  <div class="row">
    <h4>How would you like to set up your build environment?</h4>
    <input type="radio" name="os" value="linux-auto" id="linux-auto" />
    <label for="linux-auto">Automatic (recommended)</label>
    <input type="radio" name="os" value="linux-manual" id="linux-manual" />
    <label for="linux-manual">Set up manually with Docker</label>
  </div>

  <div class="row js-os-type js-linux-auto u-hide">
    <div class="col-8">
      <ol class="p-list-step has-margin">
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">1</span>
            <a href="https://docs.snapcraft.io/core/install" target="_blank" class="p-link--external">Install snap support</a>, if you don't have it already
          </h4>
        </li>
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">2</span>
            Install Snapcraft, the command-line tool for building snaps
          </h4>
          {% set snippet_value = "snap install snapcraft --classic" %}
          {% set snippet_id = "linux-install-snapcraft" %}
          {% include "/partials/_code-snippet.html" %}
        </li>
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">3</span>
            Refresh your path
          </h4>
          {% set snippet_value = "hash -r" %}
          {% set snippet_id = "linux-refresh-your-path" %}
          {% include "/partials/_code-snippet.html" %}
        </li>
      </ol>
    </div>
  </div>
  <div class="row js-os-type js-linux-manual u-hide">
    <div class="col-8">
      <ol class="p-list-step has-margin">
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">1</span>
            <a href="https://docs.docker.com/install/linux/docker-ce/ubuntu/" target="_blank" class="p-link--external">Install Docker</a>
            , if you don't have it already
          </h4>
        </li>
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">2</span>
            Check that Docker is correctly configured
          </h4>
          {% set snippet_value = "docker run hello-world" %}
          {% set snippet_id = "linux-docker" %}
          {% include "/partials/_code-snippet.html" %}
          <p class="p-list-step__content">
            If you don't see the "Hello from Docker!" message, consult the Docker documentation for troubleshooting steps.
          </p>
        </li>
        <li class="p-list-step__item">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">2</span>
            Pull the latest snapcraft image:
          </h4>
          {% set snippet_value = "docker pull snapcore/snapcraft" %}
          {% set snippet_id = "linux-docker-pull" %}
          {% include "/partials/_code-snippet.html" %}
        </li>
      </ol>
    </div>
  </div>
</div>