{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1gN_xcaAFFP_ckDvWeNDpD9ogbRXFgcXN0w0ITZQB0e4/edit#gid=779498506{% endblock %}

{% block content %}
  <div id="main-content" class="p-strip">
    {% set fsf_step = "build" %}
    {% include "first-snap/_breadcrumb.html" %}

    <div class="row">
      <div class="col-8">
        <ol class="p-list-step has-margin">
          {% for step in steps %}
            <li class="p-list-step__item">
              <h4 class="p-list-step__title">
                <span class="p-list-step__bullet">{{ loop.index }}</span>
                {{ step.action }}
              </h4>
              {% if step.command %}
                {% set snippet_value = step.command %}
                {% set snippet_id = loop.index %}
                {% if snippet_value.count('\n') == 0 %}
                  {% include "/partials/_code-snippet.html" %}
                {% else %}
                  {% include "/partials/_code-snippet-multi.html" %}
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
          {% if os.startswith('linux') %}
          <div class="p-notification--caution">
              <p class="p-notification__response">
                <span class="p-notification__status"></span>
                You should change any instance of <code>offlineimap</code> to <code>test-offlineimap-{name}</code> (where <code>{name}</code> is your name).
              </p>
            </div>
            {% endif %}

        </ol>

      </div>
    </div>

    <div class="row">
      <hr />
    </div>

    <div class="row">
      {% if os.startswith('macos') %}
        Once built, it's time to test the snap.
        <a class="p-button--positive u-float--right js-continue" href="/first-snap/{{ language }}/{{ os }}/test">Continue</a>
      {% else %}
        If it's working, the next step is to push it to the Snap Store.
        <a class="p-button--positive u-float--right js-continue" href="/first-snap/{{ language }}/{{ os }}/push">Continue</a>
      {% endif %}
    </div>

  </div>
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script>
    Raven.context(function() {
      if (typeof ClipboardJS !== 'undefined') {
        new ClipboardJS('.js-clipboard-copy');
      }
    });
  </script>
{% endblock %}