{% extends webapp_config['LAYOUT'] %}

{% block content %}
  <div id="main-content" class="p-strip">
    {% set fsf_step = "install" %}
    {% include "first-snap/_breadcrumb.html" %}
    <div class="row">
      <p>Now we'll set up Snapcraft, the tool for building snaps.</p>
      <h4>What operating system are you developing on?</h4>
    </div>
    <div class="row">
      <div class="col-6 p-fluid-grid">
        <a class="p-logo-link p-fluid-grid__item--small p-card u-align-text--center js-os-select" data-os="linux">
          <header class="p-card__header">
            <img src="https://assets.ubuntu.com/v1/701da9c0-icon-prepackaged-apps.svg" alt="">
          </header>
          <span>Linux</span>
        </a>
        <a class="p-logo-link p-fluid-grid__item--small p-card u-align-text--center js-os-select" data-os="macos">
          <header class="p-card__header">
            <img src="https://assets.ubuntu.com/v1/701da9c0-icon-prepackaged-apps.svg" alt="">
          </header>
          <span>macOS</span>
        </a>
        <a class="p-logo-link p-fluid-grid__item--small p-card u-align-text--center js-os-select" data-os="windows">
          <header class="p-card__header">
            <img src="https://assets.ubuntu.com/v1/701da9c0-icon-prepackaged-apps.svg" alt="">
          </header>
          <span>Windows</span>
        </a>
      </div>
    </div>

    {% include "first-snap/_install-linux.html" %}

    {% include "first-snap/_install-macos.html" %}

    {% include "first-snap/_install-windows.html" %}

    <div class="row">
      <hr />
    </div>

    <div class="row">
      <p class="u-float--left">Next, we'll package an example snap.</p>
      <a class="p-button--positive u-float--right js-continue">Continue</a>
    </div>

  </div>
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/public.js') }}"></script>
  <script>
    Raven.context(function() {
      snapcraft.public.firstSnapFlow.install({{ language|tojson }});
    });
  </script>
{% endblock %}