{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1gN_xcaAFFP_ckDvWeNDpD9ogbRXFgcXN0w0ITZQB0e4/edit#gid=779498506{% endblock %}

{% block content %}
<div id="main-content" class="p-strip">
  {% set fsf_step = "language" %}
  {% include "first-snap/_breadcrumb.html" %}

  <div class="row">
    <p>First pick the language your app is written in.</p>
  </div>

  {% include "partials/fsf_language.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ static_url('js/dist/public.js') }}"></script>
<script>
  Raven.context(function () {
    snapcraft.public.initFSFLanguageSelect(document.querySelector('.js-fsf-language-select'));
  });
</script>
{% endblock %}
