{% set fsf_step = "package" %}
{% extends "first-snap/_layout_fsf.html" %}

{% block fsf_content %}
  <div class="row">
    <div class="p-accordion" role="tablist" aria-multiselect="true">
      <ol class="p-accordion__list">
        <li class="p-accordion__group">
          <button {% if has_user_chosen_name %}aria-expanded="false"{% else %}aria-expanded="true"{% endif %} type="button" class="p-accordion__tab" id="tab1" role="tab" aria-controls="#tab1-section" >
            <h4 class="u-no-margin--bottom">
              Step 1: Choose snap name
              {% if has_user_chosen_name %}<i class="p-icon--success"></i>{% endif %}
            </h4>
          </button>
          <section class="p-accordion__panel" id="tab1-section" role="tabpanel" {% if has_user_chosen_name %}aria-hidden="true"{% else %}aria-hidden="false"{% endif %} aria-labelledby="tab1-section">
            <div class="p-strip is-shallow">
              <div class="row">
                <div class="col-8">
                  <form id="choose-name-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label>Please pick a snap name for the purpose of this tutorial:</label>
                    <div class="p-form-validation">
                      <input class="p-form-validation__input" type="text" name="snap-name" value="{{ snap_name }}" />
                      <p class="p-form-validation__message" id="input-error-message-inline" role="alert">
                        Name should only have lowercase letters, numbers, and hyphens, must have at least one letter, and cannot start or end with a hyphen.
                      </p>
                    </div>
                    <button class="p-button--positive" {% if "{name}" in snap_name %} disabled{% endif %}>Choose snap name</button>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </li>
        <li class="p-accordion__group">
          <button {% if has_user_chosen_name %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} type="button" class="p-accordion__tab" id="tab2" role="tab" aria-controls="#tab2-section">
            <h4 class="u-no-margin--bottom">
              Step 2: Download your snapcraft.yaml
            </h4>
          </button>
          <section class="p-accordion__panel" id="tab2-section" role="tabpanel" {% if has_user_chosen_name %}aria-hidden="false"{% else %}aria-hidden="true"{% endif %} aria-labelledby="tab2-section">
            <div class="p-strip is-shallow">
              <div class="row">
                <div class="col-9">
                  <p>A <a href="/docs/snapcraft-format">snapcraft.yaml file</a> holds the basic meta data for the snap.</p>
                  <p>We have generated an example snapcraft.yaml for you using the snap name you have chosen, don’t worry you can edit this at any point later on.</p>
                  <p>To discover more about the <code>snapcraft.yaml</code>, mouse over each piece of metadata in the interactive <code>.yaml</code> viewer below:</p>
                  <div class="p-annotated-code">
                    <div class="p-annotated-code__filename">snapcraft.yaml</div>
                    {% for key in snapcraft_yaml %}
                      <div class="p-annotated-code__block p-tooltip p-tooltip--btm-center">
                        <code>{{ snapcraft_yaml[key]|safe }}</code>
                        <span class="p-tooltip__message">{{ annotations[key]|safe }}</span>
                      </div>
                    {% endfor %}
                  </div>
                  <p><a class="p-button--positive" href="/first-snap/{{ language }}/snapcraft.yaml" download>Download snapcraft.yaml file</a>
                </div>
              </div>
            </div>
          </section>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block fsf_pagination %}
  <a class="p-button--neutral" href="/first-snap/{{ language }}">
    &lsaquo; Previous: Install Snapcraft
  </a>

  <a class="p-button--positive u-float-right u-no-margin--right" href="/first-snap/{{ language }}/{{ os }}/build">
    Next: Build snap &rsaquo;
  </a>
{% endblock %}

{% block scripts %}
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      Raven.context(function() {
        snapcraft.public.firstSnapFlow.initChooseName(
          document.getElementById("choose-name-form"),
           "{{language}}"
        );
        snapcraft.public.initAccordion('.p-accordion__list');
      });
    });
  </script>
  {{ super() }}
{% endblock %}
