{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1gN_xcaAFFP_ckDvWeNDpD9ogbRXFgcXN0w0ITZQB0e4/edit#gid=779498506{% endblock %}

{% block content %}
  <div id="main-content" class="p-strip">
    {% set fsf_step = "push" %}
    {% include "first-snap/_breadcrumb.html" %}

    <div class="row">
      <ol class="p-list-step has-margin">
        {% if not user %}
          <li class="p-list-step__item col-8">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">1</span>
              Create an Ubuntu One account
            </h4>
            <div class="p-list-step__content">
              <p>This lets you make releases, alter your store listing and see usage metrics.</p>
              <div class="row">
                <p class="col-5">
                  <img src="https://assets.ubuntu.com/v1/cd588a80-ubuntu-one.png" />
                </p>
              </div>
              <a href="/login" class="p-button--positive p-link--external">Register / Sign in...</a>
            </div>
          </li>
        {% else %}
          <li class="p-list-step__item col-8 u-no-margin--left">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">1</span>
              Create an Ubuntu One account
            </h4>
            <div class="p-list-step__content">
              <p>This lets you make releases, alter your store listing and see usage metrics.</p>
            </div>
          </li>
          <li class="p-list-step__item col-8 u-no-margin--left">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">2</span>
              Okay {{ user.display_name }}, now log in with the same account at the terminal
            </h4>
            {% set snippet_value = "snapcraft login" %}
            {% set snippet_id = "snapcraft-login" %}
            {% include "/partials/_code-snippet.html" %}
          </li>
          <li class="p-list-step__item col-8 u-no-margin--left">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">3</span>
              Register the snap name from the snapcraft.yaml
            </h4>
            {% set snippet_value = "snapcraft register " + snap_name %}
            {% set snippet_id = "snapcraft-login" %}
            {% set snippet_id = "snapcraft-register" %}
            {% include "/partials/_code-snippet.html" %}
            <p class="p-list-step__content">If you chose a different name, update the snapcraft.yaml as well, and run snapcraft again.</p>
          </li>
          <li class="p-list-step__item col-8 u-no-margin--left">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">4</span>
              Push to the Snap store
            </h4>
            {% set snippet_value = "snapcraft push" %}
            {% set snippet_id = "snapcraft-push" %}
            {% include "/partials/_code-snippet.html" %}
          </li>
        {% endif %}
      </ol>
    </div>

    <div class="row">
      <hr />
    </div>

    <div class="row">
      <p class="u-float--left">
        Once you've pushed to the Snap store, <a href="/snaps">visit your published snaps</a>.
      </p>
      <a class="p-button--neutral u-float--right js-continue">
        <i class="p-icon--spinner u-animation--spin"></i>
        &nbsp;Waiting for push...</a>
    </div>
  </div>
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/public.js') }}"></script>
  <script>
    Raven.context(function() {
      {% if user %}
        snapcraft.public.firstSnapFlow.push({{ language|tojson }});
      {% endif %}
      if (typeof ClipboardJS !== 'undefined') {
        new ClipboardJS('.js-clipboard-copy');
      }
    });
  </script>
{% endblock %}