{% set fsf_step = "push" %}
{% extends "first-snap/_layout_fsf.html" %}

{% block fsf_content %}
  <div class="row">
    <ol class="p-list-step has-margin">
      {% if not user %}
        <li class="p-list-step__item col-8">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">1</span>
            Create an Ubuntu One account
          </h4>
          <div class="p-list-step__content">
            <p>This lets you make releases, alter your store listing and see usage metrics.</p>
            <div class="row">
              <p class="col-5">
                <img src="https://assets.ubuntu.com/v1/cd588a80-ubuntu-one.png" />
              </p>
            </div>
            <a href="/login" class="p-button--positive p-link--external">Register / Sign in...</a>
          </div>
        </li>
      {% else %}
        <li class="p-list-step__item col-8 u-no-margin--left">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">1</span>
            Create an Ubuntu One account <i class="p-icon--success"></i>
          </h4>
          <div class="p-list-step__content">
            <p>This lets you make releases, alter your store listing and see usage metrics.</p>
            <div class="row">
              <p class="col-5">
                <img src="https://assets.ubuntu.com/v1/cd588a80-ubuntu-one.png" />
              </p>
            </div>
          </div>
        </li>
        <li class="p-list-step__item col-8 u-no-margin--left">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">2</span>
            Okay {{ user.display_name }}, now log in with the same account at the terminal
          </h4>
          {% set snippet_value = "snapcraft login" %}
          {% set snippet_id = "snapcraft-login" %}
          {% include "/partials/_code-snippet.html" %}
        </li>
        <li class="p-list-step__item col-8 u-no-margin--left">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">3</span>
            Register the snap name from the snapcraft.yaml
          </h4>
          {% set snippet_value = "snapcraft register " + snap_name %}
          {% set snippet_id = "snapcraft-login" %}
          {% set snippet_id = "snapcraft-register" %}
          {% include "/partials/_code-snippet.html" %}
          <div class="p-notification--caution">
            <p class="p-notification__response">
              <span class="p-notification__status"></span>
              Make sure the name matches what has been used previously (i.e <code>{{ snap_name }}</code>)
            </p>
          </div>
        </li>

        <li class="p-list-step__item col-8 u-no-margin--left">
          <h4 class="p-list-step__title">
            <span class="p-list-step__bullet">4</span>
            Push to the Snap store
          </h4>
          {% set snippet_value = "snapcraft push --release edge *.snap" %}
          {% set snippet_id = "snapcraft-push" %}
          {% include "/partials/_code-snippet.html" %}
        </li>
      {% endif %}
    </ol>
  </div>

  <div class="row">
    <hr />
  </div>

  <div class="row">
    <p class="u-float--left">
      Once you've pushed to the Snap store, edit your snap public presentation.
    </p>
    <a class="p-button--neutral u-float--right js-continue is--disabled">
      <i class="p-icon--spinner u-animation--spin"></i>
      &nbsp;Waiting for push...</a>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/public.js') }}"></script>
  {% if user %}
  <script>
    Raven.context(function() {
      snapcraft.public.firstSnapFlow.push({{ language|tojson }});
    });
  </script>
  {% endif %}
  {{ super() }}
{% endblock %}
