{% set fsf_step = "test" %}
{% extends "first-snap/_layout_fsf.html" %}

{% block fsf_content %}
  <div class="row">
    <div class="col-8">
      <ol class="p-list-step has-margin">
        {% for step in steps %}
          <li class="p-list-step__item">
            <h4 class="p-list-step__title">
              <span class="p-list-step__bullet">{{ loop.index }}</span>
              {{ step.action|safe }}
            </h4>
            {% if step.command %}
              {% set snippet_value = step.command %}
              {% set snippet_id = loop.index %}
              {% if snippet_value.count('\n') == 0 %}
                {% include "/partials/_code-snippet.html" %}
              {% else %}
                {% include "/partials/_code-snippet-multi.html" %}
              {% endif %}
            {% endif %}
            {% if step.warning %}
                <div class="p-notification--caution">
                  <p class="p-notification__response">
                    {{ step.warning|safe }}
                  </p>
                </div>
              {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="row">
    <hr />
  </div>

  <div class="row">
    If it's working, the next step is to push it to the Snap Store.
    <a class="p-button--positive u-float--right js-continue" href="/first-snap/{{ language }}/{{ os }}/push">Continue</a>
  </div>
{% endblock %}
