{% extends webapp_config['LAYOUT'] %}

{% block content %}
  <div id="main-content" class="p-strip">
    {% set fsf_step = "test" %}
    {% include "first-snap/_breadcrumb.html" %}

    <div class="row">
      <div class="col-8">
        <ol class="p-list-step">
          {% for step in steps %}
            <li class="p-list-step__item">
              <h4 class="p-list-step__title">
                <span class="p-list-step__bullet">{{ loop.index }}</span>
                {{ step.action }}
              </h4>
              {% if step.command %}
                {% set snippet_value = step.command %}
                {% set snippet_id = loop.index %}
                {% include "/partials/_code-snippet.html" %}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="row">
      <hr />
    </div>

    <div class="row">
      If it's working, the next step is to push it to the Snap Store.
      <a class="p-button--positive u-float--right js-continue" href="/first-snap/{{ language }}/{{ os }}/push">Continue</a>
    </div>

  </div>
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script>
    Raven.context(function() {
      if (typeof ClipboardJS !== 'undefined') {
        new ClipboardJS('.js-clipboard-copy');
      }
    });
  </script>
{% endblock %}