@mixin snapcraft-market-screenshots {
  .p-screenshots-toolbar {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    .p-screenshots-toolbar__buttons {
      margin: 0;
    }

    .p-icon--fullscreen {
      @extend %icon;
      background-image: url('#{$assets-path}c566f22e-fullscreen-grey_16.svg');
    }
  }

  .p-empty-add-screenshots {
    background: $color-light;
    display: block;
    padding: $sp-x-large;
    text-align: center;
  }

  .p-screenshot__holder {
    .p-screenshot {
      &.selected {
        outline: 1px solid $color-focus;
        outline-offset: 2px;
      }
    }

    .p-screenshot[src^='blob'] {
      & + .p-screenshot__delete,
      & + .p-screenshot__revert {
        display: none;
      }
    }

    &:hover {
      .p-screenshot__delete {
        opacity: 1;
      }
    }

    &.is-deleted {
      .p-screenshot__delete {
        display: none;
      }

      .p-screenshot__revert {
        display: block;
      }

      .p-screenshot {
        filter: grayscale(100%);
        opacity: .6;
      }
    }
  }
}
