<section class="p-strip--light is-deep featured-snaps-search-container homepage-suru-strip--mobile">
  <div class="row">
    <div class="col-6 col-start-large-4">
      <h1 class="p-heading--2"><strong>The app store for Linux</strong></h1>
      <form class="p-search-box" action="/search">
        <label class="u-off-screen" for="search">Search</label>
        <input type="search" id="search" class="p-search-box__input" name="q" placeholder="Search thousands of snaps" required="" autocomplete="on">
        <button type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button>
        <button type="submit" class="p-search-box__button"><i class="p-icon--search">Search</i></button>
      </form>
    </div>
  </div>
</section>

<section class="p-strip--light is-deep u-no-padding--top homepage-suru-strip--desktop">
  <div class="u-fixed-width u-hide--small u-hide--medium"><hr class="p-rule"></div>
  <div class="row--25-75">
    <div class="col">
      <h2 class="p-muted-heading" style="margin-bottom: 32px;">Snaps you may like</h2>
      <div class="p-side-navigation u-hide--small u-hide--medium">
        <ul class="p-side-navigation__list">
          {% for category in featured_categories %}
            <li class="p-side-navigation__item">
              <a href="#" class="p-side-navigation__link" data-js="featured-category-switch" data-category="{{ category }}" {% if loop.index == 1 %}aria-current="page"{% endif %}>{{ category }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="p-tabs u-hide--large">
        <ul class="p-tabs__list is-light">
          {% for category in featured_categories %}
            <li class="p-tabs__item">
              <a href="#" class="p-tabs__link" data-js="featured-category-switch" data-category="{{ category }}" {% if loop.index == 1 %}aria-selected="true"{% endif %}>{{ category }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="row">
        {% for i in range(0, 3) %}
          <div class="col-3 col-medium-2 featured-snap-card" data-js="featured-snap-card">
            <div class="snap-card-placeholder" data-js="featured-snap-card-placeholder">
              <div class="snap-card-placeholder__image"></div>
              <div class="snap-card-placeholder__title"></div>
              <div class="snap-card-placeholder__publisher"></div>
              <div class="snap-card-placeholder__description"></div>
            </div>
            <div class="u-hide" data-js="featured-snap-card-content"></div>
          </div>
        {% endfor %}
      </div>
      <hr class="p-rule">
      <p class="u-no-margin--bottom">
        <a href="/search?category={{ featured_categories[0]|lower }}" data-js="view-category-link">
          View all {{ featured_categories[0]|lower }} snaps
        </a>
      </p>
      <p><a href="/store">View all snaps</a></p>
    </div>
  </div>
  <template style="display: none;" id="featured-snap-card">
    <div class="p-media-object">
      <p>
        <a href="" data-js="snap-icon-link">
          <img class="p-media-object__image" src="" alt="" data-js="snap-icon" width="64" height="64" style="display: block;">
        </a>
      </p>
      <div class="p-media-object__details">
        <h3 class="p-heading--5 u-no-margin--bottom" data-js="snap-title">
          <a class="p-link--soft" href="" data-js="snap-title-link"></a>
        </h3>
        <p class="u-no-padding--top u-text-muted" data-js="snap-publisher"></p>
        <p data-js="snap-description" class="u-line-clamp--3" style="min-height: 80px;"></p>
      </div>
    </div>
  </template>
</section>
