<div class="u-hide" data-flow-details="c">
  <hr class="p-rule u-hide--large">
  <div class="row">
    <div class="col-3">
      <h3 class="p-heading--5">Why are snaps good for C/C++ projects?</h3>
    </div>
    <div class="col-6">
      <ul class="p-list--divided">
        <li class="p-list__item has-bullet">Snaps are easy to discover and install. Millions of users can browse and install snaps graphically in the Snap Store or from the command-line.</li>
        <li class="p-list__item has-bullet">Snaps install and run the same across Linux. They bundle the exact versions of your app’s dependencies.</li>
        <li class="p-list__item has-bullet">Snaps automatically update to the latest version. Four times a day, users’ systems will check for new versions and upgrade in the background.</li>
        <li class="p-list__item has-bullet">Upgrades are not disruptive. Because upgrades are not in-place, users can keep your app open as it’s upgraded in the background.</li>
        <li class="p-list__item has-bullet">Upgrades are safe. If your app fails to upgrade, users automatically roll back to the previous revision.</li>
      </ul>
      <p>In just a few steps, you’ll have an example C/C++ app in the Snap Store.</p>
    </div>
  </div>
  <hr class="p-rule">
    <div class="row">
      <div class="col-3">
        <h3 class="p-heading--5">Here's how <a href="https://snapcraft.io/dosbox-x">dosbox</a> defines snapcraft.yaml:</h3>
      </div>
      <div class ="p-show-more is-collapsed col-6" data-js="js-show-more">
        <pre class="p-code-yaml"><b>name</b>: dosbox
<b>version</b>: "0.74-svn"
<b>summary</b>: DOS emulator
<b>description</b>: |
    DOSBox is a x86 emulator with Tandy/Hercules/[&hellip;]

<b>confinement</b>: devmode
<b>base</b>: core18

<b>parts</b>:
  <b>dosbox</b>:
    <b>plugin</b>: autotools
    <b>source-type</b>: tar
    <b>source</b>: http://source.dosbox.com/dosboxsvn.tgz
    <b>build-packages</b>:
    - g++
    - make
    - libsdl1.2-dev
    [&hellip;]
    - libasound2-dev
    <b>stage-packages</b>:
    - libsdl-sound1.2
    - libsdl-net1.2
    - libxcursor1
    [&hellip;]
    - zlib1g

  <b>apps</b>:
    <b>dosbox</b>:
      <b>command</b>: dosbox
      <b>environment</b>:
        "LD_LIBRARY_PATH": "$SNAP/usr/lib/
        $SNAPCRAFT_ARCH_TRIPLET/pulseaudio"
        "DISABLE_WAYLAND": "1"</pre>

        {% include "home/_fsf_yaml_show_more.html" %}

    </div>
  </div>

  <div class="u-align--right">
    <hr>
    <a class="p-button--positive" href="/docs/c-c-applications">Continue &rsaquo;</a>
  </div>
</div>
