<div class="col-12 p-flow-details" style="display: none" data-flow-details="python">
  <div class='col-6'>
    <h4>Why are snaps good for Python projects?</h4>
    <ul>
      <li>The Snap Store makes your app easy to discover and install for millions of users, graphically or at the command line</li>
      <li>Automatic updates migrate your users to the latest stable version</li>
      <li>If an update fails, the previous version is reverted, preserving data</li>
      <li>Isolation prevents conflicts between applications</li>
      <li>Identical behaviour across Linux distributions, even with C library dependencies</li>
    </ul>
    <p>With PyPi you can distribute Python apps, and <code>virtualenv</code> gives you a solution to app and system dependencies. Snaps combine these ideas, offering a Linux app store experience for end users.</p>
  </div>

  <div class='col-6'>
    <h4>Here’s how <a href="/offlineimap">offlineimap</a> uses it:</h4>
    <!-- <p>Take a look at the <code>offlineimap/snapcraft.yaml</code></p> -->
    <code class="p-code-yaml"><pre><b>name</b>: offlineimap
<b>version</b>: git
<b>summary</b>: OfflineIMAP
<b>description</b>: >
  OfflineIMAP is software that downloads your email mailbox(es) as local
  Maildirs. OfflineIMAP will synchronize both sides via IMAP.

<b>confinement</b>: devmode

<b>parts</b>:
  <b>offlineimap</b>:
    <b>plugin</b>: python
    <b>python-version</b>: python2
    <b>source</b>: .
    <b>stage-packages</b>:
      <b>- python-six</b>

<b>apps</b>:
  <b>offlineimap</b>:
    <b>command</b>: bin/offlineimap</pre></code>
  </div>

  <div class="p-flow-details__continue">
    In just a few steps, you’ll have an example Python app in the Snap Store.
    <a class="p-button--positive is-inline" href="/first-snap/python">Continue</a>
  </div>
</div>
