<div class="col-12 p-flow-details" style="display: none" data-flow-details="java">
  <div class="row">
    <div class="col-6">
      <h4>Why are snaps good for Java projects?</h4>
      <ul>
        <li>Simplify installation instructions, regardless of distribution, to snap install myjavaapp.</li>
        <li>Directly control the delivery of automatic application updates.</li>
      </ul>
      <p>Distributing a Java application for Linux and reaching the widest possible audience is complicated. Typically, the user has to make sure the JRE/SDK version and their environment are configured correctly. When a Linux distribution changes the delivered JRE, this can be problematic for applications. Snapcraft ensures the correct JRE is shipped alongside the application at all times.</p>

      <div class="p-flow-details__continue">
        <p>In just a few steps, you’ll have an example Java app in the Snap Store.</p>
        <a class="p-button--positive" href="/first-snap/java">Continue &rsaquo;</a>
      </div>
    </div>

    <div class="col-6">
      <h4>Here's how <a href="https://snapcraft.io/freeplane-mindmapping">freeplane</a> defines snapcraft.yaml:</h4>
      <code class="p-code-yaml"><pre><b>name</b>: freeplane
          <b>version</b>: '1.6.10'
          <b>summary</b>: Application for Mind Mapping, Knowledge and Project Management
          <b>description</b>: |
          Freeplane is a free and open source software
          application that supports thinking, sharing
          information and getting things done at work,
          in school and at home. The core of the
          software is tools for mind mapping (also known
          as concept mapping or information mapping)
          and using mapped information.

          <b>confinement</b>: devmode

          <b>parts:</b>
          <b>freeplane:</b>
          <b>after:</b> [desktop-glib-only]
          <b>plugin:</b> gradle
          <b>source:</b> .
          <b>build:</b> |
          export JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"
          gradle release -x test -x createGitTag
          <b>install:</b> |
          unzip DIST/freeplane_bin-*.zip -d $SNAPCRAFT_PART_INSTALL/
          <b>build-packages:</b>
          - unzip
          - openjdk-8-jdk

          <b>apps</b>:
          <b>freeplane</b>:
          <b>command</b>: desktop-launch $SNAP/freeplane-1.6.10/freeplane.sh</pre></code>
    </div>
  </div>
</div>
