<div class="col-12 p-flow-details" style="display: none" data-flow-details="go">
  <div class='col-6'>
    <h4>Why are snaps good for Go projects?</h4>
    <ul>
      <li>Easy to discover and install by millions using the Snap Store or command-line every day</li>
      <li>Automatically updated to the latest stable version of your app</li>
      <li>Revert to the previous version if an update fails, preserving data</li>
    </ul>
    <p>
      Programming in Go makes it easy to create a zip of your app that runs across Linux, without dependencies.
      However, end user discovery and update management remain a challenge.
      Snaps fill this gap, letting you distribute a Go app in an app store experience for end users.
    </p>
  </div>

  <div class='col-6'>
    <h4>Here’s how httplab uses it:</h4>
    <code class="p-code-yaml"><pre><b>name</b>: httplab
<b>version</b>: git
<b>summary</b>: An interactive web server.
<b>description</b>: |
  HTTPLab let you inspect HTTP requests and forge responses.

<b>confinement</b>: devmode

<b>parts</b>:
  <b>httplab</b>:
    <b>plugin</b>: go
    <b>go-importpath</b>: github.com/gchaincl/httplab
    <b>source</b>: .
    <b>source-type</b>: git

<b>apps</b>:
  <b>httplab</b>:
    <b>command</b>: bin/httplab</pre></code>
</div>

<div class="p-flow-details__continue">
    In just a few steps, you’ll have an example Go app in the Snap Store.
    <a class="p-button--positive is-inline" href="/first-snap/golang">Continue</a>
  </div>
</div>
