<div class="col-12 p-flow-details" style="display: none" data-flow-details="ros2">
  <div class='col-6'>
    <h4>Why are snaps good for ROS2 projects?</h4>
    <ul>
      <li>Bundle all the runtime requirements, including the exact version of ROS, system libraries, etc.</li>
      <li>Expand the distributions supported beyond just Ubuntu.</li>
      <li>Directly control the delivery of application updates.</li>
      <li>Extremely simple creation of daemons.</li>
    </ul>
  </div>

  <div class="p-flow-details__continue">
    In just a few steps, you’ll have an example ROS2 app in the Snap Store.
    <a class="p-button--positive is-inline" href="https://docs.snapcraft.io/build-snaps/ros2">Continue</a>
  </div>
</div>
