<div class="col-12 p-flow-details" style="display: none" data-flow-details="python">
  <div class='col-6'>
    <h4>Why are snaps good for Python projects?</h4>
    <ul>
      <li>Easy to discover and install by millions using the Snap Store or command-line every day</li>
      <li>Automatically updated to the latest stable version of your app</li>
      <li>Revert to the previous version if an update fails, preserving data</li>
      <li>Isolation ensures no conflicts between applications</li>
      <li>Identical behaviour across Linux distributions, even with library dependencies</li>
    </ul>
    <p>
      With PyPI you can distribute apps to other developers, but it’s not tailored to end users.
      Virtualenv lets you install an app’s dependencies in isolation, but it’s not automatically used for installs from PyPI.
      Snaps let you distribute a dependency-isolated Python app in an app store experience for end users.
    </p>
    <div class="p-flow-details__continue">
      <p>In just a few steps, you’ll have an example Python app in the Snap Store.</p>
      <a class="p-button--positive" href="/first-snap/python">Continue &rsaquo;</a>
    </div>
  </div>

  <div class='col-6'>
    <h4>Here's how <a href="https://snapcraft.io/offlineimap">offlineimap</a> defines snapcraft.yaml:</h4>
    <code class="p-code-yaml"><pre><b>name</b>: offlineimap
<b>version</b>: git
<b>summary</b>: OfflineIMAP
<b>description</b>: |
  OfflineIMAP is software that downloads your email mailbox(es) as local
  Maildirs. OfflineIMAP will synchronize both sides via IMAP.

<b>confinement</b>: devmode
<b>base</b>: core18

<b>parts</b>:
  <b>offlineimap</b>:
    <b>plugin</b>: python
    <b>python-version</b>: python2
    <b>source</b>: .
    <b>stage-packages</b>:
      <b>- python-six</b>

<b>apps</b>:
  <b>offlineimap</b>:
    <b>command</b>: bin/offlineimap</pre></code>
  </div>
</div>
