<div class="col-{{ columns }} u-hide" data-flow-details="flutter">
  <div class="row">
    <div class="col-{{ (columns/2) | int }}">
      <h4>Why are snaps good for Flutter projects?</h4>
      <ul>
        <li>Snaps are easy to discover and install. Millions of users can browse and install snaps graphically in the Snap Store or from the command-line.</li>
        <li>Snaps install and run the same across Linux. They bundle the exact versions of your app’s dependencies.</li>
        <li>Snaps automatically update to the latest version. Four times a day, users’ systems will check for new versions and upgrade in the background.</li>
        <li>Upgrades are not disruptive. Because upgrades are not in-place, users can keep your app open as it’s upgraded in the background.</li>
        <li>Upgrades are safe. If your app fails to upgrade, users automatically roll back to the previous revision.</li>
      </ul>

      <div class="p-flow-details__continue">
        <p>In just a few steps, you’ll have an example Flutter app in the Snap Store.</p>
        <a class="p-button--positive" href="/first-snap/flutter/">Continue &rsaquo;</a>
      </div>
    </div>

    <div class="col-{{ (columns/2) | int }}">
      <h4>Here's how <a href="https://snapcraft.io/super-cool-app">super-cool-app</a> defines snapcraft.yaml:</h4>
      <div class ="p-show-more is-collapsed" data-js="js-show-more">
        <pre class="p-code-yaml"><b>name</b>: super-cool-app
<b>version</b>: "1.0"
<b>summary</b>: Super Cool App
<b>description</b>: |
    Super Cool App that does everything! [&hellip;]

<b>confinement</b>: strict
<b>base</b>: core18

<b>parts</b>:
  <b>super-cool-app</b>:
    <b>plugin</b>: flutter
    <b>source</b>: https://github.com/kenvandine/super-cool-app.git
    <b>flutter-target</b>: lib/main.dart

<b>apps</b>:
  <b>super-cool-app</b>:
    <b>command</b>: super_cool_app
    <b>extensions</b>: [flutter-dev]</pre>

        {% include "home/_fsf_yaml_show_more.html" %}

      </div>
    </div>
  </div>
</div>
