<div class="col-12 p-flow-details" style="display: none" data-flow-details="moos">
  <div class='col-6'>
    <h4>Why are snaps good for MOOS projects?</h4>
    <ul>
      <li>Snaps are easy to discover and install. Millions of users can browse and install snaps graphically in the Snap Store or from the command-line.</li>
      <li>Snaps install and run the same across Linux. They bundle the exact version of MOOS/MOOS-IvP required and your app’s library dependencies.</li>
      <li>Snaps automatically update to the latest version. Four times a day, users’ systems will check for new versions and upgrade in the background.</li>
      <li>Upgrades are not disruptive. Because upgrades are not in-place, users can keep your app open as it’s upgraded in the background.</li>
      <li>Upgrades are safe. If your app fails to upgrade, users automatically roll back to the previous revision.</li>
    </ul>
  </div>

  <div class="p-flow-details__continue">
    In just a few steps, you’ll have an example MOOS app in the Snap Store.
    <a class="p-button--positive is-inline" href="https://docs.snapcraft.io/build-snaps/moos">Continue</a>
  </div>
</div>
