<div class="col-12 p-flow-details" style="display: none" data-flow-details="moos">
  <div class='col-6'>
    <h4>Why are snaps good for MOOS projects?</h4>
    <ul>
      <li>Bundle all the runtime requirements, including the exact version of MOOS/MOOS-IvP and system libraries you need.</li>
      <li>Expand the distributions supported beyond just Ubuntu.</li>
      <li>Directly and reliably control the delivery of application updates using existing infrastructure.</li>
      <li>Extremely simple creation of daemons.</li>
    </ul>
  </div>

  <div class='col-6'>
    <h4>How moos-ping defines snapcraft.yaml:</h4>
    <code class="p-code-yaml"><pre>
<b>name</b>: moos-ping
<b>version</b>: '0.1'
<b>summary</b>: MOOS Ping Example
<b>description</b>: |
  The main communication mechanism for all 
  MOOS apps.

<b>confinement</b>: devmode
<b>base</b>: core18

<b>parts</b>:
  <b>moos</b>:
    <b>source</b>: https://github.com/themoos/ \
	core-moos/archive/10.0.2.a-release.tar.gz
    <b>build-packages</b>:
      - gcc
      - g++
      - make
    <b>plugin</b>: cmake
    <b>configflags</b>:
      - -DCMAKE_INSTALL_PREFIX=/

<b>apps</b>:
  <b>MOOSDB</b>:
    <b>command</b>: MOOSDB
</pre></code>
  </div>

  <div class="p-flow-details__continue">
    In just a few steps, you’ll have an example MOOS app in the Snap Store.
    <a class="p-button--positive is-inline" href="/first-snap/moos">Continue</a>
  </div>
</div>
