<div class="col-12 p-flow-details" style="display: none" data-flow-details="node">
  <div class="row">
    <div class="col-6">
      <h4>Why are snaps good for Node.js projects?</h4>
      <ul>
        <li>Easy to discover and install by millions using the Snap Store or command-line every day.</li>
        <li>Automatically updated to the latest stable version of your app.</li>
        <li>Revert to the previous version if an update fails, preserving data.</li>
      </ul>
      <p>With npm you can distribute apps to other developers, but it’s not tailored to end users. Snaps let you distribute your Node app in an app store experience.</p>
      <div class="p-flow-details__continue">
        <p>In just a few steps, you’ll have an example Node.js app in the Snap Store.</p>
        <a class="p-button--positive" href="/first-snap/node">Continue &rsaquo;</a>
      </div>
    </div>

    <div class="col-6">
      <h4>Here's how <a href="https://snapcraft.io/wethr">wethr</a> defines snapcraft.yaml:</h4>
      <code class="p-code-yaml"><pre><b>name</b>: wethr
          <b>version</b>: git
          <b>summary</b>: Command line weather tool.
          <b>description</b>: |
          Get current weather:-
          $ wethr
          Get current weather in metric units
          $ wethr --metric
          Get current weather in imperial units
          $ wethr --imperial

          <b>confinement</b>: devmode
          <b>base</b>: core18

          <b>parts</b>:
          <b>wethr</b>:
          <b>plugin</b>: nodejs
          <b>source</b>: .

          <b>apps</b>:
          <b>wethr</b>:
          <b>command</b>: wethr</pre></code>
    </div>
  </div>
</div>
