<div class="u-fixed-width p-block">
  <hr class="p-rule">
  <h2 class="p-muted-heading">
    Testimonials
  </h2>
</div>
<div class="row">
  <div class="col-medium-6 col-3">
    <a href="/heroku">
      {{
        image(
          url="https://assets.ubuntu.com/v1/53b1b835-logo-heroku.svg",
          alt="Heroku",
          width="128",
          height="64",
          hi_def=True
        ) | safe
      }}
    </a>
  </div>
  <div class="col-medium-3 col-3">
    <h3 class="p-heading--4"><em>“The auto-updating feature is huge”</em></h3>
  </div>
  <div class="col-medium-3 col-6">
    <blockquote class="p-testimonial">
      <p><em>Due to the nature of our platform, we release updates more than daily which admittedly can be annoying for our users to constantly update.</em></p>
      <p><em>Therefore, having them done seamlessly in the background makes life for our users so much easier. It’s great to see snaps as the first serious attempt to try and unify the community.</em></p>
      <cite>
        <strong>Jeff Dickey</strong><br> 
        <span class="u-text-muted">CLI engineer, <a href="https://www.heroku.com/" >Heroku</a></span>
      </cite>
    </blockquote>
  </div>
</div>
    
<div class="u-fixed-width"><hr class="p-rule"></div>
    
<div class="row">
  <div class="col-medium-6 col-3">
    <a href="/code">
      {{
        image(
          url="https://assets.ubuntu.com/v1/e4c220b3-logo-microsoft.svg",
          alt="Microsoft",
          width="128",
          height="64",
          hi_def=True
        ) | safe
      }}
    </a>
  </div>
  <div class="col-medium-3 col-3">
    <h3 class="p-heading--4"><em>“Starting with snaps <br class="u-hide--medium u-hide--small"> is easy”</em></h3>
  </div>
  <div class="col-medium-3 col-6">
    <blockquote class="p-testimonial">
      <p><em>We definitely find Snapcraft easier as it is yaml based and provides details of what artifacts are needed. Debian packaging has things that need to be followed which can be distribution specific, which creates complication.</em></p>
      <p><em>The modular containment is what appealed about snaps and [we] can see it will be a lot more flexible. Starting with snaps is easy and the resources that are provided are clean and structured which aids adoption.</em></p>
      <cite>
        <strong>Lee Coward and Rakesh Singh</strong><br>
        <a href="https://www.microsoft.com/net/" >.NET (Microsoft)</a>
      </cite>
    </blockquote>
  </div>
</div>
    
<div class="u-fixed-width"><hr class="p-rule"></div>
    
<div class="row">
  <div class="col-medium-6 col-3" style="padding-top: 8px;">
    <a href="/publisher/jetbrains">
      {{
        image(
          url="https://assets.ubuntu.com/v1/a82ec61c-logo-jetbrains.svg",
          alt="JetBrains",
          width="66",
          height="72",
          hi_def=True
        ) | safe
      }}
    </a>
  </div>
  <div class="col-medium-3 col-3">
    <h3 class="p-heading--4"><em>“A major software discovery tool”</em></h3>
  </div>
  <div class="col-medium-3 col-6">
    <blockquote class="p-testimonial u-no-margin--bottom">
      <p><em>The Snap store provides additional exposure to our tools for many of our existing and potential users. The decision to use it came quite naturally. We believe the store will be a major software discovery tool on Linux, so the more people find out about our tools naturally and install them more easily, the better for everyone.</em></p>
      <cite>
        <strong>Aleksey Rostovskiy</strong><br> 
        <span class="u-text-muted">Engineer, <a href="https://www.jetbrains.com/" >JetBrains</a></span>
      </cite>
    </blockquote>
  </div>
</div>
