black==18.6b4
bleach==2.0.0
Flask==1.0.2
Flask-OpenID-Stateless==1.2.6
Flask-Testing==0.6.2
Flask-WTF==0.14.2
humanize==0.5.1
Markdown==3.0.1
prometheus_client==0.3.1
pybreaker==0.4.4
pycountry==17.9.23
pymacaroons==0.12.0
python-dateutil==2.6.1
raven[flask]==6.5.0
requests==2.20.0
requests-cache==0.4.13
responses==0.9.0
ruamel.yaml==0.15.72
talisker==0.9.16
