# App dependencies
canonicalwebteam.flask_base==0.6.3
canonicalwebteam.discourse-docs==1.0.0
canonicalwebteam.blog==6.0.0
canonicalwebteam.search==0.2.1
canonicalwebteam.image-template==1.1.0
canonicalwebteam.store-api==2.2.0
canonicalwebteam.launchpad==0.7.6
django-openid-auth==0.15
Flask-OpenID-Stateless==1.2.6
Flask-WTF==0.14.3
bleach==3.1.5
humanize==2.5.0
Markdown==3.2.2
mistune==0.8.4
pybadges==2.2.1
pybreaker==0.6.0
pycountry==20.7.3
pymacaroons==0.13.0
python-dateutil==2.8.1
requests==2.24.0
requests-cache==0.5.2
responses==0.9.0
ruamel.yaml==0.16.10
vcrpy-unittest==0.1.7

# Development dependencies
Flask-Testing==0.8.0
