# App dependencies
bleach==3.1.0
canonicalwebteam.discourse-docs==0.6.4
canonicalwebteam.blog==4.0.2
canonicalwebteam.search==0.1.0
canonicalwebteam.yaml-responses==1.1.1
canonicalwebteam.image-template==1.0.0
canonicalwebteam.store-api==1.0.1
django-openid-auth==0.15
Flask==1.0.2
Flask-OpenID-Stateless==1.2.6
Flask-WTF==0.14.2
humanize==0.5.1
Markdown==3.0.1
mistune==0.8.4
pybadges==1.1.0
pybreaker==0.6.0
pycountry==17.9.23
pymacaroons==0.12.0
python-dateutil==2.6.1
requests==2.22
requests-cache==0.5.2
responses==0.9.0
ruamel.yaml==0.15.72
talisker[flask,gunicorn,raven,prometheus]==0.15.0

# Temporary fix to SSO redirect issue
Werkzeug==0.14.1

# Development dependencies
Flask-Testing==0.6.2
