<div class="u-fixed-width">
  <hr />
</div>
<div class="p-strip is-shallow">
    <div class="row">
        <div class="col-4">
            <h3 class="p-heading--4">Case study</h3>
        </div>
        <div class="col-8">
            <h3 class="p-heading--4">Related blog posts</h3>
        </div>
    </div>
    <div class="row u-equal-height" data-js="blog-articles">
        <div class="col-4">
            <h3 class="p-heading--4">
                <a href="https://www.ubuntu.com/engage/hiri-case-study" class="p-link--external">Hiri successfully monetises their snap to dispel myths around proprietary Linux apps </a>
            </h3>
        </div>
        <div class="col-8" data-js="blog-article-list" data-snap="{{ package_name }}" data-limit="2"></div>
    </div>
</div>
