<div class="p-card--post">
    <header class="p-card__header">
        <h5 class="p-muted-heading u-no-margin--bottom">Newsletter Signup</h5>
    </header>
    <div class="p-card__content js-newsletter-signup">
        <form action="https://pages.canonical.com/index.php/leadCapture/save" method="post" class="p-form" id="mktoForm_3376">
            <div class="p-form__group">
                <label for="Email">Email:*</label>
                <input id="Email" name="Email" maxlength="255" type="email" required />
            </div>
            <div class="p-form__group">
                <input name="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" type="checkbox" value="Receive updates"/>
                <label for="canonicalUpdatesOptIn">
                    I agree to receive information about Canonical’s products and services.
                </label>
            </div>
            <p>
                <small>
                    In submitting this form, I confirm that I have read and agree to
                    <a href="https://www.ubuntu.com/legal/dataprivacy" target="_blank" id="">Canonical's Privacy Policy</a>
                </small>
            </p>
            <p class="u-no-margin--bottom">
                <input type="hidden" name="Consent_to_Processing__c" value="Yes" />
                <button type="submit" class="p-button--positive u-no-margin--bottom">Subscribe now</button>
            </p>
            <input type="hidden" name="formid" value="3376" />
            <input type="hidden" name="lpId" value="" />
            <input type="hidden" name="subId" value="" />
            <input type="hidden" name="munchkinId" value="066-EOV-335" />
            <input type="hidden" name="lpurl" value="" />
            <input type="hidden" name="cr" value="" />
            <input type="hidden" name="kw" value="" />
            <input type="hidden" name="q" value="" />
        </form>
    </div>
</div>