<div class="row p-snap-details__media u-equal-height">
  <div class="col-10 u-align--center">
    {% if video %}
      <div class="js-video-slide u-embedded-media" data-video-type="{{video.type}}" data-video-url="{{video.url}}" data-video-id="{{video.id}}">
        {% include "partials/_video.html" %}
      </div>
    {% endif %}
  </div>
  {% if screenshots %}
    <div class="col-2 p-snap-details__media-items {% if screenshots|length < 5 %}is-small{% endif %}">
      {% for screenshot in screenshots %}
        {% include "partials/_snap-screenshot.html" %}
      {% endfor %}
    </div>
  {% endif %}
</div>
