
{%- if screenshots|length == 1 -%}
{#- align single screenshot with the snap details content -#}
<div class="p-carousel grid-col-6 grid-col-start-large-3 grid-col-medium-3 grid-col-start-medium-2">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% with screenshot = screenshots[0] %}
        {% include "partials/_snap-screenshot.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{%- else -%}
<div class="p-carousel">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for screenshot in screenshots %}
        {% include "partials/_snap-screenshot.html" %}
      {% endfor %}
    </div>
  </div>
  <div class="p-carousel__buttons u-align--right">
    <button class="p-button--base p-carousel__prev swiper-button__prev">Previous</button>
    <button class="p-button--base p-carousel__next swiper-button__next">Next</button>
  </div>
</div>
{%- endif -%}

