{% if video.type == "youtube" %}
  <iframe id="ytplayer" type="text/html" width="643" height="362"
          src="{{ video.url }}?autoplay=1&mute=1&loop=1&modestbranding=1&playlist={{ video.id }}" frameborder="0"></iframe>
{% elif video.type == "vimeo" %}
  <iframe id="vimeoplayer" width="643" height="362" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen
          src="{{ video.url }}?loop=1&title=0&byline=0&portrait=0"></iframe>
{% elif video.type == "asciinema" %}
  <script src="{{ video.url }}" id="asciicast-{{ video.id }}" async data-autoplay="1" data-loop="1" data-preload="0"></script>
  <div class="p-carousel__item-blocker"></div>
{% endif %}