{# The "layout_no_of_columns" variable can be set to suit the required design. If not set it defaults to 12 columns. Set the value using {% with %}{% endwith%} syntax when you include this partial #}

{% if not layout_no_of_columns %}
  {% set layout_no_of_columns=12 %}
{% endif%}

<div class="row">
  <div class="col-9 col-start-large-4">
    <h2>Learn how to snap an app in 30 minutes</h2>
  </div>
</div>

<div class="row" id="language">
  <div class="col-3">
    <div class="u-hide--large">
      <div class="p-muted-heading">
        <label for="choose-language">Choose your language:</label>
      </div>
      <select id="choose-language" data-js="flow-options">
        <option value="python">Python</option>
        <option value="pre-built">Pre-built apps</option>
        <option value="c">C/C++</option>
        <option value="go">Go</option>
        <option value="java">Java</option>
        <option value="node">Node.js</option>
        <option value="electron">Electron</option>
        <option value="flutter">Flutter</option>
        <option value="ruby">Ruby</option>
        <option value="rust">Rust</option>
        <option value="moos">MOOS</option>
        <option value="ros">ROS</option>
        <option value="ros-2">ROS 2</option>
      </select>
    </div>
    <h3 class="p-muted-heading u-hide--small u-hide--medium" style="margin-bottom: 1rem;">Choose your language:</h3>
    <div class="p-side-navigation u-hide--small u-hide--medium">
      <ul class="p-side-navigation__list" data-js="flow-links-container">
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/python" data-js="flow-link" data-flow="python" aria-current="page">
            Python
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/pre-built" data-js="flow-link" data-flow="pre-built">
            Pre-built apps
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/c" data-js="flow-link" data-flow="c">
            C/C++
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/golang" data-js="flow-link" data-flow="go">
            Go
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/java" data-js="flow-link" data-flow="java">
            Java
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/node" data-js="flow-link" data-flow="node">
            Node.js
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/docs/build-snaps/electron" data-js="flow-link" data-flow="electron">
            Electron
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/flutter" data-js="flow-link" data-flow="flutter">
            Flutter
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/ruby" data-js="flow-link" data-flow="ruby">
            Ruby
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/rust" data-js="flow-link" data-flow="rust">
            Rust
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/moos" data-js="flow-link" data-flow="moos">
            MOOS
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/ros" data-js="flow-link" data-flow="ros">
            ROS
          </a>
        </li>
        <li class="p-side-navigation__item">
          <a class="p-side-navigation__link" href="/first-snap/ros2" data-js="flow-link" data-flow="ros2">
            ROS 2
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-9 js-fsf-language-select">
    {% include "home/_fsf_c.html" %}
    {% include "home/_fsf_electron.html" %}
    {% include "home/_fsf_flutter.html" %}
    {% include "home/_fsf_go.html" %}
    {% include "home/_fsf_java.html" %}
    {% include "home/_fsf_moos.html" %}
    {% include "home/_fsf_node.html" %}
    {% include "home/_fsf_pre-built.html" %}
    {% include "home/_fsf_python.html" %}
    {% include "home/_fsf_ros.html" %}
    {% include "home/_fsf_ros2.html" %}
    {% include "home/_fsf_ruby.html" %}
    {% include "home/_fsf_rust.html" %}
  </div>
</div>
