<div class="u-fixed-width js-fsf-language-select" id="language">
  <div class="p-fluid-grid--centered">
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/python" data-flow-link="python">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/5398ed20-logo-python.svg" alt="">
      </header>
      <span>Python</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/pre-built" data-flow-link="pre-built">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/701da9c0-icon-prepackaged-apps.svg" alt="">
      </header>
      <span>Pre-built apps</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/c" data-flow-link="c">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/dcc8c108-logo-cpp.svg" alt="">
      </header>
      <span>C/C++</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/golang" data-flow-link="go">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/158bd625-logo-go.svg" alt="">
      </header>
      <span>Go</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/java" data-flow-link="java">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/f6840095-logo-java.svg" alt="">
      </header>
      <span>Java</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/node" data-flow-link="node">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/7a4dcddb-logo-node.svg" alt="">
      </header>
      <span>Node.js</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="https://docs.snapcraft.io/build-snaps/electron" data-flow-link="electron">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/4ab5c788-logo-electron.svg" alt="">
      </header>
      <span>Electron</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/ruby" data-flow-link="ruby">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/eacdd4e1-logo-ruby.svg" alt="">
      </header>
      <span>Ruby</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/rust" data-flow-link="rust">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/6677836e-logo-rust.svg" alt="">
      </header>
      <span>Rust</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/moos" data-flow-link="moos">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/4c371ff8-logo-moos.svg" alt="">
      </header>
      <span>MOOS</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/ros" data-flow-link="ros">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/f2b40fc0-logo-ros.svg" alt="">
      </header>
      <span>ROS</span>
    </a>
    <a class="p-logo-link p-fluid-grid__item--small p-card p-flow-link" href="/first-snap/ros2" data-flow-link="ros2">
      <header class="p-card__header">
        <img src="https://assets.ubuntu.com/v1/7dad0dcc-logo-ros2.svg" alt="">
      </header>
      <span>ROS 2</span>
    </a>

    {% include "home/_fsf_c.html" %}
    {% include "home/_fsf_electron.html" %}
    {% include "home/_fsf_go.html" %}
    {% include "home/_fsf_java.html" %}
    {% include "home/_fsf_moos.html" %}
    {% include "home/_fsf_node.html" %}
    {% include "home/_fsf_pre-built.html" %}
    {% include "home/_fsf_python.html" %}
    {% include "home/_fsf_ros.html" %}
    {% include "home/_fsf_ros2.html" %}
    {% include "home/_fsf_ruby.html" %}
    {% include "home/_fsf_rust.html" %}
  </div>
</div>
