<section id="main-content" class="p-strip--image is-shallow snapcraft-banner-background">
  <div class="row">
    <div class="col-12">
      <div class="p-notification--information">
        <p class="p-notification__response">
          <span class="p-notification__status">LIVE:</span>
          <a href="https://www.youtube.com/watch?v=BEp_l2oUcD8&ab_channel=snapcraft" target="_blank" class="p-link--external">Watch our Youtube Live Stream on building snaps</a> this Wednesday 6 Feb 2019 @ 20:00 GMT
        </p>
      </div>
    </div>
    {% if not webapp_config['STORE_QUERY'] %}
      <h1 class="p-heading--two">Search thousands of snaps used by millions of people across 41 Linux distributions</h1>
    {% endif %}
    <form action="/search" class="p-form p-form--inline p-form--search">
      {% if categories %}
        <div class="p-form__group p-form__group--no-grow">
          <label for="category-input" class="u-off-screen">Category</label>
          <div class="p-form__control u-clearfix">
            <select id="category-input" name="category" class="u-no-margin--bottom">
              <option value="">All snaps</option>
              {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
      <div class="p-form__group">
        <label for="search-input" class="u-off-screen">Search</label>
        <div class="p-form__control u-clearfix">
          <input class="u-no-margin--bottom" id="search-input" type="search" name="q" value="{{ query }}" />
        </div>
      </div>
      <button type="submit" alt="search" class="p-button--positive">Search</button>
    </form>
  </div>
</section>
