<section id="main-content" class="
{% if webapp_config['STORE_QUERY'] %}
  p-strip--image is-shallow snapcraft-banner-background
{% else %}
  p-strip--image p-strip-slanted--snapcraft
{% endif %}">
  <div class="u-fixed-width">
    {% if not IS_BRAND_STORE %}
      {% include 'partials/livestream-notification.html' %}
      <h1 class="p-heading--two">Search thousands of snaps used by millions of people across 41 Linux distributions</h1>
    {% endif %}
    {% if webapp_config['STORE_SEARCH_INTRO'] %}
      {{ webapp_config['STORE_SEARCH_INTRO']|safe }}
    {% endif %}
    <form action="/search" class="p-form p-form--inline p-form--search">
      <div class="p-form__group">
        <label for="search-input" class="u-off-screen">Search</label>
        <div class="p-form__control u-clearfix">
          <input class="u-no-margin--bottom" id="search-input" type="search" name="q" value="{{ query }}" />
        </div>
      </div>
      <button type="submit" alt="search" class="p-button--positive">Search</button>
    </form>
  </div>
</section>
