{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
Publicise {% if display_title %}{{ display_title }}{% else %}{{ snap_title }}{% endif %}
{% endblock %}

{% block content %}
<div id="main-content">
  {% set selected_tab='publicise' %}
  {% include "publisher/_header.html" %}

  {% if private %}
    <section class="p-strip--light is-shallow">
      <div class="row">
        <div class="col-6">
          <h2 class="p-heading--four">Share and promote your snap</h2>
        </div>
        <div class="col-6">
          <p>When your snap is public, you'll be able to share it using Store buttons, badges and embeddable cards.</p>
          <p>Make your snap public in <a href="/{{ snap_name }}/settings">its settings page.</p>
        </div>
      </div>
    </section>
  {% endif %}

  <div class="p-strip is-shallow {% if private %}u-disabled{% endif %}">
    <div class="row">
      <div class="col-3">
        <div class="p-navigation--sidebar">

          <div class="sidebar__content">
            <ul class="p-list">
              <li class="p-list__item {% if publicise_page == 'buttons' %}is-selected{% endif %}">
                <a href="/{{ snap_name }}/publicise/">Snap Store buttons</a>
              </li>
              <li class="p-list__item {% if publicise_page == 'badges' %}is-selected{% endif %}">
                <a href="/{{ snap_name }}/publicise/badges">GitHub badges</a>
              </li>
              <li class="p-list__item {% if publicise_page == 'cards' %}is-selected{% endif %}">
                <a href="/{{ snap_name }}/publicise/cards">Embeddable cards</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-9">
        {% block publicise_content %}
        {% endblock %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
