{% set publicise_page="badges" %}
{% extends "publisher/publicise/_publisher_publicise_layout.html" %}

{% block publicise_content %}
  <div class="row">
    <h4>Promote your snap using embeddable GitHub badge</h4>
  </div>

  <div class="row">
    <div class="col-2">
      Preview:
    </div>
    <div class="col-7">
      <p class="snapcraft-publicise__images">
        <a href="https://snapcraft.io/{{ snap_name }}">
          <img alt="{{ snap_title }}" src="/{{ snap_name }}/badge.svg" />
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>HTML:</label>
    </div>
    <div class="col-7">
      <div class="p-code-copyable not-cli">
        <code class="p-code-copyable__input" id="snippet-badge-html">&lt;a href="https://snapcraft.io/{{ snap_name }}"&gt;
  &lt;img alt="{{ snap_title }}" src="https://snapcraft.io/{{ snap_name }}/badge.svg" /&gt;
&lt;/a&gt;</code>
        <button class="p-code-copyable__action js-clipboard-copy" data-clipboard-target="#snippet-badge-html">Copy to clipboard</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Markdown:</label>
    </div>
    <div class="col-7">
      <div class="p-code-copyable not-cli">
        <code class="p-code-copyable__input" id="snippet-badge-markdown">[![{{ snap_title }}](https://snapcraft.io/{{ snap_name }}/badge.svg)](https://snapcraft.io/{{ snap_name }})</code>
        <button class="p-code-copyable__action js-clipboard-copy" data-clipboard-target="#snippet-badge-markdown">Copy to clipboard</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts_modules %}
<script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
{% endblock %}

{% block scripts %}
<script>
  Raven.context(function () {
    if (typeof ClipboardJS !== 'undefined') {
      new ClipboardJS('.js-clipboard-copy');
    }
  });
</script>
{% endblock %}
