{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/document/d/1EvemWJDOpjL-8ieCSiStKViFx-fgwfTaENueOYlB5ps/edit{% endblock %}

{% block content %}
<section class="p-strip build-notification is-shallow u-hide--small">
  <div class="u-fixed-width build-notification-text">
    <b>Ubuntu 16.04 is entering ESM.</b> This can impact you as a snap developer. Read more about it on <a href="https://snapcraft.io/blog/how-does-ubuntu-16-04-entering-extended-security-maintenance-esm-affect-snap-publishers">this blog post.</a>
  </div>
</section>
<section id="main-content" class="p-strip" style="padding: 32px 0px">
  <div class="u-fixed-width">
    <h2 class="p-heading--2">
      Build snaps from GitHub repositories
      <a href="/snaps" class="p-button--positive is-inline u-hide--small" style="float: right;">Get started now</a>
    </h2>
    <p><a href="/snaps" class="p-button--positive u-hide--medium u-hide--large">Get started now</a></p>
  </div>
</section>
<section class="p-strip u-no-padding--top u-hide--medium u-hide--large" style="padding-bottom: 32px;">
  <div class="row" style="padding-bottom: 32px;">
    <img src="https://assets.ubuntu.com/v1/7242e628-build.snapcraft.hero.svg" width="100%" style="padding-bottom: 32px;"/>
    <div class="col-4">
      <p>Start by creating a repo and pushing your code to GitHub. Make sure that your repo includes a snapcraft.yaml file.</p>
    </div>
    <div class="col-4">
      <p>Register a name on Snapcraft and attach it to your repo to start building. Your snap will be built automatically for all distros.</p>
    </div>
    <div class="col-4">
      <p>Release your snap to your users. From here on, all the updates you do to your code will trigger automatic builds.</p>
    </div>
  </div>
</section>
<section class="p-strip u-no-padding--top u-hide--small u-no-margin--bottom" style="padding-bottom: 32px;">
  <div class="row build-container">
    <div class="build-divider"></div>
    <div class="col-4" style="height: 565.5px;">
      <p style="padding-top: 12.6px; margin: 0;">Start by creating a repo and pushing your code to GitHub. Make sure that your repo includes a snapcraft.yaml file.</p>
    </div>
    <div class="build-divider"></div>
    <div class="col-4">
      <p style="padding-top: 12.6px; margin: 0;">Register a name on Snapcraft and attach it to your repo to start building. Your snap will be built automatically for all distros.</p>
    </div>
    <div class="build-divider"></div>
    <div class="col-4">
      <p style="padding-top: 12.6px; margin: 0;">Release your snap to your users. From here on, all the updates you do to your code will trigger automatic builds.</p>
    </div>
  </div>
</section>

<div class="u-fixed-width u-no-margin--bottom" style="height: 0;">
  <hr>
</div>

<section class="p-strip u-no-padding--top" style="padding-bottom: 32px;">
  <div class="u-fixed-width">
    <h2 class="p-muted-heading u-no-padding u-no-margin" style="font-weight: 500;">Publish your software for</h2>
  </div>
  <div class="row">
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/4e18e57c-logo-ubuntu--in-card.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f7f680fb-debian.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/5a0c5aaa-popos.svg" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/eccf1818-raspberrypi.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/44789cf1-arch.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f24733d2-fedora.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/0dd4809d-openwrit.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f131a86c-yocto.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/38659979-openembed.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/c4c720c6-suse.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/02d49758-manjaro.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/4ea80b29-solus.png" alt="">
    </div>
  </div>
</section>

<div class="u-fixed-width u-no-margin--bottom" style="height: 0;">
  <hr>
</div>

<section class="p-strip u-no-padding--top" style="padding-bottom: 64px;">
  <div class="row">
    <div class="col-6 col-medium-3">
      <h2 class="p-muted-heading u-no-padding u-no-margin" style="font-weight: 500;">Build makes it easier</h2>
    </div>
    <div class="col-6 col-medium-3">
      <h2 class="u-hide--small">Automatic updates</h2>
      <h2 class="u-hide--large u-hide--medium" style="padding-top: 32px;">Automatic updates</h2>
      <p>Whenever you commit a change in your code on GitHub, Snapcraft will trigger a new build automatically for all the distros you choose. When you are ready, these builds will be available for you to share with your users.</p>
      <div class="u-fixed-width u-no-margin--bottom" style="height: 0; padding-top: 32px;">
        <hr>
      </div>
      <h2>Create snaps with tools <br> you already use</h2>
      <p>We created the possibility to start building your snaps from a Github repo so that you can focus on the things that matter, using the tools you know.</p>
      <div class="u-fixed-width u-no-margin--bottom" style="height: 0; padding-top: 32px;">
        <hr>
      </div>
      <h2>Build for all distros</h2>
      <p>Snaps work across Linux on any distribution or version. Bundle your dependencies and assets, simplifying installs to a single standard command.</p>
    </div>
  </div>
</section>

<div class="u-fixed-width u-no-margin--bottom" style="height: 0;">
  <hr>
</div>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2">How Snapcraft fits your workflow</h2>
  </div>
</section>
<section class="p-strip u-no-padding">
  <div class="u-fixed-width u-align--center" style="padding-top: 24px; padding-bottom: 64px;">
    <img class="u-hide--small" src="https://assets.ubuntu.com/v1/21626379-Group%202899.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub master. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable.">
    <img class="u-hide--medium u-hide--large" src="https://assets.ubuntu.com/v1/80be83a9-Group%202898.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub master. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable" />
  </div>
</section>
<div class="u-fixed-width u-hide--small" style="padding-top: 10px; padding-bottom: 192px;">
  <a href="/snaps" class="p-button--positive u-no-margin"> Get started now </a>
</div>
{% endblock %}
