{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/document/d/1EvemWJDOpjL-8ieCSiStKViFx-fgwfTaENueOYlB5ps/edit{% endblock %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <b>We are updating the way you build from GitHub</b> to integrate better within Snapcraft. <a href="https://snapcraft.io/blog/we-are-changing-the-way-you-build-snaps-from-github-repos">Learn more</a>
  </div>
</section>
<section id="main-content" class="p-strip--suru-background is-dark">
  <div class="u-fixed-width">
    <h2 class="p-heading--1">
      Build snaps from GitHub repositories
    </h2>
    <p>Auto-build and publish software for any Linux system or device from your GitHub repos.</p>
    <p><a href="/snaps" class="p-button--positive">Get started now</a></p>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2 class="p-heading--1">How to build from GitHub</h2>
    <img src="https://assets.ubuntu.com/v1/ed6d1c5b-build.snapcraft.hero.svg" width="100%" />
  </div>
  <div class="row">
    <div class="col-4">
      <p>Start by creating a repo and pushing your code to GitHub. Make sure that your repo includes a snapcraft.yaml file.</p>
    </div>
    <div class="col-4">
      <p>Register a name on Snapcraft and attach it to your repo to start building. Your snap will be built automatically for all distros.</p>
    </div>
    <div class="col-4">
      <p>Release your snap to your users. From here on, all the updates you do to your code will trigger automatic builds.</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <a href="/snaps" class="p-button--positive">
      Get started now
    </a>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="u-fixed-width">
    <h3 class="p-heading--2">Publish your software for</h3>
  </div>
  <div class="row">
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/4e18e57c-logo-ubuntu--in-card.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f7f680fb-debian.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/2ce868d9-mint.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/eccf1818-raspberrypi.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/44789cf1-arch.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f24733d2-fedora.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/0dd4809d-openwrit.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/f131a86c-yocto.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/38659979-openembed.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/c4c720c6-suse.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/02d49758-manjaro.png" alt="">
    </div>
    <div class="p-logo-image col-small-2 col-medium-2 col-2 col-logo">
      <img src="https://assets.ubuntu.com/v1/4ea80b29-solus.png" alt="">
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h3 class="p-heading--2">Build makes it easier</h3>
  </div>
  <div class="row">
    <div class="col-4">
      <h4>Automatic updates</h4>
      <p>Whenever you commit a change in your code on GitHub, Snapcraft will trigger a new build automatically for all the distros you choose. When you are ready, these builds will be available for you to share with your users.</p>
    </div>
    <div class="col-4">
      <h4>Create snaps with tools you<br class="u-hide u-show--large"> already use</h4>
      <p>We created the possibility to start building your snaps from a Github repo so that you can focus on the things that matter, using the tools you know.</p>
    </div>
    <div class="col-4">
      <h4>Build for all distros</h4>
      <p>Snaps work across Linux on any distribution or version. Bundle your dependencies and assets, simplifying installs to a single standard command.</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <a href="/snaps" class="p-button--positive">
      Get started now
    </a>
  </div>
</section>

<section class="p-strip u-no-padding--bottom
  ">
  <div class="u-fixed-width">
    <h3 class="p-heading--2">How Snapcraft fits your workflow</h3>
  </div>
</section>
<section class="p-strip">
  <div class="u-fixed-width u-align--center">
    <img class="u-hide--small" src="https://assets.ubuntu.com/v1/b70a5c55-workflow-illustration.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub master. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable.">
    <img class="u-hide--medium u-hide--large" src="https://assets.ubuntu.com/v1/a61b3832-workflow.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub master. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable" />
  </div>
</section>
{% endblock %}
