{% extends "_layout.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}
{% from "_macros/vf_divided-section.jinja" import vf_divided_section %}

{% block meta_copydoc %}https://docs.google.com/document/d/1EvemWJDOpjL-8ieCSiStKViFx-fgwfTaENueOYlB5ps/edit{% endblock %}

{% block content %}
{% call(slot) vf_hero(
  title_text='Build snaps from GitHub repositories',
  layout='50/50'
) -%}
  {%- if slot == 'cta' -%}
    <a href="/snaps" class="p-button--positive">Get started now</a>
  {%- endif -%}
  {%- if slot == 'image' -%}
    <img src="https://assets.ubuntu.com/v1/7242e628-build.snapcraft.hero.svg" alt="" />
  {%- endif -%}
  {%- if slot == 'description' -%}
  {%- endif -%}
{%- endcall %}

{% call(slot) vf_divided_section(
  title={"text": "How it works"},
  blocks=[
    {
      "type": "divided-block",
      "items": [
        {
          "title_text": "1. Create and push your code",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "Start by creating a repo and pushing your code to GitHub. Make sure that your repo includes a snapcraft.yaml file."
              }
            }
          ]
        },
        {
          "title_text": "2. Register and build",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "Register a name on Snapcraft and attach it to your repo to start building. Your snap will be built automatically for all distros."
              }
            }
          ]
        },
        {
          "title_text": "3. Release and update",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "Release your snap to your users. From here on, all the updates you do to your code will trigger automatic builds."
              }
            }
          ]
        }
      ]
    }
  ]
) -%}
{%- endcall %}

{% call(slot) vf_logo_section(
  title={"text": "Publish your software for"},
  blocks=[
    {
      "type": "logo-block",
      "item": {
        "logos": [
          {"src": "https://assets.ubuntu.com/v1/46dc42a1-ubuntu-logo.png", "alt": "Ubuntu"},
          {"src": "https://assets.ubuntu.com/v1/f7f680fb-debian.png", "alt": "Debian"},
          {"src": "https://assets.ubuntu.com/v1/5a0c5aaa-popos.svg", "alt": "Pop!_OS"},
          {"src": "https://assets.ubuntu.com/v1/eccf1818-raspberrypi.png", "alt": "Raspberry Pi"},
          {"src": "https://assets.ubuntu.com/v1/44789cf1-arch.png", "alt": "Arch Linux"},
          {"src": "https://assets.ubuntu.com/v1/f24733d2-fedora.png", "alt": "Fedora"},
          {"src": "https://assets.ubuntu.com/v1/0dd4809d-openwrit.png", "alt": "OpenWrt"},
          {"src": "https://assets.ubuntu.com/v1/f131a86c-yocto.png", "alt": "Yocto"},
          {"src": "https://assets.ubuntu.com/v1/38659979-openembed.png", "alt": "OpenEmbedded"},
          {"src": "https://assets.ubuntu.com/v1/c4c720c6-suse.png", "alt": "openSUSE"},
          {"src": "https://assets.ubuntu.com/v1/02d49758-manjaro.png", "alt": "Manjaro"},
          {"src": "https://assets.ubuntu.com/v1/4ea80b29-solus.png", "alt": "Solus"}
        ]
      }
    }
  ]
) -%}
  {%- if slot == 'description' -%}
  {%- endif -%}
{%- endcall %}

{% call(slot) vf_divided_section(
  title={"text": "Build makes it easier"},
  blocks=[
    {
      "type": "divided-block",
      "items": [
        {
          "title_text": "Automatic updates",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "Whenever you commit a change in your code on GitHub, Snapcraft will trigger a new build automatically for all the distros you choose. When you are ready, these builds will be available for you to share with your users."
              }
            }
          ]
        },
        {
          "title_text": "Create snaps with tools you already use",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "We created the possibility to start building your snaps from a Github repo so that you can focus on the things that matter, using the tools you know."
              }
            }
          ]
        },
        {
          "title_text": "Build for all distros",
          "contents": [
            {
              "type": "description",
              "item": {
                "type": "text",
                "content": "Snaps work across Linux on any distribution or version. Bundle your dependencies and assets, simplifying installs to a single standard command."
              }
            }
          ]
        }
      ]
    }
  ]
) -%}
{%- endcall %}

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="u-fixed-width">
    <h2>How Snapcraft fits your workflow</h2>
  </div>
  <div class="u-fixed-width">
    <div class="p-image-container is-highlighted">
      <img class="p-image-container__image u-hide--small u-hide--medium" src="https://assets.ubuntu.com/v1/21626379-Group%202899.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub main branch. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable." />
      <img class="p-image-container__image u-hide--large" src="https://assets.ubuntu.com/v1/80be83a9-Group%202898.svg" alt="1: You receive a pull request on GitHub. 2: Test with Travis or other CI system. 3: The code lands on your GitHub main branch. 4: Snapcraft builds a new snap version. 5: Auto-released to the snap store for testing. 6: You promote to beta, candidate, or stable." />
    </div>
  </div>
</section>

<section class="p-section--deep">
  <div class="u-fixed-width">
    <a href="/snaps" class="p-button--positive">Get started now</a>
  </div>
</section>
{% endblock %}
