<section class="p-strip--light u-no-margin--top u-no-padding">
  <div class="row p-beta-notification">
    <div class="col-12">
      <p>
        <span class="p-muted-heading"><b>Beta</b></span>
        Snapcraft.io is in Beta. Can't find something?
        <a href="https://dashboard.snapcraft.io/snaps" class="p-link--external">Go back to the old version</a> or
        <a href="https://github.com/canonical-websites/snapcraft.io/issues" class="p-link--external">report an issue</a>.
      </p>
    </div>
  </div>
</section>
