<section class="p-strip--light u-no-margin--top u-no-padding">
  <div class="row p-beta-notification">
    <div class="col-12">
      <p>
        Thanks for trying out these new pages.
        <a href="https://dashboard.snapcraft.io/snaps" class="p-link--external"> Use dashboard for other functions</a>,
        <a href="https://github.com/canonical-websites/snapcraft.io/issues" class="p-link--external">report an issue</a> or 
        <a href="https://forum.snapcraft.io/categories" class="p-link--external">give us your feedback</a>.
      </p>
    </div>
  </div>
</section>
