<section class="p-strip is-shallow">
  <div class="row">
    <p><a href="/account">My snaps&nbsp;&rsaquo;</a></p>
    <h1 class="u-no-margin--top">{{ snap_title }}</h1>
  </div>
</section>

<section class="metrics__nav-wrap p-strip is-shallow u-no-padding--top u-no-padding--bottom">
  <nav class="p-tabs">
    <ul class="p-tabs__list" role="tablist">
      <li class="p-tabs__item" role="presentation">
        <a
          href="/account/snaps/{{ snap_name }}/market"
          class="p-tabs__link"
          tabindex="0"
          role="tab"
          {% if selected_tab == 'market' %}
          aria-selected="true"
          {% endif %}>
          Market</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a
          href="/account/snaps/{{ snap_name }}/measure"
          class="p-tabs__link"
          tabindex="0"
          role="tab"
          {% if selected_tab == 'measure' %}
          aria-selected="true"
          {% endif %}>
          Measure</a>
      </li>
    </ul>
  </nav>
</section>
