{% include "publisher/_beta-notification.html" %}

<section class="p-strip is-shallow u-no-padding--bottom">
  {% if from == "first-snap" %}
    <div class="row">
      <div class="p-notification--information">
        <p class="p-notification__response">
          <span class="p-notification__status">Congratulations</span>
          {{ snap_name }} is pushed to the Store. Modify its public information, include screenshots then visit <a href="/{{ snap_name }}">your published Snap</a>.
        </p>
      </div>
    </div>
  {% endif %}
  <nav class="p-tabs-bordered">
    <div class="row">
      <div class="col-12">
        <a href="/snaps">&lsaquo; My snaps</a>
      </div>
    </div>
    <div class="row p-tabs__group">
      <div class="col-6">
        <h1 class="u-float--left p-heading--three u-no-margin--bottom">{% if snap_title %}{{ snap_title }}{% else %}{{ snap_name }}{% endif %}</h1>
      </div>
      <div class="col-6">
        <ul class="p-tabs__list u-float--right" role="tablist">
          <li class="p-tabs__item" role="presentation">
            <a
              href="/{{ snap_name }}/listing"
              class="p-tabs__link"
              tabindex="0"
              role="tab"
              {% if selected_tab == 'listing' %}
                aria-selected="true"
              {% endif %}
            >
            Listing
            </a>
          </li>
          <li class="p-tabs__item" role="presentation">
            <a
              href="/{{ snap_name }}/releases"
              class="p-tabs__link"
              tabindex="0"
              role="tab"
              {% if selected_tab == 'release' %}
                aria-selected="true"
              {% endif %}
            >
            Releases
            </a>
          </li>
          <li class="p-tabs__item" role="presentation">
            <a
              href="/{{ snap_name }}/metrics"
              class="p-tabs__link"
              tabindex="0"
              role="tab"
              {% if selected_tab == 'metrics' %}
                aria-selected="true"
              {% endif %}
            >
            Metrics
            </a>
          </li>
          <li class="p-tabs__item" role="presentation">
            <a
              href="/{{ snap_name }}/publicise"
              class="p-tabs__link"
              tabindex="0"
              role="tab"
              {% if selected_tab == 'publicise' %}
            aria-selected="true"
            {% endif %}
            >
              Publicise
            </a>
          </li>
          <li class="p-tabs__item" role="presentation">
            <a
              href="/{{ snap_name }}/settings"
              class="p-tabs__link"
              tabindex="0"
              role="tab"
              {% if selected_tab == 'settings' %}
              aria-selected="true"
              {% endif %}
            >
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
