{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
My published snaps — Linux software in the Snap Store
{% endblock %}

{% block content %}
{% include "publisher/_beta-notification.html" %}
<section class="p-strip is-shallow">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row">
          <div class="col-12">
            <div class="p-notification--positive">
              <p class="p-notification__response">
                <span class="p-notification__status">Success:</span> {{ message|safe }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-12">
      <h1 class="p-heading--four u-float--left">My published snaps</h1>
      {% if snaps %}
        <a href="/account/register-snap" class="p-button--neutral u-float--right p-snap-list__register">Register snap</a>
      {% endif %}
    </div>
  </div>
  {% if not snaps %}
      <div class="row">
        <div class="col-12">
          <h2 class="p-heading--four">Get started&hellip;</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="p-heading--five">“Hello world” with snapcraft</h3>
          <p>Get to know the basics of <code>snapcraft</code> and the snap format.</p>
          <p>
            <a
              href="https://docs.snapcraft.io/build-snaps/your-first-snap"
              class="p-button--neutral"
            >
              Try the tutorial
            </a>
          </p>
        </div>
        <div class="col-6">
          <h3 class="p-heading--five">Publish a snap with the tools you know</h3>
          <p>Electron, Python, Go and many more examples of how to 'snap' an application using familiar languages.</p>
          <p><a href="https://docs.snapcraft.io/build-snaps/languages" class="p-button--neutral">Choose a language guide</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="p-heading--four">Need some help?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="p-heading--five">Snapcraft documentation</h3>
          <p>All you need to know about snaps, snapcraft and everything in between.</p>
          <p><a href="https://docs.snapcraft.io">Read the docs &rsaquo;</a></p>
        </div>
        <div class="col-6">
          <h3 class="p-heading--five">Join the community</h3>
          <p>Request features, troubleshoot and generally find all the latest talk about snaps, snapd and snapcraft.</p>
          <p><a href="https://forum.snapcraft.io">Go to the forum &rsaquo;</a></p>
        </div>
      </div>
  {% endif %}
  {% if snaps %}
    {% if snaps|length == 1 %}
      {% for snap in snaps %}
        {% if snaps[snap].is_new %}
          <section class="p-strip--light is-shallow p-snapcraft-first-snap__notification">
            <div class="row">
              <div class="col-9">
                {% if snaps[snap].latest_revisions[0].channels[0] %}
                  <p>
                    You've released {{ snap }} to the "{{ snaps[snap].latest_revisions[0].channels[0] }}" channel!
                  </p>
                {% else %}
                  <p>
                    You've uploaded {{ snap }}!
                  </p>
                {% endif %}
                <p>
                  Want to improve the listing in stores?
                  <a href="/account/snaps/{{ snap }}/listing">Edit Store listing</a>
                  {% if not snaps[snap].latest_revisions[0].channels[0] %}
                    <br />
                    Is your snap ready to release?
                    <a href="https://docs.snapcraft.io/build-snaps/release" target="_blank">Release it</a>
                  {% endif %}
                </p>
              </div>
              <div class="col-3 p-snapcraft-first-snap__rocket">
                <img alt="Rocket among stars" src="https://assets.ubuntu.com/v1/abd70be7-Rocket+V2.png" />
              </div>
            </div>
          </section>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="row">
      <table>
        <thead>
          <tr>
            <th width="30%">Name</th>
            <th width="10%">Privacy</th>
            <th width="20%">Owner</th>
            <th width="20%">Latest release</th>
            <th width="10%">Version</th>
          </tr>
        </thead>
        <tbody>
          {% for snap in snaps|sort %}
            <tr>
              <td>
                <a href="/account/snaps/{{snap}}/listing" class="u-vertically-center">
                  {% if snaps[snap].icon_url %}
                    <img src="{{ snaps[snap].icon_url }}" class="p-snap-list__image" />
                  {% else %}
                    <img src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" class="p-snap-list__image" />
                  {% endif %}
                  <span class="p-snap-list__name">
                    {{snap}}
                  </span>
                </a>
              </td>
              <td>
                {% if snaps[snap].private %}
                  Private
                {% else %}
                  Public
                {% endif %}
              </td>
              <td>
                {% if snaps[snap].publisher.username == current_user %}
                  You
                {% else %}
                  {{ snaps[snap].publisher['display-name'] }}
                {% endif %}
              </td>
              {% if snaps[snap].latest_revisions[0].status == 'Published' %}
                <td>{{ snaps[snap].latest_revisions[0].channels[0] }}</td>
              {% else %}
                <td>Not released</td>
              {% endif %}
              <td>{{ snaps[snap].latest_revisions[0].version }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</section>
  {% if registered_snaps %}
    <section class="p-strip is-shallow u-no-padding--top">
      <div class="row">
        <div class="col-12">
          <hr />
          <h4>My registered snap names</h4>
        </div>
      </div>
      <div class="row">
        <p>
          Names you own but have not pushed a snap to:
        </p>
        <p>
          {% for registered_snap in registered_snaps|sort %}{% if loop.index > 1 %}, {% endif %}{{ registered_snap }}{% endfor %}
        </p>
      </div>
    </section>
  {% endif %}
{% endblock %}
