{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}
Account details — Linux software in the Snap Store
{% endblock %}

{% block content %}
{% include "publisher/_beta-notification.html" %}
<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h3 class="u-float--left">Publisher account details</h3>
      <a href="{{ LOGIN_URL }}" class="p-link--external u-float--right">Edit details</a>
    </div>
  </div>
  {% if errors %}
    <div class="row">
      <div class="p-notification--negative">
        <p class="p-notification__response">
          {% for error in errors %}
            {{ error.message }}<br />
          {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-2">
      Full name:
    </div>
    <div class="col-6">
      <p><b>{{ displayname }}</b></p>
      <p class="p-form-help-text">
        Who your users will see as the publisher of your snap.
      </p>
    </div>
  </div>
  <div class="row u-no-margin--top">
    <hr />
  </div>
  <div class="row u-no-margin--top">
    <div class="col-2">
      Username:
    </div>
    <div class="col-6">
      <p><b>{{ username }}</b></p>
      <p class="p-form-help-text">
        This is a shorthand version of your name, used when space on screen is limited.
      </p>
    </div>
  </div>
  <div class="row u-no-margin--top">
    <hr />
  </div>
  <div class="row u-no-margin--top">
    <div class="col-2">
      Email:
    </div>
    <div class="col-6">
      <p><b>{{ email }}</b></p>
      <p class="p-form-help-text">
        Your email address will not be shared publicly.
      </p>
    </div>
  </div>
</section>
{% endblock %}
