{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
  Admin settings for {% if display_title %}{{ display_title }}{% else %}{{ snap_title }}{% endif %}
{% endblock %}

{% block content %}
  <div id="main-content">
    {% set selected_tab='admin' %}
    {% include "publisher/_header.html" %}

    <form id="admin-form" method="POST" enctype='multipart/form-data'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="snap_id" value="{{ snap_id }}" />

      <section class="p-strip is-shallow">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="row">
              <div class="col-12">
                {% for category, message in messages %}
                  <div id="admin-form-status" class="p-notification--{{ category }}">
                    <p class="p-notification__response">
                      {{ message }}
                    </p>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endwith %}

        {% if other_errors %}
          <div class="row">
            <div class="col-12">
              {% for error in other_errors %}
                <div class="p-notification--negative">
                  <p class="p-notification__response">
                    {{ error.message }}
                  </p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if field_errors and field_errors['icon'] %}
          <div class="row">
            <div class="col-12">
              <div class="p-notification--negative">
                <p class="p-notification__response">
                  <strong>Icon:</strong> {{ field_errors['icon'] }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-2">
            <label>
              Privacy:
            </label>
          </div>
          <div class="col-8">
            <div class="row">
              <input
                type="radio"
                name="private"
                id="is-public"
                {% if not private %}
                checked="checked"
                {% endif %}
                value="public" />
              <label for="is-public">Public</label>
            </div>
            <div class="row">
              <input
                type="radio"
                name="private"
                id="is-private"
                {% if private %}
                checked="checked"
                {% endif %}
                value="private" />
              <label for="is-private">Private
                <span class="p-form-help-text">Snap is hidden in stores and only accessible by the publisher and collaborators</span>
              </label>
            </div>
          </div>
        </div>

        <div class="p-strip is-shallow">
          <div class="row">
            <hr class="u-no-margin--bottom" />
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>
              Distribution:
            </label>
          </div>
          <div class="col-8">
            <label>This snap should be available in:</label>
            <input type="radio" name="territories" value="all" id="territories_all"
              {% if not whitelist_country_codes and not blacklist_country_codes %}
                   checked="checked"
              {% endif %}/>
            <label for="territories_all">All territories</label>
            <input type="radio" name="territories" value="custom" id="territories_custom"
              {% if whitelist_country_codes or blacklist_country_codes %}
                   checked="checked"
              {% endif %}
            />
            <label for="territories_custom">Custom list</label>
            <div class="p-nested-inputs{% if not whitelist_country_codes and not blacklist_country_codes %} is-hidden{% endif %}">
              <div class="js-whitelist">
                <input type="radio" name="territories_custom_type" value="whitelist" id="territories_custom_whitelist"
                  {% if whitelist_country_codes or not blacklist_country_codes %}
                       checked="checked"
                  {% endif %}
                />
                <label for="territories_custom_whitelist">Only these territories</label>
                <input type="text" class="js-multiselect-input" name="whitelist_countries" value="
                  {% for territory in whitelist_country_codes %}
                    {{ territory }}{{ "," if not loop.last }}
                  {% endfor %}
                 " />
                <div class="js-multiselect-holder"></div>
              </div>
              <div class="js-blacklist">
                <input type="radio" name="territories_custom_type" value="blacklist" id="territories_custom_blacklist"
                  {% if territories_blacklist %}
                       checked="checked"
                  {% endif %}
                />
                <label for="territories_custom_blacklist">Exclude these territories</label>
                <input type="text" class="js-multiselect-input" name="blacklist_countries" value="
                  {% for territory in blacklist_country_codes %}
                    {{ territory }}{{ "," if not loop.last }}
                  {% endfor %}
                 " />
                <div class="js-multiselect-holder"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-strip is-shallow">
          <div class="row">
            <hr class="u-no-margin--bottom" />
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>
              Metrics:
            </label>
          </div>
          <div class="col-8">
            <input
              type="checkbox"
              name="public_metrics_enabled"
              id="public-metrics-enabled"
              {% if public_metrics_enabled %}
              checked="checked"
              {% endif %}
            />
            <label class="p-tooltip p-tooltip--top-left" for="public-metrics-enabled">Display public popularity charts
              <span class="p-tooltip__message">These display relative popularity, not exact numbers.</span>
            </label>
            <div class="p-nested-inputs">
              <input
                type="checkbox"
                name="public_metrics_territories"
                id="public-metrics-territories"
                {% if not contains(public_metrics_blacklist, 'installed_base_by_country_percent') %}
                checked="checked"
                {% endif %}
                {% if not public_metrics_enabled %}
                disabled="disabled"
                {% endif %}
              />
              <label for="public-metrics-territories">World map <span class="p-form-help-text">Displays where your snap is being used by country</span></label>
              <input
                type="checkbox"
                name="public_metrics_distros"
                id="public-metrics-distros"
                {% if not contains(public_metrics_blacklist, 'weekly_installed_base_by_operating_system_normalized') %}
                checked="checked"
                {% endif %}
                {% if not public_metrics_enabled %}
                disabled="disabled"
                {% endif %}
              />
              <label for="public-metrics-distros">Linux distributions <span class="p-form-help-text">Displays where your snap is being used by distro</span></label>
              <input
                type="hidden"
                name="public_metrics_blacklist"
                {% if public_metrics_blacklist|length > 0 %}
                value="{{ join(public_metrics_blacklist, ',')}}"
                {% endif %}
              />
            </div>
          </div>
        </div>

        <div class="p-strip is-shallow">
          <div class="row">
            <hr class="u-no-margin--bottom" />
          </div>
        </div>

        <div class="row">
          <div class="col-7">
          </div>
          <div class="col-5">
            <div class="u-align--right u-clearfix">
              <button type="submit" class="p-button--positive p-button-spinner js-form-submit u-no-margin--bottom u-float-right" name="submit_apply" value="Save">
                {#
                      to force dark icon variant we need a fake --dark class name:
                      https://github.com/vanilla-framework/vanilla-framework/issues/1817
                    #}
                <span class="p-button__spinner vanilla-workaround--dark">
                      <i class="p-icon--spinner u-animation--spin"></i>
                    </span>
                <span class="p-button__text">Save</span>
              </button>
              <a class="p-button--neutral js-form-revert u-no-margin--bottom u-float-right" href="/account/snaps/{{ snap_name }}/listing">Revert</a>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/publisher.js') }}"></script>
  <script src="{{ static_url('js/dist/publisher/form/multiselect.js') }}"></script>
  <script>
      snapcraft.form.multiselect.initMultiselect('.js-whitelist', {{ countries|tojson }});
      snapcraft.form.multiselect.initMultiselect('.js-blacklist', {{ countries|tojson }});

      console.log('Whitelist_countries', {{ whitelist_country_codes|tojson }});

      snapcraft.publisher.market.initForm({
          form: "admin-form",
          formNotification: "admin-form-status",
        }, {
          'private': {{ private|tojson }},
          'public_metrics_enabled': {{ public_metrics_enabled|tojson }},
          'public_metrics_blacklist': {{ join(public_metrics_blacklist, ',')|tojson }},
          'whitelist_countries': {{ whitelist_country_codes|tojson }},
          'blacklist_countries': {{ blacklist_country_codes|tojson }}
        },
        {% if error_list %}
          {{ error_list|tojson}}
        {% else %}
          null
        {% endif %}
      );

      function toggleCustomTerritories(e) {
        var custom = document.getElementById('territories_custom');
        var checked = custom.checked;
        var nested = custom.parentNode.querySelector('.p-nested-inputs');
        if (checked) {
          nested.classList.remove('is-hidden');
        } else {
          nested.classList.add('is-hidden');
        }
      }

      document.getElementById('territories_custom').addEventListener('change', toggleCustomTerritories);
      document.getElementById('territories_all').addEventListener('change', toggleCustomTerritories);
  </script>
{% endblock %}
