{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
Builds for {% if snap_title %}{{ snap_title }}{% else %}{{ snap_name }}{% endif %}
{% endblock %}

{% block content %}
<div id="main-content" class="u-no-margin--top">
  {% set selected_tab='builds' %}
  {% include "publisher/_header.html" %}

  <section class="p-strip is-shallow">
    <div class="row">
      <div id="builds-wrapper" class="col-12">
      </div>
    </div>
  </section>
</div>

{% endblock %}

{% block scripts_includes %}
  <script src="{{ static_url('js/dist/publisher.js') }}" defer></script>
{% endblock %}

{% block scripts %}
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      Raven.context(function () {
        snapcraft.publisher.initBuilds('#builds-wrapper',
          {{ snap_name|tojson }},
          {{ snap_builds|tojson }}
        );
      });
    });
  </script>
{% endblock %}
