{% extends "publisher/_publisher_layout.html" %}

{% block content %}
<div id="main-content" class="u-no-margin--top">
  <section class="p-strip is-shallow">
    <div class="u-fixed-width">
      <h1 class="p-heading--4">Disconnecting your repository</h1>
      <p>By disconnecting this repository from your snap, the following will occur:</p>
      <ul>
        <li>The previous builds you did on the snap may disappear from the Builds page</li>
        <li>You will be able to continue to release your previous revisions on the Releases tab</li>
      </ul>
      <p>Do you wish to <strong>continue disconnecting your repository?</strong></p>
      <form class="p-form" method="POST" action="/{{ snap_name }}/builds/disconnect">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <p>
          <button type="submit" class="p-button--positive">Confirm</button>
          <button type="submit" formmethod="GET" formaction="/{{ snap_name }}/builds" class="p-button--neutral">Cancel</button>
        </p>
      </form>
    </div>
  </section>
</div>
{% endblock %}