{% extends "_layout.html" %}

{% block title %}
  Market details for {{ title }}
{% endblock %}

{% block content %}
  <div id="main-content" class="u-no-margin--top">
    <section class="p-strip is-shallow u-no-padding--bottom">
      <nav class="p-tabs">
        {# This row and it's contents needs to be removed before going live #}
        <div class="row">
          <a href="/account" class="u-float--left p-muted-heading">&lsaquo; Snap list</a>
        </div>
        <div class="row u-no-margin--top">
        <div class="row">
          <div class="col-6">
            <h1 class="u-float--left p-heading--three">{{ title }}</h1>
          </div>
          <div class="col-6">
            <ul class="p-tabs__list u-float--right" role="tablist">
              <li class="p-tabs__item" role="presentation">
                <a href="/account/snaps/{{ snap_name }}/market" class="p-tabs__link" tabindex="0" role="tab" aria-selected="true">Market</a>
              </li>
              <li class="p-tabs__item" role="presentation">
                <a href="/account/snaps/{{ snap_name }}/measure" class="p-tabs__link" tabindex="0" role="tab">Measure</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row u-no-margin--top">
          <hr class="u-no-margin" />
        </div>
      </nav>
    </section>

    <div class="p-strip is-shallow">
        <form id="market-form" method="POST" enctype='multipart/form-data'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="snap_id" value="{{ snap_id }}" />
          <input type="file" name="icon" id="snap_icon" hidden class="hidden" accept="image/*"/>

          <div class="row">
            <div class="col-12 u-align--right">
                <input type="submit" class="p-button--neutral js-market-revert" name="submit_revert" value="Revert"/>
                <input type="submit" class="p-button--positive js-market-submit" name="submit_apply" value="Apply"/>
                <hr />
            </div>
          </div>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages or error_list %}
              <div class="row">
                <div class="col-12">
                  {% for category, message in messages %}
                    <div id="market-form-status" class="p-notification--{{ category }}">
                      <p class="p-notification__response">
                          {{ message }}
                      </p>
                    </div>
                  {% endfor %}

                  {% for error in error_list %}
                    <div class="p-notification--negative">
                      <p class="p-notification__response">
                          {{ error.message }}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endwith %}

          <div class="row">
            <div class="col-2">
              <div class="p-media-object__image--large p-editable-icon">
                <img id="snap_icon_image"
                  {% if icon_url %}
                    src="{{ icon_url }}" alt="{{ title }} snap"
                  {% else %}
                    src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt=""
                  {% endif %}
                />
              </div>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin">
                <label for="snap-title">Title:</label>
                <input class="p-form-validation__input" id="snap-title" type="text" name="title" value="{{ title }}"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Snap name: </label>
            </div>
            <div class="col-8">
                {{ snap_name }}
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Publisher: </label>
            </div>
            <div class="col-8">
                {{ publisher_name }}
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Summary: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin">
                <input class="p-form-validation__input" type="text" name="summary" value="{{ summary }}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Description: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin">
                <textarea class="p-form-validation__input u-no-margin" name="description">{{ description }}</textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="p-screenshots-toolbar" id="screenshots-toolbar">
                <label>Screenshots (up to 5):</label>
                <div class="p-screenshots-toolbar__buttons">
                  <button class="p-button-neutral js-add-screenshots"><i class="p-icon--plus"></i></button>
                  <button class="p-button-neutral js-delete-screenshot"><i class="p-icon--delete"></i></button>
                  <button class="p-button-neutral js-fullscreen-screenshot  u-no-margin--top"><i class="p-icon--fullscreen"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="snap-screenshots">
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>License: </label>
            </div>
            <div class="col-8">
              {{ license }}
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Developer website: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin">
                <input class="p-form-validation__input" type="text" name="website" value="{{ website }}"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Contact {{ publisher_name }}: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin">
                <input class="p-form-validation__input" type="text" name="contact" value="{{ contact }}"/>
              </div>
            </div>
          </div>
        </form>
    </div>

    {% if api_error %}
    <div class="row">
      <div class="col-12">
        <div class="p-notification--negative">
          <p class="p-notification__response">
            <span class="p-notification__status">Error:</span> API request failed
          </p>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.ravenjs.com/3.22.3/raven.min.js" crossorigin="anonymous"></script>
<script src="/static/js/dist/publisher.js"></script>
<script>
  Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
    whitelistUrls: ['snapcraft.io']
  }).install();
  Raven.context(function () {
    snapcraft.publisher.market.initForm({
      snapIconImage: "snap_icon_image",
      snapIconInput: "snap_icon",
      form: "market-form",
      formNotification: "market-form-status",
      screenshotsToolbar: "screenshots-toolbar",
      screenshotsWrapper: "snap-screenshots"
    }, {
      title: {{ title|tojson }},
      summary: {{ summary|tojson }},
      description: {{ description|tojson }},
      website: {{ website|tojson }},
      contact: {{ contact|tojson }},
      images: [
        {% if icon_url %}
          { url: {{ icon_url|tojson }}, type: "icon", status: "uploaded" },
        {% endif %}
        {% for screenshot_url in screenshot_urls %}
          { url: {{ screenshot_url|tojson }}, type: "screenshot", status: "uploaded" },
        {% endfor %}
      ]
    },
    {% if error_list %}
      {{ error_list|tojson}}
    {% else %}
      null
    {% endif %}
    );
  });
</script>
{% endblock %}
