{% extends "_layout.html" %}

{% block title %}
  Market details for {% if display_title %}{{ display_title }}{% else %}{{ title }}{% endif %}
{% endblock %}

{% block content %}
  <div id="main-content" class="u-no-margin--top">
    <section class="p-strip is-shallow u-no-padding--bottom">
      <nav class="p-tabs">
        {# This row and it's contents needs to be removed before going live #}
        <div class="row">
          <a href="/account" class="u-float--left p-muted-heading">&lsaquo; Snap list</a>
        </div>
        <div class="row u-no-margin--top">
        <div class="row">
          <div class="col-6">
            <h1 class="u-float--left p-heading--three">{% if display_title %}{{ display_title }}{% else %}{{ title }}{% endif %}</h1>
          </div>
          <div class="col-6">
            <ul class="p-tabs__list u-float--right" role="tablist">
              <li class="p-tabs__item" role="presentation">
                <a href="/account/snaps/{{ snap_name }}/market" class="p-tabs__link" tabindex="0" role="tab" aria-selected="true">Market</a>
              </li>
              <li class="p-tabs__item" role="presentation">
                <a href="/account/snaps/{{ snap_name }}/measure" class="p-tabs__link" tabindex="0" role="tab">Measure</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row u-no-margin--top">
          <hr class="u-no-margin" />
        </div>
      </nav>
    </section>

    <div class="p-strip is-shallow">
        <form id="market-form" method="POST" enctype='multipart/form-data'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="hidden" name="snap_id" value="{{ snap_id }}" />
          <input type="file" name="icon" id="snap_icon" hidden class="hidden" accept="image/*"/>

          <div class="row">
            <div class="col-12 u-align--right">
                <input type="submit" class="p-button--neutral js-market-revert" name="submit_revert" value="Revert"/>
                <input type="submit" class="p-button--positive js-market-submit" name="submit_apply" value="Apply"/>
                <hr />
            </div>
          </div>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="row">
                <div class="col-12">
                  {% for category, message in messages %}
                    <div id="market-form-status" class="p-notification--{{ category }}">
                      <p class="p-notification__response">
                          {{ message }}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endwith %}

          {% if other_errors %}
              <div class="row">
                <div class="col-12">
                  {% for error in other_errors %}
                    <div class="p-notification--negative">
                      <p class="p-notification__response">
                          {{ error.message }}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
          {% endif %}

          {% if field_errors and field_errors['icon'] %}
            <div class="row">
              <div class="col-12">
                <div class="p-notification--negative">
                  <p class="p-notification__response">
                      <strong>Icon:</strong> {{ field_errors['icon'] }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="row" data-validation-name="icon">
            <div class="col-2">
              <div class="p-media-object__image--large p-editable-icon">
                <img id="snap_icon_image"
                  {% if icon_url %}
                    src="{{ icon_url }}" alt="{% if display_title %}{{ display_title }}{% else %}{{ title }}{% endif %} snap"
                  {% else %}
                    src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt=""
                  {% endif %}
                />
              </div>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin {% if field_errors and field_errors['title'] %}is-error{% endif %}">
                <label for="snap-title">Title:</label>
                <input class="p-form-validation__input" id="snap-title" type="text" name="title" value="{{ title }}"/>
                {% if field_errors and field_errors['title'] %}
                  <p class="p-form-validation__message">
                    <strong>Error:</strong> {{ field_errors['title'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Snap name: </label>
            </div>
            <div class="col-8">
                {{ snap_name }}
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>Publisher: </label>
            </div>
            <div class="col-8">
                {{ publisher_name }}
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Summary: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin {% if field_errors and field_errors['summary'] %}is-error{% endif %}">
                <input class="p-form-validation__input" type="text" name="summary" value="{{ summary }}"/>
                {% if field_errors and field_errors['summary'] %}
                  <p class="p-form-validation__message">
                    <strong>Error:</strong> {{ field_errors['summary'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Description: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin {% if field_errors and field_errors['description'] %}is-error{% endif %}">
                <textarea class="p-form-validation__input u-no-margin" name="description">{{ description }}</textarea>
                {% if field_errors and field_errors['description'] %}
                  <p class="p-form-validation__message">
                    <strong>Error:</strong> {{ field_errors['description'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          {% if field_errors and field_errors['screenshots'] %}
            <div class="row">
              <div class="col-12">
                <div class="p-notification--negative">
                  <p class="p-notification__response">
                      <strong>Screenshots:</strong> {{ field_errors['screenshots'] }}
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="row" data-validation-name="screenshots">
            <div class="col-12">
              <div class="p-screenshots-toolbar" id="screenshots-toolbar">
                <label>Screenshots (up to 5):</label>
                <div class="p-screenshots-toolbar__buttons">
                  <button class="p-button-neutral js-add-screenshots"><i class="p-icon--plus"></i></button>
                  <button class="p-button-neutral js-delete-screenshot"><i class="p-icon--delete"></i></button>
                  <button class="p-button-neutral js-fullscreen-screenshot  u-no-margin--top"><i class="p-icon--fullscreen"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="snap-screenshots">
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label>License: </label>
            </div>
            <div class="col-8">
              {{ license }}
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Developer website: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin {% if field_errors and field_errors['website'] %}is-error{% endif %}">
                <input class="p-form-validation__input" type="text" name="website" value="{{ website }}"/>
                {% if field_errors and field_errors['website'] %}
                  <p class="p-form-validation__message">
                    <strong>Error:</strong> {{ field_errors['website'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <label class="p-label--grid-baseline">Contact {{ publisher_name }}: </label>
            </div>
            <div class="col-8">
              <div class="p-form-validation u-no-margin {% if field_errors and field_errors['contact'] %}is-error{% endif %}">
                <input class="p-form-validation__input" type="text" name="contact" value="{{ contact }}"/>
                {% if field_errors and field_errors['contact'] %}
                  <p class="p-form-validation__message">
                    <strong>Error:</strong> {{ field_errors['contact'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <input
                type="checkbox"
                name="public_metrics_enabled"
                id="public-metrics-enabled"
                {% if public_metrics_enabled %}
                  checked="checked"
                {% endif %}
                />
              <label class="u-no-margin--top" for="public-metrics-enabled">Display public metric charts</label>
              <p class="p-form-help-text">Does not disclose any usage numbers for your application</p>
              <input
                type="hidden"
                name="public_metrics_blacklist"
                {% if public_metrics_blacklist|length > 0 %}
                  value="{{ join(public_metrics_blacklist, ',')}}"
                {% endif %}
                />
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <input
                type="checkbox"
                name="public_metrics_territories"
                id="public-metrics-territories"
                {% if not contains(public_metrics_blacklist, 'installed_base_by_country_percent') %}
                  checked="checked"
                {% endif %}
                {% if not public_metrics_enabled %}
                  disabled="disabled"
                {% endif %}
                />
              <label class="u-no-margin--top" for="public-metrics-territories">Territories</label>
              <p class="p-form-help-text">Shows usage percentage by country on a map</p>
            </div>
          </div>
        </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.ravenjs.com/3.22.3/raven.min.js" crossorigin="anonymous"></script>
<script src="/static/js/dist/publisher.js"></script>
<script>
  Raven.config('{{ SENTRY_PUBLIC_DSN }}', {
    whitelistUrls: ['snapcraft.io']
  }).install();
  Raven.context(function () {
    snapcraft.publisher.market.initForm({
      snapIconImage: "snap_icon_image",
      snapIconInput: "snap_icon",
      form: "market-form",
      formNotification: "market-form-status",
      screenshotsToolbar: "screenshots-toolbar",
      screenshotsWrapper: "snap-screenshots"
    }, {
      title: {{ title|tojson }},
      summary: {{ summary|tojson }},
      description: {{ description|tojson }},
      website: {{ website|tojson }},
      contact: {{ contact|tojson }},
      images: [
        {% if icon_url %}
          { url: {{ icon_url|tojson }}, type: "icon", status: "uploaded" },
        {% endif %}
        {% for screenshot_url in screenshot_urls %}
          { url: {{ screenshot_url|tojson }}, type: "screenshot", status: "uploaded" },
        {% endfor %}
      ],
      'public_metrics_enabled': {{ public_metrics_enabled|tojson }},
      'public_metrics_blacklist': {{ join(public_metrics_blacklist, ',')|tojson }}
    },
    {% if error_list %}
      {{ error_list|tojson}}
    {% else %}
      null
    {% endif %}
    );
  });
</script>
{% endblock %}
