{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
Publicise {% if display_title %}{{ display_title }}{% else %}{{ snap_title }}{% endif %}
{% endblock %}

{% block content %}
<div id="main-content">
  {% set selected_tab='publicise' %}
  {% include "publisher/_header.html" %}

  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-2">
        <label>Language:</label>
      </div>
      <div class="col-8">
        <form class="p-form--inline js-language-select">
          <select name="language">
            {% for lang, data in available.items() %}
              <option value="{{ lang }}">{{ data.title }}</option>
            {% endfor %}
          </select>
        </form>
        <p class="u-no-margin--bottom">You can help translate these buttons <a href="https://github.com/snapcore/snap-store-badges" target="_blank" class="p-link--external">in this repository</a>.</p>
      </div>
    </div>
`
    <div class="row">
      <hr />
    </div>

    {% for lang, data in available.items() %}
      <div id="{{ lang }}_content" class="js-language-content{% if loop.index != 1 %} u-hide{% endif %}">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8">
            <div class="col-5">
              <p class="snapcraft-publicise__images">
                {% set url = "images/badges/" + lang + "/snap-store-black.svg" %}
                <a href="https://snapcraft.io/{{ snap_name }}">
                  <img alt="{{ data.text }} src="{{ static_url(url) }}" />
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>HTML:</label>
          </div>
          <div class="col-8">
            <pre><code>&lt;a href="https://snapcraft.io/{{ snap_name }}"&gt;
  &lt;img alt="{{ data.text }}" src="https://snapcraft.io/static/images/badges/{{ lang }}/snap-store-black.svg" /&gt;
&lt;/a&gt;</code></pre>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Markdown:</label>
          </div>
          <div class="col-8">
            <pre><code>[![{{ data.text }}](https://snapcraft.io/static/images/badges/{{ lang }}/snap-store-black.svg)](https://snapcraft.io/{{ snap_name }})</code></pre>
          </div>
        </div>

        <div class="row">
          <hr />
        </div>

        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8">
            <div class="col-5">
              <p class="snapcraft-publicise__images">
                {% set url = "images/badges/" + lang + "/snap-store-white.svg" %}
                <a href="https://snapcraft.io/{{ snap_name }}">
                  <img alt="{{ data.text }} src="{{ static_url(url) }}" />
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>HTML:</label>
          </div>
          <div class="col-8">
            <pre><code>&lt;a href="https://snapcraft.io/{{ snap_name }}"&gt;
  &lt;img alt="{{ data.text }}" src="https://snapcraft.io/static/images/badges/{{ lang }}/snap-store-white.svg" /&gt;
&lt;/a&gt;</code></pre>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <label>Markdown:</label>
          </div>
          <div class="col-8">
            <pre><code>[![{{ data.text }}](https://snapcraft.io/static/images/badges/{{ lang }}/snap-store-white.svg)](https://snapcraft.io/{{ snap_name }})</code></pre>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="row">
      <hr />
    </div>

    <div class="row">
      <div class="col-2">
        Download all:
      </div>
      <div class="col-8">
        <a href="https://github.com/snapcore/snap-store-badges/archive/{{ download_version }}.zip" class="p-button">zip</a>
        <a href="https://github.com/snapcore/snap-store-badges/archive/{{ download_version }}.tar.gz" class="p-button">tar.gz</a>
        <a href="https://raw.githubusercontent.com/snapcore/snap-store-badges/master/LICENSE.md" target="_blank" class="p-link--external">View license</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/publisher.js') }}"></script>
  <script>
    Raven.context(function () {
      snapcraft.publisher.publicise();
    });
  </script>
{% endblock %}
