{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
Snapcraft - Register name dispute
{% endblock %}

{% block content %}
<div class="p-strip">
  <div class="row">
    <h1 class="p-heading--four"><a href="/snaps">&lsaquo; My snaps</a></h1>
    <h1 class="p-heading--two">Thank you for requesting the name <strong>{{snap_name}}</strong></h1>
    <p>We will proccess the details provided with the name dispute</p>
    <p>Each case is reviewed individually and we can't provide an estimate on how long it will take for us to process this information. We will contact you once we confirm the information provided</p>
    <hr />
    <a href="/snaps" class="p-button--positive u-float-right">Return to my snaps</a>
  </div>
</div>
</div>
{% endblock %}
