{% extends webapp_config['LAYOUT'] %}

{% block title %}
Register new Snap name
{% endblock %}

{% block content %}
<div class="p-strip">

  {% if conflict %}
    <div class="row">
      <div class="col-8 push-2">
        <h1 class="p-heading--three">{{ snap_name }} is already taken</h1>
      </div>
    </div>
  {% else %}
    <div class="row">
        <div class="col-8 push-2">
          <h1 class="p-heading--three">Register a snap name</h1>
        </div>
    </div>
  {% endif %}

  {% if conflict %}
      <div class="row">
        <div class="col-8 push-2">
            <div class="p-notification--caution">
              <p class="p-notification__response">
                Another publisher already registered {{ snap_name }}. You can <a href="https://dashboard.snapcraft.io/register-snap/" class="p-link--external" target="_blank">file a dispute</a> to request a transfer of ownership or register a new name below.
              </p>
            </div>
        </div>
      </div>
  {% endif %}

  {% if already_owned %}
    <div class="row">
      <div class="col-8 push-2">
        <div class="p-notification--caution">
          <p class="p-notification__response">
            You already own '<a href="/account/snaps/{{ snap_name }}/listing">{{ snap_name }}</a>'.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if not conflict %}
    <div class="row">
      <div class="col-8 push-2">
        <p>Before you can push your snap to the store, its name must be registered</p>
      </div>
    </div>
  {% endif %}

  {% if errors %}
      <div class="row">
        <div class="col-8 push-2">
          {% for error in errors %}
            <div class="p-notification--caution">
              <p class="p-notification__response">
                  {{ error.message }}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}

  <form method="POST" action="/account/register-name" class="u-no-margin--top">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

   <div class="row">
      <div class="col-8 push-2">
        <div class="p-form-validation">
          <label for="snap-name">Snap name</label>
          <div class="p-form-validation__field">
            <input class="p-form-validation__input" type="text" name="snap-name" id="snap-name" required maxlength="64" value="{{ snap_name }}" />
          </div>
        </div>
        <div class="p-form-validation">
          <label for="public">Snap privacy</label>
          <p class="p-form-help-text">This can be changed at any time after the initial upload</p>
          <div class="p-form-validation__field">
            <input type="radio" name="is_private" value="public" class="p-form-validation__input" id="public" {% if not is_private %} checked {% endif %}>
            <label for="public">Public</label>
            <input type="radio" name="is_private" value="private" class="p-form-validation__input" id="private" {% if is_private %} checked {% endif %}>
            <label for="private">Private <span class="p-form-help-text">Snap is hidden in stores and only accessible by the publisher and collaborators</span></label>
          </div>
        </div>
      </div>
    </div>

    <div class="row u-no-margin--top">
      <div class="col-8 push-2">
        <hr/>
      </div>
    </div>

    <div class="row u-no-margin--top">
      <div class="col-8 push-2">
        <div class="u-align--right">

          <a class="p-button--neutral" href="/account/snaps">Cancel</a>
          <input type="submit" class="p-button--positive u-no-margin--top" value="Register"/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
