{% extends "_layout.html" %}

{% block title %}
Register new Snap name
{% endblock %}

{% block content %}
<div id="main-content" class="u-no-margin--top">
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="row">
      <div class="col-8">
        <div class="p-form-validation">
          <label for="snap-title">Snap-name:</label>
          <div class="p-form-validation__field">
            <input class="p-form-validation__input" type="text" name="snap-name" required maxlength="64"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="p-form-validation">
          <label for="snap-title">Is Private:</label>
          <div class="p-form-validation__field">
            <input name="is_private" class="p-form-validation__input" type="checkbox">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="p-form-validation">
          <label for="snap-title">Registrant Comment:</label>
          <div class="p-form-validation__field">
            <textarea class="p-form-validation__input u-no-margin" name="registrant_comment" rows="10" required></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <input type="submit" class="p-button--positive" value="Register"/>
    </div>
  </form>
</div>
{% endblock %}
