{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}
Revision history for {{ snap_title }}
{% endblock %}

{% block content %}

<div id="main-content" class="u-no-margin--top">
  {% set selected_tab='release' %}
  {% include "publisher/_header.html" %}

  <section class="p-strip is-shallow">
    <div class="row">

      <div id="release-history"></div>

    </div>
  </section>
</div>

{% endblock %}


{% block scripts %}
  <script src="{{ static_url('js/dist/release.js') }}"></script>
  <script>
    snapcraft.release.initReleases('#release-history', {{ revision_history|tojson }}, {
      releaseUiEnabled: {{ release_ui_enabled|tojson }}
    });
  </script>
{% endblock %}
