{% extends "publisher/_publisher_layout.html" %}

{% block meta_title %}
Settings for {% if display_title %}{{ display_title }}{% else %}{{ snap_title }}{% endif %}
{% endblock %}

{% block content %}
<main id="main-content"></main>
<script>
  window.SENTRY_DSN = "{{ SENTRY_DSN }}";
  window.CSRF_TOKEN = "{{ csrf_token() }}";
  window.countries = {{ countries|tojson }};
  window.settingsData = {
    publisher_name: "{{ publisher_name }}",
    snap_title: "{{ snap_title }}",
    snap_name: "{{ snap_name }}",
    snap_id: "{{ snap_id }}",
    store: "{{ store }}",
    status: "{{ status }}",
    update_metadata_on_release: {{ update_metadata_on_release|tojson }},
    private: {{ private|tojson }},
    unlisted: {{ unlisted|tojson }},
    whitelist_countries: {{ whitelist_country_codes|tojson }},
    blacklist_countries: {{ blacklist_country_codes|tojson }},
  };
</script>
<script src="{{ static_url('js/dist/publisher-settings.js') }}"></script>
{% endblock %}


