<h4>Details for {{ snap_title }}</h4>

<h5 class="p-muted-heading">License</h5>
<ul class="p-list">
  <li>{{ license }}</li>
</ul>
<hr>

{% if updates %}
  <h5 class="p-muted-heading">Last updated</h5>
  <ul class="p-list">
    {% if updates[0] %}
      <li>{{ updates[0]["released-at-display"] }} - <small>{{ updates[0]["track"] }}/{{ updates[0]["risk"] }}</small></li>
    {% endif %}
    {% if updates[1] %}
      <li>{{ updates[1]["released-at-display"] }} - <small>{{ updates[1]["track"] }}/{{ updates[1]["risk"] }}</small></li>
    {% endif %}
  </ul>
  <hr>
{% endif %}

{% if links %}
  {% if links["website"] %}
    <h5 class="p-muted-heading">Websites</h5>
    <ul class="p-list">
      {% for link in links["website"] %}
        <li>
          <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
        </li>
      {% endfor %}
    </ul>  
    <hr>
  {% endif %}

  {% if links["contact"] %}
    <h5 class="p-muted-heading">Contact</h5>
    <ul class="p-list">
      {% for link in links["contact"] %}
        <li>
          <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
        </li>
      {% endfor %}
    </ul>  
    <hr>
  {% endif %}

  {% if links["donations"] %}
    <h5 class="p-muted-heading">Donations</h5>
    <ul class="p-list">
      {% for link in links["donations"] %}
        <li>
          <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
        </li>
      {% endfor %}
    </ul>  
    <hr>
  {% endif %}

  {% if links["source"] %}
    <h5 class="p-muted-heading">Source code</h5>
    <ul class="p-list">
      {% for link in links["source"] %}
        <li>
          <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
        </li>
      {% endfor %}
    </ul>  
    <hr>
  {% endif %}

  {% if links["issues"] %}
    <h5 class="p-muted-heading">Report a bug</h5>
    <ul class="p-list">
      {% for link in links["issues"] %}
        <li>
          <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
        </li>
      {% endfor %}
    </ul>  
    <hr>
  {% endif %}

  {# REPORT SNAP SECTION - hidden in preview #}
    {% if not is_preview and not IS_BRAND_STORE %}
      <h5 class="p-muted-heading">Report a Snap Store violation</h5>
      <ul class="p-list">
        <li>
          <a class="js-modal-open">Report this Snap</a>
        </li>
      </ul>

      {% include "store/snap-details/_report_snap_modal.html" %}
      <hr>
    {% endif %}

<div class="p-modal js-exeternal-link-modal u-hide" id="modal">
  <section class="p-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title"><i class="p-icon--warning" style="width: 1rem; height: 1rem; position: relative; top: 1px; margin-right: 0.24rem;"></i> External link warning</h2>
    </header>
    <p class="u-no-max-width">You are about to open <span class="js-external-link-url"></span></p>
    <p class="u-no-max-width">Do you wish to proceed?</p>
    </p>
    <footer class="p-modal__footer">
      <button class="u-no-margin--bottom js-close-modal" aria-controls="modal">Go back</button>
      <a class="p-button--positive u-no-margin--bottom js-open-external-link" href="" target="_blank">Proceed</a>
    </footer>
  </section>
</div>

<script>
  const externalLinks = document.querySelectorAll(".js-external-link");
  const externalLinkModal = document.querySelector(".js-exeternal-link-modal");
  const externalLinkModalCloseButton = externalLinkModal.querySelector(
    ".js-close-modal"
  );
  const externalLinkUrl = externalLinkModal.querySelector(
    ".js-external-link-url"
  );
  const openExternalLinkButton = externalLinkModal.querySelector(
    ".js-open-external-link"
  );
  
  function openModal() {
    externalLinkModal.classList.remove("u-hide");
  }
  
  function closeModal() {
    externalLinkModal.classList.add("u-hide");
  }

  function setLinkDisplayText(href) {
    if (href.includes("mailto")) {
      externalLinkUrl.innerText = href;
      return;
    }

    const url = new URL(href);

    const protocolContainer = document.createElement("strong");
    const hostnameContainer = document.createElement("strong");
    const pathContainer = document.createElement("span");
    const searchContainer = document.createElement("span");

    protocolContainer.classList.add(
      url.protocol === "https:" ? 
        "external-link-protocol--positive" : "external-link-protocol--negative"
    );

    pathContainer.classList.add("u-text-muted");
    searchContainer.classList.add("u-text-muted");

    protocolContainer.innerText = `${url.protocol}//`;
    hostnameContainer.innerText = url.hostname;
    
    if (url.pathname && url.pathname !== "/") {
      pathContainer.innerText = url.pathname;

    }
    
    searchContainer.innerText = url.search;

    externalLinkUrl.innerHTML = "";
    externalLinkUrl.appendChild(protocolContainer);
    externalLinkUrl.appendChild(hostnameContainer);
    externalLinkUrl.appendChild(pathContainer);
    externalLinkUrl.appendChild(searchContainer);
  }

  externalLinkModalCloseButton.addEventListener("click", () => {
    closeModal();
  });

  externalLinks.forEach((link) => { 
    
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = e.target.href;
      openExternalLinkButton.href = href;
      openExternalLinkButton.addEventListener("click", handleOpenExternalLink); 
      setLinkDisplayText(href);
      openModal();
    });
  });

  function handleOpenExternalLink() {
    closeModal();
    openExternalLinkButton.removeEventListener("click", handleOpenExternalLink);
  }
</script>
{% endif %}
