<h4>Details for {{ snap_title }}</h4>

<h5 class="u-no-margin--bottom">License</h5>
<p>{{ license }}</p>

<hr>

<h5 class="u-no-margin--bottom">Last updated</h5>
<p>{{ last_updated }}</p>

<hr>

<!-- Once `links` is added to the API we can remove the `request.args` check -->
{% if links and request.args.get("show_metadata_links") %}
<h5 class="u-no-margin--bottom">Links</h5>
<ul class="p-list">
  {% if links["website"] %}
  <li class="p-links-list__item">
    {% if links["website"]|length == 1 %}
      <p class="u-no-margin--bottom">
        <a class="js-external-link" title="{{ links['website'][0] }}" href="{{ links['website'][0] }}" aria-controls="modal">Website</a>
      </p>
    {% else %}
      <p class="u-no-margin--bottom">Websites</p>
      <ul class="p-list">
        {% for link in links["website"] %}
          <li>
            <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
          </li>
        {% endfor %}
      </ul>  
    {% endif %}
  </li>
  {% endif %}

  {% if links["contact"] %}
  <li class="p-links-list__item">
    {% if links["contact"]|length == 1 %}
      <p class="u-no-margin--bottom">
        <a class="js-external-link" title="{{ links['contact'][0] }}" href="{{ links['contact'][0] }}" aria-controls="modal">Contact</a>
      </p>
    {% else %}
      <p class="u-no-margin--bottom">Contact</p>
      <ul class="p-list">
        {% for link in links["contact"] %}
          <li>
            <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
          </li>
        {% endfor %}
      </ul>  
    {% endif %}
  </li>
  {% endif %}

  {% if links["donation"] %}
  <li class="p-links-list__item">
    {% if links["donation"]|length == 1 %}
      <p class="u-no-margin--bottom">
        <a class="js-external-link" title="{{ links['donation'][0] }}" href="{{ links['donation'][0] }}" aria-controls="modal">Donations</a>
      </p>
    {% else %}
      <p class="u-no-margin--bottom">Donations</p>
      <ul class="p-list">
        {% for link in links["donation"] %}
          <li>
            <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
          </li>
        {% endfor %}
      </ul>  
    {% endif %}
  </li>
  {% endif %}

  {% if links["source-code"] %}
  <li class="p-links-list__item">
    {% if links["source-code"]|length == 1 %}
      <p class="u-no-margin--bottom">
        <a class="js-external-link" title="{{ links['source-code'][0] }}" href="{{ links['source-code'][0] }}" aria-controls="modal">Source code</a>
      </p>
    {% else %}
      <p class="u-no-margin--bottom">Source code</p>
      <ul class="p-list">
        {% for link in links["source-code"] %}
          <li>
            <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
          </li>
        {% endfor %}
      </ul>  
    {% endif %}
  </li>
  {% endif %}

  {% if links["issues"] %}
  <li class="p-links-list__item">
    {% if links["issues"]|length == 1 %}
      <p class="u-no-margin--bottom">
        <a class="js-external-link" title="{{ links['issues'][0] }}" href="{{ links['issues'][0] }}" aria-controls="modal">Report a bug</a>
      </p>
    {% else %}
      <p class="u-no-margin--bottom">Report a bug</p>
      <ul class="p-list">
        {% for link in links["issues"] %}
          <li>
            <a class="js-external-link" title="{{ link }}" href="{{ link }}" aria-controls="modal">{{ format_link(link) }}</a>
          </li>
        {% endfor %}
      </ul>  
    {% endif %}
  </li>
  {% endif %}
</ul>
<hr>

<div class="p-modal js-exeternal-link-modal u-hide" id="modal">
  <section class="p-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title"><i class="p-icon--warning" style="width: 1rem; height: 1rem; position: relative; top: 1px; margin-right: 0.24rem;"></i> External link warning</h2>
    </header>
    <p class="u-no-max-width">You are about to open <span class="js-external-link-url"></span></p>
    <p class="u-no-max-width">Do you wish to proceed?</p>
    </p>
    <footer class="p-modal__footer">
      <button class="u-no-margin--bottom js-close-modal" aria-controls="modal">Go back</button>
      <a class="p-button--positive u-no-margin--bottom js-open-external-link" href="" target="_blank">Proceed</a>
    </footer>
  </section>
</div>

<script>
  const externalLinks = document.querySelectorAll(".js-external-link");
  const externalLinkModal = document.querySelector(".js-exeternal-link-modal");
  const externalLinkModalCloseButton = externalLinkModal.querySelector(
    ".js-close-modal"
  );
  const externalLinkUrl = externalLinkModal.querySelector(
    ".js-external-link-url"
  );
  const openExternalLinkButton = externalLinkModal.querySelector(
    ".js-open-external-link"
  );
  
  function openModal() {
    externalLinkModal.classList.remove("u-hide");
  }
  
  function closeModal() {
    externalLinkModal.classList.add("u-hide");
  }

  function setLinkDisplayText(href) {
    if (href.includes("mailto")) {
      externalLinkUrl.innerText = href;
      return;
    }

    const url = new URL(href);

    const protocolContainer = document.createElement("strong");
    const hostnameContainer = document.createElement("strong");
    const pathContainer = document.createElement("span");
    const searchContainer = document.createElement("span");

    protocolContainer.classList.add(
      url.protocol === "https:" ? 
        "external-link-protocol--positive" : "external-link-protocol--negative"
    );

    pathContainer.classList.add("u-text-muted");
    searchContainer.classList.add("u-text-muted");

    protocolContainer.innerText = `${url.protocol}//`;
    hostnameContainer.innerText = url.hostname;
    
    if (url.pathname && url.pathname !== "/") {
      pathContainer.innerText = url.pathname;

    }
    
    searchContainer.innerText = url.search;

    externalLinkUrl.innerHTML = "";
    externalLinkUrl.appendChild(protocolContainer);
    externalLinkUrl.appendChild(hostnameContainer);
    externalLinkUrl.appendChild(pathContainer);
    externalLinkUrl.appendChild(searchContainer);
  }

  externalLinkModalCloseButton.addEventListener("click", () => {
    closeModal();
  });

  externalLinks.forEach((link) => { 
    
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = e.target.href;
      openExternalLinkButton.href = href;
      openExternalLinkButton.addEventListener("click", handleOpenExternalLink); 
      setLinkDisplayText(href);
      openModal();
    });
  });

  function handleOpenExternalLink() {
    closeModal();
    openExternalLinkButton.removeEventListener("click", handleOpenExternalLink);
  }
</script>

<!-- Once `links` is added to the API we can remove this `else` section -->
{% else %}
  <h5 class="u-no-margin--bottom">Links</h5>
  <ul class="p-list">
    {% if website or is_preview %}
      <li>
        <a href="{{ website }}" data-live="website">Developer website</a>
      </li>
    {% endif %}
            
    {% if contact or is_preview %}
      <li>
        <a href="{{ contact }}" data-live="contact">Contact {{ publisher }}</a>
      </li>
    {% endif %}
  </ul>

  <hr>
{% endif %}
