<div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>
<div class="p-strip is-shallow">
    <div class="row">
        <div class="col-12">
        <h3 class="p-heading--two">Install {{snap_title}} on your Linux distribution</h3>
        <p>Choose your Linux distribution to get detailed installation instructions. If yours is not shown, get more details on the <a href="https://docs.snapcraft.io/installing-snapd" target="_blank">installing snapd documentation</a>.</p>
        </div>
    </div>
</div>
<div class="p-strip is-shallow u-no-padding--top">
    <div class="row" id="distros">
        <div class="col-12 snapcraft-p-grid">
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/arch">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/feca0fc0-Distro_Logo_ArchLinux.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Arch Linux</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/centos">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/acf876d9-Distro_Logo_CentOS.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">CentOS</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/debian">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/cfdc1144-Distro_Logo_Debian.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Debian</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/elementary">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/c0c09661-Distro_Logo_Elementary.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">elementary OS</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/fedora">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/6c5dc09e-Distro_Logo_Fedora.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Fedora</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/kde-neon">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/d0593902-Distro_Logo_KDE+Neon.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">KDE Neon</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/kubuntu">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/7ab50a06-Distro_Logo_Kubuntu.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Kubuntu</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/manjaro">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/4635a0bd-Distro_Logo_Manjaro.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Manjaro</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/mint">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/938d67b4-Distro_Logo_LinuxMint.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Linux Mint</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/opensuse">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/610301c6-Distro_Logo_OpenSUSE.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">openSUSE</h4>
                </span>
            </a>
            <a class="p-media-object p-media-object--snap u-vertically-center" href="/install/{{package_name}}/ubuntu">
                <span class="p-media-object__image">
                    <img src="https://assets.ubuntu.com/v1/100386fb-Distro_Logo_Ubuntu.svg" alt="">
                </span>
                <span class="p-media-object__details">
                    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">Ubuntu</h4>
                </span>
            </a>
        </div>
    </div>
</div>
