<div class="p-modal u-hide" id="report-snap-modal">
  <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <div class="js-report-snap-form">
      <header class="p-modal__header">
        <h2 class="p-modal__title" id="modal-title">Report {{snap_title}} for a Snap Store violation</h2>
        <button class="p-modal__close js-modal-close" aria-label="Close dialog">Close</button>
      </header>

      {# report snap form submits to a Google Forms #}
      {# names of the inputs need to be consistend with the original form #}
      <form id="report-snap-form" action="/report" method="POST">
        <input name="csrf_token" type="hidden" value="{{csrf_token()}}" />
        <input type="hidden" name="entry.718227286" value="{{package_name}}" />
        <div class="p-notification--negative">
          <div class="p-notification__content">
            <h5 class="p-notification__title">
              Reports submitted through this form go to the Snap team, not the Snap Developer.
            </h5>
            {% if links and links["contact"] %}
              <p class="p-notification__message">
                The Snap developer has provided the following <b>contact information</b>:</p>
              <ul>
                {% if links["contact"] %}
                  {% for link in links["contact"] %}
                    <li><a href="{{link}}" target="_blank" rel="noopener">{{ format_link(link) }}</a></li>
                  {% endfor %}
                {% endif %}
              </ul>
            {% endif %}
            {% if links and links["issues"] %}
              <p class="p-notification__message">
                The Snap developer has provided the following links for <b>reporting issues</b>:</p>
              <ul>
                {% if links["issues"] %}
                  {% for link in links["issues"] %}
                    <li><a href="{{link}}" target="_blank" rel="noopener">{{ format_link(link) }}</a></li>
                  {% endfor %}
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
        <label for="report-snap-reason">Choose a reason for reporting this snap</label>
        <select id="report-snap-reason" name="entry.340540050" required>
          <option value="" selected>Select an option</option>
          <option value="Copyright or trademark violation">Copyright or trademark violation</option>
          <option value="Snap Store terms of service violation">Snap Store terms of service violation</option>
        </select>
        <label for="report-snap-comment">Please provide more detailed reason to your report</label>
        <textarea id="report-snap-comment" type="text" name="entry.1974584359" placeholder="Comment..." rows="5" maxlength="1000" required></textarea>

        <label for="report-snap-email">Your email (optional)</label>
        <input id="report-snap-email" type="email" name="entry.1624813972" placeholder="email@example.com" />
        <label for="report-snap-confirm" style="position: absolute; top: -9999999px;">I agree</label>
        <input id="report-snap-confirm" type="checkbox" name="entry.13371337" style="position: absolute; top: -9999999px;" />
        <p>In submitting this form, I confirm that I have read and agree to <a href="https://ubuntu.com/legal/data-privacy/contact">Canonical’s Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy">Privacy Policy</a>.</p>
        <div class="u-align--right">
          <button type="button" class="js-modal-close u-no-margin--bottom">Cancel</button>
          {# use --dark fake class for spinner icon to be rendered correctly... #}
          <button type="submit" type="submit" class="--dark u-no-margin--bottom">Submit report</button>
        </div>
      </form>
    </div>

    <div class="js-report-snap-success u-hide">
      <header class="p-modal__header">
        <h2 class="p-modal__title" id="modal-title">Snap Store Violation Report submitted successfully</h2>
        <button class="p-modal__close js-modal-close" aria-label="Close dialog">Close</button>
      </header>
      <p>Thank you for your report. Information you provided will help us investigate further.</p>
      <div class="u-align--right">
        <button type="button" class="p-button--positive js-modal-close u-no-margin--bottom">Close</button>
      </div>
    </div>

    <div class="js-report-snap-error u-hide">
      <header class="p-modal__header">
        <h2 class="p-modal__title" id="modal-title">Error submitting report</h2>
        <button class="p-modal__close js-modal-close u-no-margin--bottom" aria-label="Close dialog">Close</button>
      </header>
      <p>There was an error while sending your report. Please try again later.</p>
      <div class="u-align--right">
        <button type="button" class="p-button--positive js-modal-close u-no-margin--bottom">Close</button>
      </div>
    </div>
  </div>
</div>
