{% if icon_url %}
  {{
    image(
      url=icon_url,
      alt=snap_title,
      width=60,
      height=60,
      hi_def=True,
      loading="eager",
      attrs={"class": "p-snap-heading__icon", "data-live": "icon"}
    ) | safe
  }}
{% else %}
  <img class="p-snap-heading__icon" src="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg" alt="" data-live="icon" />
{% endif %}
<div class="p-snap-heading__title">
  <h1 class="p-heading--2 p-snap-heading__name" data-live="title">{{ snap_title }}</h1>
  <div class="u-hide u-show--small">
    {% include 'store/_snap-header-information.html' %}
  </div>
  <ul class="p-inline-list--middot">
    <li class="p-inline-list__item u-hide--small">
      {% include 'store/_snap-header-information.html' %}
    </li>
    {% for category in categories %}<li class="p-inline-list__item">
      <a href="/search?category={{category.slug}}">{{ category.name }}</a>
    </li>{% endfor %}
  </ul>
</div>
