@mixin button-overrides {
  .is-inline--right {
    margin-right: $sp-medium;
  }

  .p-icon--github {
    @extend %icon;
    background-image: url('#{$assets-path}61d83c7e-icon-github.svg');
  }

  //propose to vanilla when two buttons are next to each other
  [class^="p-button"] + [class^="p-button"]:not(span) {
    margin-right: $sph-inter;
  }

  // new button style for dark strip
  // TODO: propose as new pattern (or amendment?) to vanilla
  .p-strip--accent {
    .p-button--base {
      border-color: $color-x-light;
      color: $color-x-light;
      margin-top: 0;

      &:hover {
        background-color: transparentize($color-x-light, .8);
      }
    }
  }
}
