@mixin global-nav {
  $white-color: rgba(255, 255, 255, 1);

  .global-nav {
    align-items: center;
    background: $color-navigation-background;
    display: flex;
    min-height: 2rem;
    position: relative;

    .global-nav__row {
      display: flex;
    }

    .global-nav__logo-anchor {
      padding: .6875rem 1rem .6875rem 1rem;
    }

    .global-nav__links {
      flex-grow: 1;
      margin-bottom: 0;
      text-align: right;

      .global-nav__link-anchor {
        color: $white-color;
        display: inline-block;
        font-size: .875rem;
        line-height: 1.25rem;
        margin-bottom: 0;
        transition: all .25s;
      }
    }
  }
}
