@mixin p-logo-link {
  .p-logo-link {
    border: 1px solid transparent;
    border-radius: 2px;
    display: block;
    margin-top: 0;

    img {
      display: block;
    }

    &:hover {
      border-color: $color-mid-light;
      text-decoration: none;
    }

    &:visited {
      color: inherit;
    }
  }

  .p-logo-image {
    align-items: center;
    display: flex;
  }
}
