@mixin vf-p-table-key-value {
  .p-table-key-value {

    th {
      color: $color-mid-dark;
      font-weight: 300;
      padding-right: $sph-inner; // workaround for https://github.com/vanilla-framework/vanilla-framework/issues/1883
      text-align: right;
    }

    tbody tr:not(:first-child) {
      border-top-style: dotted;
    }

  }
}
