@mixin snapcraft-p-media-object--snap {
  $matrix-img-width: map-get($icon-sizes, heading-icon--small);
  $matrix-img-gutter: $sph-inter;
  %ellipsize {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-media-object--snap {
    display: block;
    margin-bottom: 0;

    &__image {
      margin-bottom: $spv-intra;
      margin-right: $matrix-img-gutter;
      height: $matrix-img-width;
      max-width: $matrix-img-width;
      width: auto;
    }

    &__content {
      @extend %ellipsize;
      margin-bottom: $sp-unit * 1 - map-get($nudges, nudge--p);
      &,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        color: $color-mid-dark;
        text-decoration: none;
      }
    }

    &__title {
      @extend %vf-heading-5;
      @extend %ellipsize;
      margin-bottom: - map-get($nudges, nudge--p);

      &,
      &:active,
      &:hover,
      &:focus,
      &:visited {
        color: $color-dark;
        text-decoration: none;
      }
    }
  }
}
