@mixin snapcraft-p-pagination {
  .p-pagination__link--previous,
  .p-pagination__link--next {
    $color-darken-transparent: rgba(0, 0, 0, .1);

    &:hover {
      background-color: $color-darken-transparent;
    }

    &.is-disabled {
      cursor: default;
      opacity: .5;
      pointer-events: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  // 10.07.2020 - Ovi: This can be remove once this issue is closed
  .p-pagination__link--previous {
    margin-inline-end: .5rem;
  }
}
