@mixin snapcraft-p-snap-row {
  // Can be removed when vanilla is upgraded to $spv-inter--expanded
  $margin-bottom: $spv-inter--regular + $spv-inter--condensed;

  .p-snap-row {
    margin-bottom: $margin-bottom;

    @media screen and (max-width: $breakpoint-navigation-threshold) {
      .col-2 {
        @include column-base;
        width: column-width(6);
      }

      .p-media-object--snap {
        margin-bottom: $margin-bottom;
      }
    }
  }
}
