@mixin p-password-toggle-input {
  .p-password-toggle-input {
    position: relative;

    .p-password-toggle-input__button {
      color: $color-link;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        background-color: inherit;
      }
    }
  }
}
