@mixin snapcraft-p-first-snap-flow {
  .p-flow-details {
    width: 100%;
  }

  .p-flow-details__continue {
    clear: both;
  }

  .p-code-yaml {
    font-size: 14px;
    line-height: 1.5em;

    b {
      color: $color-positive;
    }
  }

  .p-accordion__step {
    display: block;
    float: left;
    width: 3rem;
  }

  .p-accordion__panel {
    overflow: visible;
    padding-left: 4rem;
  }

  .p-form-validation__message {
    display: none;

    .is-error & {
      color: $color-negative;
      display: block;
    }
  }
}
