// Based on the matrix component https://github.com/vanilla-framework/vanilla-framework/blob/develop/scss/_patterns_matrix.scss
@mixin snapcraft-p-media-object--snap {
  $matrix-img-width: map-get($icon-sizes, thumb--small);
  $matrix-img-gutter: $sph-inter;

  .p-media-object--snap {
    display: block;
    margin-bottom: $spv-inter--shallow-scaleable;

    &__img {
      align-self: flex-start;
      height: $matrix-img-width;
      margin-bottom: $spv-inter--condensed;
      margin-right: $matrix-img-gutter;
      max-height: $matrix-img-width;
      max-width: $matrix-img-width;
      width: auto;
    }

    &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding-right: $sph-intra;
    }

    &__title {
      @extend %vf-heading-5;
      margin-top: -$sp-unit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &__publisher {
      color: $color-mid-dark;
      margin-bottom: $spv-nudge-compensation;
      margin-top: - $sp-unit * 3;

      > p:last-child {
        margin-bottom: 0;
      }

      & + & {
        margin-top: 0; // Negate nudge compensation for multiple .p-matrix__desc
      }

      @media (max-width: $breakpoint-heading-threshold) {
        margin-top: - $sp-unit;
      }
    }

    .p-media-object--snap__description {
      margin-top: 2 * $sp-unit;
    }

    &:hover {
      text-decoration: none;
    }

    &.is-placeholder {
      .p-media-object--snap__img {
        background: $color-light;
        border-radius: 2px;
        display: block;
        width: $matrix-img-width;
      }

      .p-media-object--snap__title,
      .p-media-object--snap__publisher p {
        color: transparent;
        position: relative;

        &::before {
          border-radius: 2px;
          color: $color-light;
          left: 0;
          overflow: hidden;
          position: absolute;
        }
      }

      .p-media-object--snap__title::before {
        content: "████████";
      }

      .p-media-object--snap__publisher p::before {
        content: "███████████";
      }
    }
  }
}
