$cc-button-size: 36 * $px;
$color-mid: #999 !default;

@mixin vf-p-code-copyable {
  .p-code-copyable {
    @extend %bordered-text-vertical-padding;
    @extend %vf-bg--x-light;
    @extend %vf-has-round-corners;
    @extend %vf-is-bordered;
    display: flex;
    overflow: hidden;
    position: relative;

    & + & {
      margin-top: 0; // overrides p + p
    }

    &__input {
      border: 0;
      color: $color-mid-dark;
      font-family: unquote($font-monospace);
      line-height: map-get($line-heights, default-text);
      padding: 0 $cc-button-size + $sp-unit 0 $sph-inner;
      width: 100%;
    }

    &__action {
      @extend %vf-hide-text;
      @extend %bordered-text-vertical-padding;
      @include vf-icon-copy($color-mid-dark);
      @include vf-button-pattern($button-background-color: $color-light, $button-hover-background-color: darken($color-light, 10%));
      background-image: url('data:image/svg+xml;utf8, <svg width="80" height="87" viewBox="0 0 80 87" xmlns="http://www.w3.org/2000/svg"><g fill="%23666" fill-rule="evenodd"><path d="M52.934 9H69.23c2.36 0 4.23.265 5.805 1 1.574.733 2.834 2.06 3.58 3.738 1.49 3.355 1.33 7.46 1.383 13.067l.002.01v42.37l-.002.013c-.052 5.608.107 9.71-1.384 13.066-.745 1.678-2.005 3.003-3.58 3.737-1.574.735-3.444 1-5.804 1H20.768c-2.36 0-4.228-.265-5.803-1-1.574-.733-2.835-2.058-3.58-3.736-1.232-2.77-1.338-6.05-1.367-10.264h4.016c.082 4.27.29 7.142.89 8.535.36.828.757 1.3 1.678 1.74.92.44 2.385.725 4.484.725h47.828c2.1 0 3.563-.285 4.484-.726.92-.44 1.318-.91 1.677-1.74.717-1.656.873-5.403.925-11.11V26.548c-.052-5.69-.21-9.428-.925-11.082-.36-.828-.756-1.3-1.677-1.742-.92-.44-2.385-.723-4.484-.723H51.226c.908-1.126 1.518-2.5 1.708-4zm-15.87 0c.19 1.5.8 2.874 1.707 4H21.087c-2.1 0-3.563.283-4.484.723-.92.44-1.318.914-1.677 1.743-.715 1.653-.873 5.392-.925 11.08V54h-4V26.806c.052-5.61-.107-9.713 1.384-13.068.746-1.678 2.007-3.005 3.58-3.74C16.54 9.266 18.41 9 20.77 9h16.295z"/><path d="M56.99 9v12.005H33V9h8c0 2.234 1.764 4.002 3.995 4.002 2.232 0 4-1.768 4-4.002h7.996z" fill-rule="nonzero"/><path d="M52.998 7.998c0 4.395-3.606 8-8 8-4.393 0-7.998-3.605-7.998-8S40.605 0 45 0c4.392 0 7.998 3.603 7.998 7.998zm-4 0C49 5.766 47.233 4 45 4c-2.233 0-4 1.766-4 3.998s1.767 4 4 4c2.234 0 4-1.768 4-4z" fill-rule="nonzero"/><path d="M42 36h28v4H42zM42 48h28v4H42zM50 60h20v4H50z"/><path d="M22 50s10.67 5.13 20 12.524h-.002-.01-.003C32.145 70.152 22 75 22 75V50z" fill-rule="nonzero"/><path d="M0 58h22v10H0z"/></g></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1rem;
      border: 0;
      border-bottom: $border;
      border-left: $border;
      border-radius: 0 0 0 $border-radius;
      line-height: map-get($line-heights, default-text);
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: $cc-button-size;
    }
  }
}
