@mixin snapcraft-p-case-study {
  .p-case-study {
    margin-bottom: $spv-inter--regular-scaleable;   
    margin-top: $spv-inter--regular;

    .p-case-study__image {
      display: block;
    }
  }
}