@mixin snapcraft-p-featured-snaps {
  .p-featured-snaps__item {
    width: 21.875%; // 3-col on desktop

    @media screen and (max-width: $breakpoint-navigation-threshold) {
      width: 50%; // 2-col on tablet
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%; // 1-col on mobile
    }
  }
}
