@mixin p-logo-list {
  .p-logo-list {
    @extend %image-grid;
    justify-content: space-around;
    padding: $sp-medium 0;

    &__item {
      align-items: center;
      display: flex;
      margin-top: 0;
      min-height: 60px;
      min-width: 150px;

      // by default (on mobile) use col-3 width (4 items in a row)
      width: 21.875%; // mobile-col-1

      // on larger screens use col-2 width (6 items in a row)
      @media screen and (min-width: $breakpoint-small) {
        width: 15.04854%; // col-2
      }

      img {
        align-self: auto; // override vanilla default align-self: flex-start
      }
    }
  }
}
