@mixin p-media-object--large {
  .p-media-object__image--large {
    @extend .p-media-object__image; // sass-lint:disable-line placeholder-in-extend
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
  }

  .p-media-object__content--large {
    margin-top: 1rem;
  }
}
