@mixin vf-p-table-key-value {
  .p-table-key-value {
    th,
    td {
      padding: $sp-x-small $sp-small;
    }

    th {
      color: $color-mid-dark;
      font-weight: 300;
      text-align: right;
    }

    tr {
      border-bottom-style: dotted;
    }
  }
}
