@mixin vf-p-testimonial {
  .p-testimonial {
    border: 0 none;
    margin: 0;
    padding: 0;

    &__title {
      margin-top: $sp-medium;
    }

    &__content {
      font-style: normal;
    }

    &__logo {
      height: 3rem;

      img {
        max-height: 100%;
      }
    }
  }

}
