// From blog.ubuntu.com
// https://github.com/canonical-web-and-design/blog.ubuntu.com/blob/master/static/sass/_pattern_card.scss

@mixin insights-p-card {

  $white-90-percent: rgba(255, 255, 255, .9);
  $color-cloud-and-server: #a87ca0;
  $color-desktop: #faba54;
  $color-internet-of-things: #8db255;
  $color-canonical-announcements: #ff8936;
  $color-webinar: #48929b;


  .p-card__category {
    background: url('#{$assets-path}ed42aefa-icon-resource-hub-icon-document.png') left center no-repeat;
    color: $color-mid-dark;
    font-size: $sp-medium;
    line-height: 1.5;
    padding: 0 0 0 $sp-large;
    text-transform: uppercase;

    > a:link,
    > a:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    > a:hover,
    > a:active {
      color: $color-brand;
      text-decoration: underline;
    }
  }

  %post-card-header {
    border-bottom: 0;
    border-radius: 2px;
    margin-bottom: 0;
    padding: $sp-small $sp-medium;
  }

  .p-card--post {
    @extend .p-card--highlighted; // sass-lint:disable-line placeholder-in-extend
    display: flex !important;
    flex-direction: column;
    padding: 0;

    .p-card__header {
      padding: $sp-medium;
    }

    .p-strip--featured & {
      background-color: $white-90-percent;
      position: relative;
      z-index: 1;
    }

    .p-card__header + .p-card__content {
      border-top: 1px dotted $color-mid-light;
    }

    .p-card__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: $sp-medium;

      > a,
      h3,
      p {
        display: block;
        margin: $sp-x-small 0;
      }

      > *:last-child,
      > *:first-child {
        margin: 0;
      }
    }

    .p-card__footer {
      border-top: 1px dotted $color-mid-light;
      font-size: .875rem;
      margin: auto $sp-x-small 0;
      max-width: inherit;
      padding: $sp-medium $sp-x-small;
    }
  }

  .p-card--muted {
    @extend .p-card; // sass-lint:disable-line placeholder-in-extend
    background-color: $color-light;
    box-shadow: 0 1px 2px 0 transparentize($color-dark, .8);
    margin-bottom: 0;
    padding: 0;

    > .p-card__header {
      border-bottom: 0;
      border-top: 3px solid $color-light;
      margin-bottom: 0;
    }

    > .p-card__content {
      border-top: 1px dotted $color-mid-light;
      margin: 0 $sp-x-small $sp-x-small;
      padding: $sp-medium $sp-x-small $sp-x-small;
    }
  }

  .p-card__header {
    @extend %post-card-header;
    padding: 0;

    &--cloud-and-server {
      @extend %post-card-header;
      border-top: 3px solid $color-cloud-and-server;
    }

    &--desktop {
      @extend %post-card-header;
      border-top: 3px solid $color-desktop;
    }

    &--internet-of-things {
      @extend %post-card-header;
      border-top: 3px solid $color-internet-of-things;
    }

    &--canonical-announcements {
      @extend %post-card-header;
      border-top: 3px solid $color-canonical-announcements;
    }

    &--phone-and-tablet {
      @extend %post-card-header;
      border-top: 3px solid $color-mid-light;
    }

    &--webinar {
      @extend %post-card-header;
      border-top: 3px solid $color-webinar;
    }
  }

  .p-card__date {
    @extend .p-media-object__meta-list; // sass-lint:disable-line placeholder-in-extend
    display: flex;
    margin-top: auto;
    padding-top: $sp-medium;
  }
}
