@mixin p-button-spinner {
  .has-spinner {
    position: relative;
  }


  // fighting with Vanilla specificity
  [class*="p-button-"] .p-button__spinner {
    display: none;
    left: calc(50% - 8px);
    position: absolute;
    top: calc(50% -11px);

  }

  .has-spinner .p-button__spinner {
    display: block;
  }

  .has-spinner .p-button__text {
    opacity: 0;
  }
}
