@mixin p-social-icons {

  %p-social-icon {
    background-image: url('#{$assets-path}6bfc3d6a-build.snapcraft.social.optimize.svg');
    background-repeat: no-repeat;
    background-size: 160px 80px; // 2x4 icons 40x40px each (in 2 rows for regular and hover state)
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-indent: -99999px;
    width: 40px;

    &:hover {
      background-position-y: -40px;
    }
  }

  .p-social-icon--twitter {
    @extend %p-social-icon;
    background-position: 0 0;
  }

  .p-social-icon--google {
    @extend %p-social-icon;
    background-position: -40px 0;
  }

  .p-social-icon--facebook {
    @extend %p-social-icon;
    background-position: -80px 0;
  }

  .p-social-icon--youtube {
    @extend %p-social-icon;
    background-position: -120px 0;
  }
}
