// This file is here to handle any potential clashes
// Please add an explanation above any overrides to describe
// what issue they are fixing
@mixin pragma-migration-overrides {
  .ds {
    // Vanilla adds an `opacity` of `0.33` to disabled buttons,
    // which combined with Pragma styles, creates very low contrast
    &.button:disabled {
      opacity: 1;

      // Icons don't lighten in Pragma buttons if disabled as yet,
      // but text is, so we need to target icons
      [class*="p-icon"] {
        opacity: 0.33;
      }
    }

    // Pragma sets a background colour for tertiary buttons whereas
    // Vanilla set the background to transparent. In this instance the button
    // is set against a background with a slightly darker colour which it
    // needs to inherit
    &.button.snap-remove-icon {
      background-color: transparent;
    }

    // Pragma Card defaults can clash with Vanilla expectations in some contexts
    // (e.g. Joyride tour tooltip), so force a white background for DS cards.
    &.card {
      background-color: #fff;
    }
  }
}
