@mixin snapcraft-p-navigation {
  // https://github.com/canonical-web-and-design/vanilla-framework/issues/2480
  .p-navigation__links:last-child {
    margin-right: $grid-margin-width;

    // https://github.com/canonical-web-and-design/vanilla-framework/issues/2479
    .p-subnav__items {
      right: 0;
    }
  }

  // https://github.com/canonical-web-and-design/vanilla-framework/issues/2478
  .p-subnav__items {
    border-color: $color-navigation-border;
  }

  // https://github.com/canonical-web-and-design/vanilla-framework/issues/2483
  .p-navigation .row {
    grid-gap: 0;
  }
}
