@mixin snapcraft-sticky-admin-footer {
  %sticky-admin-footer {
    background-color: $color-x-light;
    bottom: 0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    left: 0;
    padding: 0.75rem 1rem;
    position: fixed;
    right: 0;

    @media (min-width: $breakpoint-small) {
      left: 4rem;
    }

    @media (min-width: $breakpoint-large) {
      left: 15rem;
    }
  }

  .p-sticky-admin-footer {
    @extend %sticky-admin-footer;

    transform: translateY(0);
  }

  .p-sticky-admin-footer--hidden {
    @extend %sticky-admin-footer;

    transform: translateY(100%);
  }

  .p-sticky-admin-footer__inner {
    button {
      margin-bottom: $sp-small;

      @media (min-width: $breakpoint-x-small) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-x-small) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
