@mixin snapcraft-p-grid {
  .snapcraft-p-grid {
    column-gap: $sph-inter;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: $spv-inter--regular;

    &--featured {
      grid-template-columns: repeat(3, 33.333333%);
    }
  }
}
