@mixin snapcraft-autocomplete {
  .p-autocomplete {
    position: relative;

    .p-autocomplete__suggestions {
      position: absolute;
      width: 100%;
    }
  }

  .p-autocomplete__result-list {
    margin-top: $spv-outer--medium;
  }

  .p-autocomplete__result {
    background-color: $color-light;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spv-outer--medium;
  }
}
