@mixin snapcraft-graph-tooltip {
  .snapcraft-graph-tooltip {
    &__title {
      border-bottom: 1px solid $color-mid-dark;
      display: block;
      font-family: Ubuntu, sans-serif;
      font-size: 12px;
      margin-bottom: 0.5rem;
      padding-bottom: 0.25rem;
      text-align: center;
    }

    &__series {
      align-items: center;
      display: flex;
      font-family: Ubuntu, sans-serif;
      font-size: 12px;
      justify-content: space-between;
      margin-top: 0.25rem;
      width: 265px;

      &:last-child {
        margin-bottom: 0.25rem;
      }

      &.is-hovered {
        font-weight: bold;
      }

      &-start {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        align-items: center;
      }

      &-name {
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
      }

      &-color {
        flex-grow: 0;
        border-radius: 0.75rem;
        display: inline-block;
        height: 0.75rem;
        width: 0.75rem;
        margin: {
          right: 0.25rem;
          top: 0;
        }
      }

      &-value {
        display: inline-block;
        margin-top: 0;
        text-align: right;
      }
    }
  }
}
