@mixin snapcraft-l-application {
  // main navigation height is based on padding and line height of a nav link
  $main-nav-height: map-get($line-heights, default-text) + $spv--large * 2;
  $layout-height: calc(100vh - #{$main-nav-height});
  $layout-height-small: calc(100vh - 48px);

  .l-application {
    height: $layout-height;

    .p-side-navigation__toggle--dense {
      background: $color-mid-dark;
      border: 0;
      line-height: 1rem;
      padding: 0.5rem;
      width: auto;

      &:hover {
        background: #333;
      }

      &:active {
        background: #000;
      }
    }

    .p-tabs__link:active,
    .p-tabs__link[aria-pressed="true"],
    .p-tabs__link[aria-selected="true"],
    .p-tabs__link[aria-expanded="true"] {
      background-color: $color-x-light;
    }

    .u-fixed-width,
    .row {
      max-width: 100%;
    }
  }

  .l-navigation-bar {
    .p-panel {
      background-color: $color-light;
      border-bottom: $border;
    }

    .p-panel__controls {
      margin-left: 0;
    }
  }

  .l-navigation {
    height: $layout-height-small;
    position: absolute;
    top: auto;
    z-index: 9;

    @media (max-width: $breakpoint-small) {
      height: $layout-height;
    }

    @media (min-width: $application-layout--breakpoint-side-nav-expanded) {
      position: static;
    }

    .l-navigation__drawer {
      height: $layout-height;
    }

    .p-panel {
      background: $color-light;

      // side nav tablet view with fixed footer
      &.is-flex-column--medium {
        // stylelint-disable-next-line max-line-length
        @media (min-width: $application-layout--breakpoint-side-nav-collapsed) and (max-width: $application-layout--breakpoint-side-nav-expanded - 1px) {
          .l-navigation & {
            @content;
          }

          display: flex;
          flex-direction: column;

          .p-panel__content {
            flex: 1 1 0;
            overflow-y: scroll;
          }
        }
      }
    }

    .p-panel__header {
      background-color: $color-light;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .p-panel__footer {
      padding: 1rem;
    }

    .p-panel__logo-icon {
      width: 1.5rem;
    }

    .p-side-navigation__link {
      &.is-active,
      &[aria-current="page"],
      &[aria-current="true"] {
        @include vf-highlight-bar(#82bfa1, left);
      }
    }

    .p-side-navigation--icons {
      .p-side-navigation__icon {
        left: 1.25rem;
        top: 0.25rem;
      }

      .p-side-navigation__link {
        padding-left: 3.25rem;
      }
    }
  }

  .l-aside {
    height: $layout-height;
    position: relative;
    z-index: 999;

    @media (min-width: $breakpoint-small) {
      width: 22.5rem;
    }

    .is-flex-column {
      display: flex;
      flex-direction: column;

      .p-panel__content {
        flex: 1 1 0;
        overflow-y: scroll;
      }
    }

    .p-panel__footer {
      background-color: $color-x-light;
      padding: 1rem;
    }
  }

  .l-status {
    background-color: $color-x-light;
    padding-bottom: $spv--large;
    padding-top: $spv--large;
    position: relative;
    top: -100%;
  }

  .l-aside__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
