@mixin snapcraft-l-application {
  .l-application {
    .p-panel__logo {
      margin-top: 0;

      .p-panel__logo-image {
        height: 2.25rem;
        max-width: inherit;
      }

      .logo-text {
        color: $colors--theme--text-default;
        left: 3rem;
        position: absolute;
        top: 0;
      }
    }

    .l-navigation-bar {
      z-index: 200;

      .p-panel__controls {
        padding-top: 0.25rem;
      }
    }

    .l-navigation {
      background-color: #262626;

      .p-panel__content {
        overflow: visible;
      }
    }

    .l-navigation__drawer {
      .p-panel__controls {
        margin-right: -1rem;
        padding-top: 0.5rem;
      }
    }

    .p-side-navigation__label {
      width: 100%;
    }

    .p-muted-heading {
      color: $colors--theme--text-muted;
    }

    .aside-overlay {
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 200;
    }

    .l-aside {
      z-index: 200;
    }

    .l-aside__overlay {
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 110;
    }

    .l-status {
      padding: 1rem 0;
    }

    .store-selector {
      margin: $spv--small $sph--large;
      position: relative;

      .p-search-box {
        position: sticky;
        top: 0;
      }
    }

    .store-selector__button {
      background-color: $colors--theme--background-hover;
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27%3E%3Cpath fill=%27%23666%27 d=%27M8.187 11.748l6.187-6.187-1.06-1.061-5.127 5.127L3.061 4.5 2 5.561z%27/%3E%3C/svg%3E");
      background-position: right $sph--small center;
      background-repeat: no-repeat;
      background-size: 1rem;
      border: 0;
      border-bottom: 1.5px solid $colors--theme--border-default;
      color: $colors--theme--text-default;
      cursor: pointer;
      max-width: 100%;
      min-height: 1.5rem;
      overflow: hidden;
      padding: $spv--small 2rem $spv--small $sph--small; // align text to icons in sidenav
      text-align: left;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .store-selector__panel {
      background-color: $colors--theme--background-hover;
      border: 1px solid $colors--theme--border-default;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1;
    }

    .store-selector__list {
      margin: 0;
      padding-left: 0;
    }

    .store-selector__item {
      border-bottom: 1px solid $colors--theme--border-low-contrast;

      &:last-child {
        border-bottom: 0;
      }

      a {
        color: $colors--theme--text-default;
        display: block;
        overflow: hidden;
        padding: $spv--small $sph--small;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background-color: $colors--theme--background-default;
          text-decoration: none;
        }
      }
    }
  }

  // Overrides for side nav to implement the more recent design spec
  .l-navigation {
    // tablet layout: hide menu items when side nav not pinned or in use
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
      &:not(.is-pinned):not(:hover):not(:focus-within) {
        .hide-collapsed {
          display: none;
        }
      }
    }

    // desktop layout: enable collapsed layout, hide menu items when collapsed, style collapse toggle
    @media (min-width: $breakpoint-large) {
      &.is-collapsed--desktop {
        // Override sidenav width for collapsed side navigation on desktop;
        // this is because Vanilla sets `width: $application-layout--side-nav-width-expanded;`
        // for this element when the nav has the "is-collapsed" class
        width: $application-layout--side-nav-width-collapsed !important;

        .l-navigation__collapse-toggle {
          width: $application-layout--side-nav-width-collapsed;
        }

        .p-icon--toggle-side-nav {
          transform: rotate(180deg);
        }

        .hide-collapsed {
          display: none;
        }
      }
    }
  }

  // Overrides to hide separators in side nav when collapsed
  .nav-list-separator {
    padding-left: $application-layout--side-nav-width-collapsed;
  }

  // Sidenav toggle tooltip is rendered over .l-navigation which has z-index: 103;
  // this rule makes sure all tooltips are visible even if they overlap the sidenav
  .l-navigation[class^="p-tooltip"] {
    z-index: 104;
  }

  .u-whitespace-nowrap {
    white-space: nowrap;
  }
}
