@mixin snapcraft-publisher {
  .p-strip--image.is-deep {
    background-position: center;
    min-height: 35vh;
  }

  // Allow the graph tooltip to overflow the accordion panel boundaries
  .snap-installs-metrics-accordion .p-accordion__panel {
    overflow: visible;
  }

  .snap-installs-placeholder {
    height: 100%;
    width: 100%;

    .p-icon--spinner {
      height: $sp-x-large;
      width: $sp-x-large;
    }
  }
}
