@mixin snapcraft-market {
  $white-overlay-color: rgba(255, 255, 255, .5);
  $black-overlay-color: rgba(0, 0, 0, .5);
  $black-overlay-light-color: rgba(0, 0, 0, .2);
  $white-overlay-strong-color: rgba(255, 255, 255, .9);

  // Add extra space between groups of related items
  .snapcraft-p-market__section {
    margin-bottom: $spv-inter--scaleable;
  }

  // hack to make anchor link behave like a button
  .js-market-revert.is-disabled {

    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: transparent;
    }
  }

  .p-editable-icon {
    border: 1px solid $color-mid-light;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    margin-bottom: $sph-inter;
    margin-right: 3.2877%;
    position: relative;

    .p-editable-icon__icon {
      @include vf-icon-plus(007aa6);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1rem;
      height: 60px;
      overflow: hidden;
      position: relative;
      width: 60px;

      img {
        background: $color-x-light;
        height: 100%;
        width: 100%;
      }

      .p-editable-icon__change {
        align-items: center;
        background: $white-overlay-strong-color;
        bottom: 0;
        color: $color-link;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover img:not([src=""]) + .p-editable-icon__change {
        opacity: 1;
      }
    }

    &:hover {
      border-color: $color-link;
    }

    &__label {
      line-height: 60px;
      padding-top: .25rem;
    }
  }

  .p-editable-icon__actions {
    display: block;
    float: left;
  }

  .p-editable-icon__delete {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-bottom: .5rem;
    width: 2rem;
  }

  // Stick the Revert, Apply buttons to the top
  .snapcraft-p-sticky {
    background: $color-x-light;
    position: sticky;
    top: 0;
    z-index: 1;

    & .row {
      padding-bottom: $sp-medium;
      padding-top: $sp-medium;
    }

    &.sticky-shadow {
      box-shadow: 1px 1px 10px $black-overlay-light-color;
    }

    @media screen and (max-width: $breakpoint-x-small) {
      .js-market-submit {
        margin-top: $sp-x-small !important;
      }
    }

    .p-inline-list__item {
      line-height: 2.3rem;
    }
  }
}
