@mixin snapcraft-release {
  $color-selected: rgba(255, 255, 0, .25);

  .p-release-table {
    margin-bottom: $spv-inter--regular;

    th {
      text-transform: none;
    }
  }

  .p-release-table__cell {
    @include vf-animation (#{background-color, border-color}, fast, in);
    background: $color-light;
    border: 1px solid transparent;
    flex-basis: 100px;
    flex-grow: 1;
    margin-left: 2px;
    max-width: 22.53423%; // col-3
    min-width: 100px;
    padding: $spv-intra $sph-intra;
    position: relative;

    &.is-unassigned {
      background-color: $color-x-light;
      border-color: $color-mid-light;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $color-light;
      }
    }


    &.is-clickable {
      cursor: pointer;

      &:hover {
        border-color: $color-mid-light;
      }
    }

    &.is-active {
      background-color: $color-selected;
      border-color: $color-mid-light;
      box-shadow: 0 1px 5px 1px transparentize($color-x-dark, .8);
    }
  }

  .p-release-table__arch {
    background: none;
    padding: 0 1em;
  }

  .p-icon-button {
    padding: $spv-nudge - $px $sph-intra--condensed * 1.5 - ($px * 2);

    &:not(:last-of-type):not(:only-of-type) {
      margin-right: .25rem;
    }
  }

  .p-previous-revision {
    display: none;
  }

  .p-release-version {
    display: flex;
    max-width: 100%;

  }

  .p-release-buttons {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  .p-revision-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-pending {
      font-weight: 400;
      padding-right: $sph-inter;
    }
  }

  .p-revision-info--empty {
    display: inline-block;
    padding-bottom: .6em;
    padding-top: .6em;
  }

  .p-revision-icon {
    margin-right: 4px;
  }

  .p-revision-info__revision {
    color: $color-mid-dark;
    display: block;
    font-size: .8em;
    margin-top: -.3rem;
  }

  .p-release-confirm {
    background: $color-light;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
  }

  .p-release-confirm__buttons {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .p-release-channel-row__promote {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: .5rem;
    width: 2rem;
  }

  .p-release-channel-row__name {
    flex-grow: 1;
  }

  .p-contextual-menu__item {
    @extend .p-contextual-menu__link; // sass-lint:disable-line placeholder-in-extend

    &:hover {
      background: transparent;
      cursor: default;
    }
  }

  .p-contextual-menu__link.is-indented {
    padding-left: 1rem;
  }

  .p-release-actions {
    text-align: right;
  }

  .p-revisions-list {
    .col-checkbox-spacer {
      padding-left: 2rem;
    }

    .is-disabled {
      opacity: .5;

      .p-tooltip__message {
        display: none;
      }
    }

    .is-clickable {
      cursor: pointer;

      &:hover {
        background-color: $color-light;

      }
    }
  }

  .p-release-channel-row {
    display: flex;
    margin-bottom: 2px;
  }

  .p-release-channel-row--unassigned {
    margin-top: $spv-inter--regular;
  }

  .p-release-channel-row__channel {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-right: $sph-inter;
    width: 22.53423%; // col-3
  }

  .p-revisions-popover {
    background: $color-x-light;
    box-shadow: 0 1px 5px 1px transparentize($color-x-dark, .8);
    max-width: 500px;
    padding: 1rem;
    position: absolute;
    z-index: 100;
  }
}
