@mixin snapcraft-custom-cols {
  .col-logo {
    // These breakpoints are a combination of the content width - for logos we
    // consistently have 6 across each at 146 pixels wide
    @media (min-width: 772px) and (max-width: 1083px) {
      grid-column-end: span 3;

      &.col-logo--pushed {
        grid-column-start: 4;
      }
    }
  }

  .col-lang-select {
    // As above but 6 across by col-2 width
    @media(min-width: 772px) and (max-width: 1152px) {
      grid-column-end: span 3;
    }
  }
}
