@mixin snapcraft-p-beta-notification {
  .p-beta-notification {
    padding: {
      bottom: $sp-small;
      top: $sp-small;
    }


    .p-muted-heading {
      margin-right: $sp-medium;
    }

    p {
      max-width: 100%;
    }
  }

  .p-snapcraft-nps-banner {
    margin-top: -$spv-intra--scaleable;
  }

  .p-notification__response {
    max-width: 100%;
  }
}
