@mixin snapcraft-custom-typography {
  // max-width based on font size for better readability
  %heading-copy--short {
    max-width: 20em;
  }

  %heading-copy--long {
    max-width: 25em;
  }

  %paragraph-copy {
    max-width: 35em;
  }

  h1,
  h2,
  .p-heading--one,
  .p-heading--two {
    @extend %heading-copy--short;
    font-weight: 100;
  }

  h3,
  h4,
  .p-heading--three,
  .p-heading--four {
    @extend %heading-copy--long;
  }

  h5,
  p,
  .p-heading--five,
  .p-heading--six {
    @extend %paragraph-copy;
  }
}
