@mixin snapcraft-show-more {
  $color-transparent-white: rgba(255, 255, 255, 0);

  .p-show-more {
    position: relative;

    &.is-collapsed {
      > :first-child {
        height: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
      }
    }
  }
}
