@mixin snapcraft-p-code-copyable {
  textarea.p-code-copyable__input { // sass-lint:disable-line no-qualifying-elements
    background-position: 0 .25rem;
    box-shadow: none;
    color: $color-mid-dark;
    margin-bottom: 0;
    outline: none;
    overflow: hidden;
    resize: none;
  }

  textarea.p-code-copyable__input + .p-code-copyable__action { // sass-lint:disable-line no-qualifying-elements
    border-bottom: 1px solid $color-mid-light;
    border-radius: 0 0 0 $border-radius;
    height: 2rem;
  }
}
