@mixin snapcraft-snap-details {
  $asciinema-background: #121314;

  @media screen and (max-width: $breakpoint-small) {
    .snapcraft-snap-details {
      &__snippet {
        margin-left: -4.5rem !important;
      }
    }
  }

  .p-snap-details__media {
    // videos holder
    .p-snap-details__media-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .p-carousel__item--screenshot {
        display: flex;
        flex-grow: 0;
        height: auto;
        margin-bottom: $spv--large;
        max-height: 90px;
        overflow: hidden;
      }

      &.is-small {
        .p-carousel__item--screenshot {
          max-height: 128px;
        }
      }

      .p-carousel__item--screenshot img,
      .p-carousel__item--screenshot video {
        align-self: center;
        width: 100%;
      }

      @media screen and (max-width: $breakpoint-large - 1) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: -$spv--large;
        margin-right: -$sph--large;
        margin-top: $spv--large;

        .p-carousel__item--screenshot {
          margin-bottom: $spv--large;
          margin-right: $sph--large;
          max-height: 100%;
          max-width: 129px;
        }
      }

      @media screen and (max-width: $breakpoint-x-small) {
        .p-carousel__item--screenshot {
          max-width: calc(50% - 1rem);
        }
      }
    }

    iframe {
      margin-bottom: 0;
    }

    .asciicast {
      margin: 0 auto !important;
      position: relative;

      &::before {
        background: $asciinema-background;
        bottom: 1.5rem;
        content: " ";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      iframe {
        position: relative;
      }
    }
  }

  .snapcraft-details-preview {
    [data-live="public_metrics_live"] {
      position: relative;

      &::after {
        align-items: center;
        bottom: 0;
        content: "This content is being displayed for preview purposes";
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .snapcraft-territories,
    .snapcraft-distro-chart {
      opacity: 0.3;
    }
  }

  .p-package-header {
    container: pkgname / inline-size;

    &__name {
      display: inline-block;
      white-space: nowrap;

      .p-tooltip__message {
        font-weight: 400;
      }

      --length: 40; // default value, it should be overridden via inline styles on the element
      --fs-ratio: 1.765; // height/width (1rem/1ch) ratio measured in the browser
      // we take the full width of the container and divide it by the number of characters in the
      // package name (+2 to account for the parentheses): this is the horizontal space that each
      // character has on average; we multiply this by the fs-ratio to get the font size
      --target-font-size: calc(
        (100cqw / (2 + var(--length))) * var(--fs-ratio)
      );
      // we limit the font size to the smallest and largest available sizes
      --max-font-size: #{map-get($settings-text-h1-mobile, font-size)}rem; // size of the title
      --min-font-size: #{map-get($settings-text-h5-mobile, font-size)}rem; // smallest size we allow
      font-size: clamp(
        var(--min-font-size),
        var(--target-font-size),
        var(--max-font-size)
      );

      @media (min-width: $breakpoint-heading-threshold) {
        --min-font-size: #{map-get($settings-text-h5, font-size)}rem;
        --max-font-size: #{map-get($settings-text-h1, font-size)}rem;
      }
    }
  }
}
