@mixin snapcraft-publisher {
  .p-strip--image.is-deep {
    min-height: 35vh;
    background-position: center;
  }

  .snap-installs-container {
    height: 320px;
    margin-bottom: 50px;
  }

  .snap-installs-placeholder {
    width: 100%;
    height: 100%;

    .p-icon--spinner {
      width: $sp-x-large;
      height: $sp-x-large;
    }
  }
}
