@mixin snapcraft-footer {
  .p-icon--top {
    @extend %icon;
    background-image: url('#{$assets-path}9ec2c354-icon-arrow-up.svg');
    background-size: 12px 12px;
    margin-left: $sp-x-small;
  }

  .p-footer {
    border-top: 0;

    p {
      max-width: 100%;
    }
  }
}
