@mixin snapcraft-l-application {
  .l-application {
    width: auto;

    .l-navigation.is-collapsed {
      @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
        .p-side-navigation__list {
          display: none;
        }

        &:hover {
          .p-side-navigation__list {
            display: block;
          }
        }
      }

      @media (min-width: $breakpoint-large) {
        position: sticky;
        top: 0;
      }

      &:focus-within {
        box-shadow: none;
      }
    }

    .l-navigation__drawer {
      background-color: $color-light;
      color: $color-dark;
      padding: $sp-medium 0 $sp-medium 3px;
    }

    .l-navigation__drawer a {
      color: inherit;

      &:hover,
      &:focus,
      &.is-active {
        background-color: $color-mid-x-light;
        color: $color-dark;
        font-weight: 400;
        position: relative;

        &::before {
          background-color: $color-mid-x-light;
          content: "";
          display: block;
          height: 100%;
          left: -3px;
          position: absolute;
          top: 0;
          width: 3px;
        }
      }

      &.is-active::before {
        background-color: $color-mid-dark;
      }
    }

    .l-navigation-bar {
      background-color: $color-light;
      padding: $sp-medium;
    }

    .l-main {
      padding: $sp-medium;
    }

    .l-application__header {
      margin-bottom: $sp-medium;

      @media screen and (min-width: $breakpoint-medium) {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }

    .l-application__back-link {
      display: inline-block;

      @media screen and (max-width: $breakpoint-medium) {
        margin-bottom: 0.25rem;
      }
    }

    .l-application__heading {
      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 0 !important;
      }
    }
  }
}
