@mixin snapcraft-p-progressive-bar {
  $inactive: scale-color($color-link, $lightness: 90%);
  $active: $color-link;
  $target: scale-color($color-link, $lightness: -20%);

  %bar {
    border-radius: 9px 0 0 9px;
    border-right: 1px solid $color-x-light;
    height: 9px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  .progressive-bar {
    background: $inactive;
    border-radius: 9px;
    height: 9px;
    margin-top: 7px;
    position: relative;
  }

  .progressive-bar__interactive-wrapper.is-interactive {
    .progressive-bar {
      cursor: col-resize;
      user-select: none;
    }
  }

  .progressive-bar.is-disabled {
    cursor: not-allowed;
    pointer-events: none;

    .progressive-bar__current {
      background: lighten(grayscale($active), 20);
    }

    .progressive-bar__target {
      background: lighten(grayscale($target), 20);
    }
  }

  .progressive-bar__current {
    @extend %bar;
    background: $active;
  }

  .progressive-bar__target-value {
    @include vf-animation(opacity, snap, in);
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 1rem);
    z-index: 1;
  }

  .progressive-bar:hover .p-tooltip__message,
  .progressive-bar__interactive-wrapper.is-scrubbing .p-tooltip__message {
    display: inline;
  }

  .progressive-bar__target {
    @extend %bar;
    background: $target;
  }

  .progressive-bar__target-adjust {
    @include vf-animation(all, snap, in);
    background: $color-dark;
    border-radius: 3px;
    bottom: -4px;
    display: block;
    position: absolute;
    right: 0;
    top: -4px;
    width: 3px;
    z-index: 1;
  }

  .progressive-bar:hover .progressive-bar__target-adjust,
  .progressive-bar__interactive-wrapper.is-scrubbing .progressive-bar__target-adjust {
    border-radius: 17px;
    transform: translate(7px);
    width: 17px;
  }

  .progressive-bar__current.is-full,
  .progressive-bar__target.is-full {
    border-radius: 9px;
    border-right: 0;
  }
}
