// This file is here until https://github.com/vanilla-framework/vanilla-framework/issues/2221
// is fixed

@mixin snapcraft-icon-delete($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16'%3E%3Cg fill='none'%3E%3Cpath d='M-1 0h16v16H-1z'/%3E%3Cpath fill='#{vf-url-friendly-color($color)}' d='M1.5 4.998h-1v-1.5C.5 2.678 1.178 2 2 2h2.5V0h5v2H12c.822 0 1.5.677 1.5 1.499v1.5H.5v-1h2v1h-1zm10 8.503V5.998h2V14.5c0 .822-.678 1.499-1.5 1.499H2c-.822 0-1.5-.677-1.5-1.5V5.999h2V13.5c0 .285.214.5.5.5h8c.286 0 .5-.215.5-.5zm-3-11.502V1h-3v1h3zm-5 3.999h1v5.998h-1V5.998zm3 0h1v5.998h-1V5.998zm3 0h1v5.998h-1V5.998z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin snapcraft-icon-branch($color, $width, $height) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='$width' height='$height'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M3 6h1.268a2 2 0 1 1 0 2H3v2a1 1 0 0 1-2 0V3.732a2 2 0 1 1 2 0V6zM2 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4 5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
}

@mixin snapcraft-icon-history($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h26v26H0z'/%3E%3Cpath fill='#{vf-url-friendly-color($color)}' d='M17.881 22.624c3.143-1.703 5.273-4.999 5.273-8.786 0-5.532-4.546-10.017-10.154-10.017S2.846 8.306 2.846 13.838c0 2.27.766 4.365 2.056 6.045l-1.46 1.113A11.684 11.684 0 0 1 1 13.838C1 7.3 6.373 2 13 2s12 5.3 12 11.838c0 4.432-2.468 8.294-6.121 10.323l.594.917s-2.073.352-4.143.263v-.003l-.001-.002c.817-2.013 1.927-3.675 1.927-3.675l.625.963zm-4.36-8.079h5.218v2.091h-7.304V7.227h2.087v7.318z'/%3E%3C/g%3E%3C/svg%3E");
}
