@mixin snapcraft-action-form {
  .p-action-form {
    margin-bottom: $sp-small;

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-width: $breakpoint-small) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
