@mixin snapcraft-p-beta-notification {
  .p-beta-notification {
    padding: {
      bottom: $sp-small;
      top: $sp-small;
    }


    .p-muted-heading {
      margin-right: $sp-medium;
    }

    p {
      max-width: 100%;
    }
  }

  .p-snapcraft-nps-banner {
    margin-top: -$spv-intra--scaleable;
    flex-direction: row;
    flex-wrap: wrap;

    &__form {
      margin-top: 1.1rem;
    }
  }

  .p-notification__response,
  .p-notification__response p {
    max-width: 100%;
  }
}
