@mixin snapcraft-embedded-card-modal {
  .p-embedded-card-modal-dialog {
    @media screen and (min-width: $breakpoint-small) {
      position: absolute;
      top: 1.5rem;
      width: 80%;
    }
  }
}
