@import "snapcraft_patterns_icons";
@include vf-p-icon-task-outstanding;

@mixin snapcraft-release {
  $color-highlighted: #e9ffec;
  $color-highlighted-border: 1px dashed #0e8420;

  .p-releases-row {
    border-bottom: $border;
    padding: $spv--small 0;

    .is-pinned & {
      border-bottom: none;
    }
  }

  // CUSTOM TRACK DROPDOWN

  .track-dropdown {
    background-color: $color-mid-light;
    border-bottom: 1px solid $color-mid-dark;
    display: inline-block;
    height: 42px;
    margin-right: 1rem;
    min-width: 150px;
    width: auto;
  }
    
  .dropdown-toggle {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: inherit;
      justify-content: space-between;
      padding: $sp-small;
  }
    
  .dropdown-menu {
      background-color: $color-x-light;
      box-shadow: 0 3px 3px rgba(51, 51, 51, 0.2);
      display: flex;
      flex-direction: column;
      margin: $sp-small 0 $sp-small 0;
      max-height: 250px;
      min-width: 150px;
      order: 1;
      overflow-y: auto;
      padding: $sp-small $sp-small 0 $sp-small;
      position: absolute;
      width: auto;
      z-index: 1000;
  }

  .dropdown-item {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 1;
      height: inherit;
      justify-content: space-between;
      padding: $sp-small;
      width: 100%;
      
      &:hover {
          background-color: $color-mid-light;
          border-radius: 4px;
      }
  }

  .options-container {
    flex-grow: 1;
  }

  .new-track-button {
    border: none;
    height: 100%;
    margin: 0;
    width: 100%;

    &:hover {
      background-color: $color-mid-light;
      border-radius: 4px;
    }
  }

  .track-button {
    background-color: $color-x-light;
    border-top: $border;
    bottom: 0;
    height: 100%;
    margin-top: $spv--x-small;
    padding: $sp-small 0 $sp-small 0;
    position: sticky;
    width: 100%;
  }

  .track-button-wrapper {
    background-color: $color-x-light;
    bottom: 0;
    margin-top: auto;
    padding: none;
    position: sticky;
  }

  .p-status-label {
      margin: 0 $sp-small 0 $sp-small;
  }

  // REQUEST / ADD TRACK ASIDE COMPONENT

  .aside-panel-footer {
    background-color: $color-x-light;
    border-top: $border;
    bottom: 0;
    margin: $spv--small;
    padding: $spv--medium 0 $spv--medium 0;
    position: sticky;
    z-index: 1000;
  }

  // RELEASES CONFIRM

  .p-releases-confirm {
    background-color: $color-x-light;
    position: sticky;
    top: 0;
    z-index: 10;

    &.is-pinned {
      box-shadow: 0 3px 3px rgba(51, 51, 51, 0.2);
    }
  }

  .p-releases-confirm__buttons {
    justify-self: end;
    margin-left: auto;
  }

  .p-releases-confirm__details-toggle {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 1rem;

    .p-icon--contextual-menu {
      transform: rotate(0deg);
    }

    &.is-open {
      .p-icon--contextual-menu {
        transform: rotate(180deg);
      }
    }
  }

  .p-releases-confirm__actions {
    display: flex;
    justify-content: space-between;
  }

  .p-releases-confirm__details {
    border-bottom: $border;
    margin-bottom: 1rem;
    padding-bottom: $spv--small;
    padding-top: $spv--small;

    .is-pinned & {
      border-bottom: none;
      border-top: $border;
    }
  }

  // RELEASES TABLE

  .p-releases-table {
    margin-bottom: $spv--large;
  }

  // Same again for branches
  .p-releases-table__row--branch > div {
    // 1 arch
    &:first-child:nth-last-child(2).p-releases-channel {
      width: calc(50% - 1rem);
    }

    // 2 arch
    &:first-child:nth-last-child(3).p-releases-channel {
      width: calc(33.3333% - 1rem);
    }
  }

  .p-promote-button {
    display: none;
  }

  .p-releases-channel {
    align-items: flex-start;
    border-right: 1px solid $colors--light-theme--border-default;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: $spv--small $sph--small $spv--small 25px;
    position: relative;
    width: 240px;

    @media (max-width: $breakpoint-medium) {
      display: none;
    }

    .p-promote-button {
      display: none;
    }

    .p-releases-channel__name {
      padding-right: $sph--small;
    }

    &:hover {
      .p-promote-button {
        display: inline-block;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
      }

      .p-releases-channel__name {
        max-width: 95px;
      }
    }

    .has-active & {
      opacity: 0.5;
    }

    .can-drop &,
    &:hover,
    &.is-active {
      opacity: 1;
    }

    &.is-placeholder {
      background: none;
      border-right: 0;
    }

    .is-over &,
    &.is-highlighted {
      background-color: $color-highlighted;
      border: $color-highlighted-border;
    }
  }

  .p-releases-table__row--container {
    @media (max-width: $breakpoint-medium) {
      border: 1px solid $colors--light-theme--border-default;
      border-radius: $border-radius;
      margin-bottom: 1.5rem;
    }
  }

  // row
  // This is to have different width items depending on
  // the number of architectures
  // See https://www.growingwiththeweb.com/2014/06/detecting-number-of-siblings-with-css.html
  // For more information
  .p-releases-table__row--container:not(:first-child) {
    @extend %table-row-border;
  }

  .p-releases-table__row {
    display: flex;

    &.p-releases-table__row--heading > div,
    & > div:not(.is-placeholder) {
      // 1 arch
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ div {
        max-width: 50%;
        width: 50%;

        @media (max-width: $breakpoint-medium) {
          max-width: 100%;
          width: 100%;
        }
      }

      // 2 arch
      /* stylelint-disable */
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ div {
        max-width: 33.3333333%;
        width: 33.3333333%;
      }
      /* stylelint-enable */
    }
  }

  .p-releases-table__row--channel {
    height: 4rem;

    @media (max-width: $breakpoint-medium) {
      display: block;
      height: auto;
    }

    &.is-hovered {
      background-color: $color-light;
    }
  }

  .p-releases-table__row--channel:not(:first-child) {
    @extend %table-row-border;
  }

  .p-releases-table__row--branch {
    height: 4rem;

    .p-releases-channel {
      margin-left: 2rem;
      width: calc(280px - 2rem);
    }
  }

  .p-releases-table__row--show-all {
    height: 3rem;
    line-height: 2rem;
    margin-left: 2rem;
  }

  .p-releases-table__row--heading {
    @extend %table-header-label;

    border-top: 0;
    margin-bottom: 0;
    vertical-align: top;
  }

  .p-releases-table > h4 {
    margin-top: $spv--x-large;
  }

  .p-releases-table__menus {
    margin-left: auto;
    margin-right: -0.1rem;
    margin-top: -0.1rem;
  }

  .p-releases-table__branches,
  .p-releases-table__branch-timeleft {
    align-items: center;
    background: transparent;
    border-radius: 3px;
    color: $color-dark;
    display: flex;
    font-size: 0.8rem;
    line-height: 0.8rem;
    position: absolute;
  }

  .p-releases-table__branches {
    bottom: 0.2rem;
    cursor: pointer;
    opacity: 0.6;
    padding: 0.2rem $sph--small;
    right: 0.2rem;

    &:hover,
    &.is-open {
      background: $color-x-light;
      opacity: 1;
    }
  }

  .p-releases-table__branch-timeleft {
    bottom: 0.8rem;
    right: 0.8rem;
  }

  .p-release-data__icon {
    border-radius: 3px;
    cursor: pointer;
    left: -30px;
    padding: 0 $sph--small;
    position: absolute;
    transform: rotate(-90deg);

    @media (max-width: $breakpoint-medium) {
      left: auto;
      right: -8px;
      top: -10px;
    }
  }

  .p-release-data__title {
    @media (max-width: $breakpoint-medium) {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .p-release-data__title .has-button,
  .p-release-data__meta {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-contextual-menu__dropdown {
    overflow: visible; // allow tooltips inside menu
    z-index: 2; // workaround for https://github.com/canonical-web-and-design/vanilla-framework/issues/2577

    .p-tooltip {
      display: block;
    }
  }

  .is-grabbing,
  .is-dragging {
    background-color: #ebfaff !important;
    cursor: move;

    .p-tooltip__message,
    .p-contextual-menu__dropdown {
      display: none !important; // fighting specificity
    }
  }

  .can-drop {
    outline: 1px dashed $color-mid-light;

    .p-tooltip__message {
      display: none !important;
    }
  }

  .p-release-data__info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-pending {
      font-weight: 400;
      padding-right: $sph--large;
    }

    .p-tooltip__message {
      pointer-events: none;
    }
  }

  .p-drag-handle {
    left: 0;
    margin-left: auto;
    opacity: 0;
    position: absolute;
    visibility: hidden;

    .p-releases-channel__inner & {
      margin-left: 0;
      margin-right: 0.5rem;
      opacity: 1;
      visibility: visible;
    }

    .p-release-data & {
      left: auto;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }

    .is-draggable & {
      visibility: visible;
    }
  }

  .p-releases-table__cell {
    @include vf-animation(#{background-color, border-color}, 0, in);

    border-bottom: 3px solid transparent;
    flex-basis: 100px;
    flex-grow: 1;
    max-width: 25.2%; // fill the whole space for 3 archs
    min-width: 100px;
    padding-left: 28px;
    position: relative;
    transition-duration: 0s; // vf-animation doesn't allow to do that

    @media (max-width: $breakpoint-medium) {
      border-bottom: 1px solid $colors--light-theme--border-default;
      max-width: 100%;
      padding: $spv--small 1rem $spv--small;

      &:last-child {
        border-bottom: 0;
      }
    }

    .has-active & {
      opacity: 0.5;
    }

    .can-drop &,
    &.can-drop {
      opacity: 1;
    }

    &.is-clickable {
      cursor: pointer;
    }

    &:focus,
    &:hover,
    &.is-active {
      background-color: $color-light;
      opacity: 1;
    }

    &:focus,
    &:hover {
      .p-drag-handle {
        opacity: 1;
        visibility: visible;
      }

      .p-promote-button {
        display: inline-block;
        position: absolute;
        right: 1.75rem;
        top: 0.5rem;
      }
    }

    &.is-active {
      @include vf-animation(#{background-color, border-color}, fast, in);

      background-color: $color-x-light;

      &:not(.p-releases-table__arch) {
        border-bottom: 3px solid $color-dark !important;
      }

      .p-release-data__title {
        font-weight: bold;
      }

      .p-tooltip__message {
        display: none;
      }

      .p-release-data__icon {
        transform: rotate(0deg);
      }
    }

    &.is-over,
    .is-over &,
    &.is-highlighted {
      background: $color-highlighted;
      border: $color-highlighted-border;

      &.is-unassigned {
        background-color: $color-light;
        border-color: $color-mid-x-light;
      }

      .p-promote-button,
      .p-drag-handle {
        display: none;
      }
    }
  }

  .p-releases-table__arch {
    background: none;
    border: 0;
    padding: ($spv--small - 0.1rem) $sph--small ($spv--small - 0.1rem) 28px;
  }

  // cell contents (release info)

  .p-release-buttons {
    position: absolute;
    right: 0.375rem;
    top: 0.625rem;
  }

  .p-release-data {
    align-items: start;
    display: flex;
    height: 4rem;
    max-width: 100%;
    padding: $spv--small $sph--small $spv--small 0;

    @media (max-width: $breakpoint-medium) {
      height: auto;
      padding-right: 0;
      padding-top: 0;
    }
  }

  .p-release-data__info--empty {
    display: inline-block;
    overflow: hidden;
    padding-bottom: 0.6em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-releases-channel__inner {
    display: flex;
    flex: 1;
  }

  .p-release-data__meta-container {
    display: block;
    width: 100%;
  }

  .p-release-data__meta {
    color: $color-mid-dark;
    font-size: 0.8rem;

    @media (max-width: $breakpoint-medium) {
      display: inline !important;
    }
  }

  // REVISIONS LIST

  .p-revisions-list {
    margin-bottom: 0;

    @media (max-width: $breakpoint-medium) {
      border: 1px solid $colors--light-theme--border-default;
      position: relative;
      z-index: 1;

      tbody {
        display: block;

        tr {
          border-width: 0 0 1px;
          padding: 0 0 1rem;
          position: relative;
          z-index: 1;
        }

        td {
          &::after {
            display: none;
          }
        }
      }
    }

    td,
    th {
      overflow: visible;
    }

    .col-checkbox-spacer {
      padding-left: 2rem;
    }

    .p-revisions-list__row {
      &.is-active {
        .p-revisions-list__revision {
          font-weight: bold;
        }

        .p-revisions-list__revision .p-tooltip__message {
          font-weight: normal;
        }
      }

      &.is-clickable {
        cursor: pointer;

        &:hover {
          background-color: $color-light;
        }
      }

      @media (max-width: $breakpoint-medium) {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 1rem;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    td {
      @media (max-width: $breakpoint-medium) {
        display: flex;

        &::before {
          width: 40% !important;
        }
      }
    }

    td:first-of-type,
    th:first-of-type {
      padding-left: 0.2rem;

      @media (max-width: $breakpoint-medium) {
        padding-left: 0;
      }
    }

    td:last-of-type,
    th:last-of-type {
      padding-right: 0.5rem;
    }
  }

  // DND
  .is-draggable {
    cursor: grab;
  }

  .is-dragging {
    background-color: #ebfaff !important;
    cursor: move;

    .is-draggable {
      cursor: move;
    }
  }

  // HELPERS

  .p-help {
    border-bottom: 1px dashed $color-mid-dark;
    cursor: help;
  }

  .p-icon-button {
    padding: 0.1rem 0.35rem;

    &:not(:last-of-type):not(:only-of-type) {
      margin-right: 0.25rem;
    }

    // workaround for misaligned Vanilla icon
    // https://github.com/vanilla-framework/vanilla-framework/issues/2085
    & .p-icon--delete {
      left: -1px;
      top: -3px;
    }

    // don't grow these buttons to 100% width on mobile
    @media (max-width: $breakpoint-small) {
      width: auto;
    }
  }

  .p-text-icon {
    display: inline-block;
    width: 0.875rem;
  }

  // .p-action-button is a class name used by ActionButton from react-components
  // TODO: rename release UI p-action-button here to something else to avoid collisions
  .p-release-buttons .p-action-button {
    background: none;
    border: 0;
    display: block;
    line-height: 0.875rem;
    padding: 2px 4px;

    .p-icon--close {
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  .p-contextual-menu__dropdown.is-wide {
    min-width: 16rem;
  }

  .p-contextual-menu__link.is-indented {
    padding-left: 1rem;
  }

  .p-contextual-menu__link.is-disabled {
    background: $color-x-light;
    color: $color-mid-dark;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .p-contextual-menu__item {
    @extend .p-contextual-menu__link; // sass-lint:disable-line placeholder-in-extend

    color: $color-dark;

    &:hover {
      background: transparent;
      cursor: default;
    }
  }

  .p-contextual-menu__description {
    color: $color-dark;
    display: block;
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: $sp-x-small;
    margin-top: $sp-x-small;
    white-space: normal;
  }

  .p-tooltip__group {
    margin-top: $sp-x-small;
  }

  .p-history-panel {
    border: 1px solid $color-mid-x-light;
    padding: 1.5rem;

    @media (max-width: $breakpoint-medium) {
      background-color: $color-x-light;
      border: 0;
      height: auto;
      left: 0;
      position: absolute;
      top: -132px;
      width: 100%;
      z-index: 1;

      &::before {
        background-color: $color-x-light;
        content: "";
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
      }
    }
  }

  .p-icon--lp {
    @extend %icon;

    background-image: url("#{$assets-path}ddb379a6-launchpad-logo.svg");
  }

  .p-icon--settings {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h26v26H0z'/%3E%3Cpath fill='gray' fill-rule='nonzero' d='M4.401 11.014L2 9.598l2.938-5.196 2.6 1.533a8.746 8.746 0 0 1 2.524-1.423V2h5.876v2.512c.92.332 1.772.817 2.523 1.423l2.601-1.533L24 9.598l-2.401 1.416a9.268 9.268 0 0 1 0 3.972L24 16.402l-2.938 5.196-2.6-1.533a8.746 8.746 0 0 1-2.524 1.423V24h-5.876v-2.512a8.746 8.746 0 0 1-2.523-1.423l-2.601 1.533L2 16.402l2.401-1.416A9.213 9.213 0 0 1 4.186 13c0-.683.074-1.347.215-1.986zM13 18c2.704 0 4.897-2.239 4.897-5S15.704 8 13 8s-4.897 2.239-4.897 5 2.193 5 4.897 5z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--drag {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12'%3E%3Cpath fill-rule='nonzero' fill='%23666' d='M4 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm4-8a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/%3E%3C/svg%3E");
  }

  .p-icon--history {
    @extend %icon;
    @include snapcraft-icon-history($color-dark);
  }

  .p-icon--branch {
    @extend %icon;
    @include snapcraft-icon-branch($color-dark, "8px", "11px");

    top: 2px;
  }

  .current-change {
    background-color: $color-highlighted !important;
    border: $color-highlighted-border !important;
  }

  .progressive-chart-key--current::after,
  .progressive-chart-key--target::after {
    border-radius: 10px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    width: 10px;
  }

  .progressive-chart-key--current::after {
    background-color: #652466;
  }

  .previous-progressive-progress-chart .progressive-chart-key--current::after {
    background-color: #43717e;
  }

  .progressive-chart-key--target::after {
    background-color: #5a5a5a;
  }

  .progressive-progress-bar {
    background-color: #decddf;
    border-radius: 10px;
    height: 10px;
    margin: 0.5rem 0;
    max-width: 320px;
    position: relative;
    width: 100%;

    .previous-progressive-progress-chart & {
      background-color: #d7e1e3;
    }
  }

  .progressive-progress-bar__inner {
    background-color: #652466;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 10px;

    .previous-progressive-progress-chart & {
      background-color: #43717e;
    }
  }

  .progressive-progress-bar__marker {
    background-color: #5a5a5a;
    height: 1.5rem;
    position: absolute;
    top: calc(0rem - 0.75rem + 5px);
    width: 2px;
  }
}
