@mixin snapcraft-p-dispute-list {
  .p-snapcraft-dispute-list__item {
    .p-snapcraft-dispute-list__link {
      display: none;
    }

    .p-snapcraft-dispute-list__muted {
      color: $color-mid;
    }

    .p-snapcraft-dispute-list__icon {
      display: inline-block;
      margin-right: $sph-intra;
    }

    &:hover {
      .p-snapcraft-dispute-list__link {
        display: block;
      }
    }
  }
}
