@mixin snapcraft-market {

  // hack to make anchor link behave like a button
  .js-market-revert.is-disabled {

    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: transparent;
    }
  }

  .p-editable-icon {
    $white-overlay-color: rgba(255, 255, 255, .5);
    $black-overlay-color: rgba(0, 0, 0, .5);

    cursor: pointer;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    &::after {
      background: transparent;
      border-radius: 50%;
      bottom: 0;
      box-shadow: 0 0 0 20px $white-overlay-color;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::before {
      background: $black-overlay-color;
      background-image: url('#{$assets-path}e90af3d3-edit-icon-white.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 0 0 100px 100px; // radius has to be in px to create half circle
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  // Stick the Revert, Apply buttons to the top
  .snapcraft-p-sticky {
    background: $color-x-light;
    position: sticky;
    top: 0;
    z-index: 1;

    & .row {
      padding-bottom: $sp-medium;
      padding-top: $sp-medium;
    }

    &.sticky-shadow {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    }

    @media screen and (max-width: $breakpoint-x-small) {
      .js-market-submit {
        margin-top: $sp-x-small !important;
      }
    }

    .p-inline-list__item {
      line-height: 2.3rem;
    }
  }
}
