@mixin snapcraft-release {
  $color-highlighted: #fff8ee;

  // RELEASES CONFIRM

  .p-releases-confirm {
    background: $color-light;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
  }

  .p-releases-confirm__buttons {
    position: absolute;
    right: 0;
    top: 10px;
  }

  // RELEASES TABLE

  .p-releases-table {
    margin-bottom: $spv-inter--regular;
  }

  // row

  .p-releases-table__row {
    border-bottom: 1px solid $color-mid-light;
    display: flex;
  }

  .p-releases-table__row--channel {
    height: 4rem;
  }

  .p-releases-table__row--heading {
    height: 2.5rem;
  }

  .p-releases-table__row--unassigned {
    margin-top: $spv-inter--regular;
  }

  // channel cell

  .p-releases-channel {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-right: $grid-gutter-width / 2;
    width: 22.53423%; // col-3
  }

  .p-releases-channel__promote {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: .5rem;
    width: 2rem;
  }

  .p-releases-channel__name {
    flex-grow: 1;
  }

  // release cell

  .p-releases-table__cell {
    @include vf-animation (#{background-color, border-color}, 0, in);
    background: $color-light;
    border-bottom: 3px solid transparent;
    flex-basis: 100px;
    flex-grow: 1;
    margin-left: 1px;
    max-width: 25.2%; // fill the whole space for 3 archs
    min-width: 100px;
    padding: ($spv-intra - .1rem) $sph-intra;
    position: relative;
    transition-duration: 0s; // vf-animation doesn't allow to do that

    &.is-unassigned {
      background-color: $color-x-light;
    }

    &.is-clickable:focus,
    &.is-clickable:hover,
    &.is-active {
      @include vf-animation (#{background-color, border-color}, fast, in);
      background-color: $color-x-light;
      border-color: $color-mid-dark;
      cursor: pointer;
    }

    &.is-highlighted {
      background: $color-highlighted;
    }
  }

  .p-releases-table__arch {
    background: none;
  }

  // cell contents (release info)

  .p-release-buttons {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  .p-release-data {
    display: flex;
    max-width: 100%;
  }

  .p-release-data__icon {
    margin-right: 4px;
  }

  .p-release-data__info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-pending {
      font-weight: 400;
      padding-right: $sph-inter;
    }
  }

  .p-release-data__info--empty {
    display: inline-block;
    overflow: hidden;
    padding-bottom: .6em;
    padding-top: .6em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-release-data__revision {
    color: $color-mid-dark;
    display: block;
    font-size: .8em;
  }

  // actions

  .p-release-actions {
    text-align: right;
  }

  // REVISIONS LIST

  .p-revisions-list {
    .col-checkbox-spacer {
      padding-left: 2rem;
    }

    .is-disabled {
      opacity: .5;

      .p-tooltip__message {
        display: none;
      }
    }

    .is-clickable {
      cursor: pointer;

      &:hover {
        background-color: $color-light;

      }
    }
  }

  // HELPERS

  .p-icon-button {
    padding: $spv-nudge - $px $sph-intra--condensed * 1.5 - ($px * 2);

    &:not(:last-of-type):not(:only-of-type) {
      margin-right: .25rem;
    }
  }

  .p-contextual-menu__item {
    @extend .p-contextual-menu__link; // sass-lint:disable-line placeholder-in-extend

    &:hover {
      background: transparent;
      cursor: default;
    }
  }

  .p-contextual-menu__link.is-indented {
    padding-left: 1rem;
  }
}
