@mixin snapcraft-graph-tooltip {
  .snapcraft-graph-tooltip {
    &__title {
      border-bottom: 1px solid $color-mid-dark;
      display: block;
      font: 12px "Ubuntu";
      margin-bottom: .5rem;
      padding-bottom: .25rem;
      text-align: center;
    }

    &__series {
      align-items: center;
      display: flex;
      font: 12px "Ubuntu";
      justify-content: center;
      margin-top: .25rem;
      width: 176px;

      &:last-child {
        margin-bottom: .25rem;
      }

      &-name {
        display: inline-block;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        text-transform: capitalize;
        width: calc(50% - .5rem);
      }

      &-color {
        border-radius: .75rem;
        display: inline-block;
        height: .75rem;
        margin: {
          left: .25rem;
          right: .25rem;
          top: 0;
        }
        width: .75rem;
      }

      &-value {
        display: inline-block;
        margin-top: 0;
        width: calc(50% - .5rem);
      }
    }
  }
}
