@mixin snapcraft-p-featured-snaps {
  $light-transparent: rgba(255, 255, 255, 0);
  $light-opaque: rgba(255, 255, 255, .65);
  $dark-transparent: rgba(0, 0, 0, 0);
  $dark-opaque: rgba(0, 0, 0, .65);

  .p-generated-featured-snap {
    background-color: $color-light;
    border-radius: $border-radius;
    margin-bottom: $spv-inter--scaleable;
    padding: $sph-inter;
    text-decoration: none;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(5rem, 43rem) minmax(1rem, 160px);
    column-gap: $sph-inter;

    @media screen and (min-width: $breakpoint-navigation-threshold) {
      padding: $spv-inter--scaleable ($sph-inter--expanded * 3);
    }

    .p-generated-featured-snap__details {
      align-items: center;
      display: flex;
    }

    .p-generated-featured-snap__summary {
      display: none;
    }

    &:hover {
      text-decoration: none;
    }

    &.is--dark {
      background: linear-gradient(to right, $dark-transparent 0%, $dark-opaque 70%, $dark-opaque 100%);

      .p-generated-featured-snap__summary,
      .p-generated-featured-snap__title {
        color: $color-x-light;
      }
    }

    &.is--light {
      background: linear-gradient(to right, $light-transparent 0%, $light-opaque 70%, $light-opaque 100%);

      .p-generated-featured-snap__summary,
      .p-generated-featured-snap__title {
        color: $color-x-dark;
      }
    }

    .p-generated-featured-snap__icon {
      img {
        display: block;
      }
    }

    @media screen and (min-width: $breakpoint-small) {
      .p-generated-featured-snap__title {
        display: none;
      }

      .p-generated-featured-snap__summary {
        display: block;
      }
    }
  }
}
