@mixin snapcraft-l-application {
  .l-navigation {
    position: absolute;
    top: auto;

    @media (min-width: $application-layout--breakpoint-side-nav-expanded) {
      position: static;
    }

    .p-panel {
      background: $color-light;
    }

    .p-side-navigation__link {
      &.is-active,
      &[aria-current="page"],
      &[aria-current="true"] {
        @include vf-highlight-bar(#82bfa1, left);
      }
    }

    .p-side-navigation--icons {
      .p-side-navigation__icon {
        left: 1.25rem;
        top: 0.25rem;
      }

      .p-side-navigation__link {
        padding-left: 3.25rem;
      }
    }
  }
}
