@mixin snap-image-upload {
  .snap-image-upload-container {
    align-items: flex-start;
    display: flex;
    margin-bottom: $spv--large;
  }

  .snap-image-upload-edit {
    align-items: center;
    background-color: $color-x-light;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .snap-image-upload-drop-area {
    align-items: top;
    display: flex;
    position: relative;

    &.is-dragging {
      border: 1px dashed $color-mid-light;
    }

    &:hover {
      .snap-image-upload-edit {
        border: 1px solid $color-mid-light;
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .snap-image-upload-preview {
    position: relative;

    img {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .snap-image-upload-input {
    cursor: pointer;
    left: 0;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .snap-add-image {
    align-items: center;
    border: 1px solid $color-mid-light;
    display: flex;
    justify-content: center;
  }
}
