@mixin snapcraft-snap-list {
  .p-snap-list {

    &__image {
      height: 32px;
      width: 32px;
    }

    &__image,
    &__name {
      margin-right: $sp-medium;
    }
  }

  .p-snapcraft-first-snap {
    position: relative;

    &__notification {
      margin-top: 1rem;
    }

    &__rocket {
      margin: {
        bottom: -1rem;
        top: -1rem;
      }

      img {
        height: 130px;
      }
    }
  }
}
