@mixin snapcraft-p-side-panel {
  .p-side-panel {
    background-color: $color-x-light;
    bottom: 0;
    display: none;
    height: 100%;
    max-width: 420px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .p-side-panel--open {
    box-shadow: 0 0 16px 1px rgba(51, 51, 51, 0.2);
    display: block;
  }

  .p-side-panel__actions {
    bottom: 0;
    position: absolute;
    right: 1.5rem;
  }
}
