@mixin snapcraft-pattern-tutorials {
  .p-tutorials-meter {
    background-image: url('#{$assets-path}3b601b5d-snapcraft_difficulty_tutorials.svg');
    background-position-x: -75px;
    background-position-y: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: $sp-large;
    margin-left: $sp-xx-small;
    text-indent: -9999px;
    width: 74px;
  }

  .p-tutorials-meter--1 {
    background-position-x: -60px;
  }

  .p-tutorials-meter--2 {
    background-position-x: -45px;
  }

  .p-tutorials-meter--3 {
    background-position-x: -30px;
  }

  .p-tutorials-meter--4 {
    background-position-x: -15px;
  }

  .p-tutorials-meter--5 {
    background-position-x: 0;
  }
}
