@mixin snapcraft-metrics {
  .snapcraft-metrics__graph {
    opacity: 0;
    transition: opacity .333s;
    position: relative;

    .p-tooltip {
      position: absolute;

      .p-tooltip__message {
        display: block;
      }
    }

    .domain {
      display: none;
    }

    .tick line {
      stroke: #ccc;
    }
  }

  .is-empty {
    h3,
    hr,
    .p-heading--three {
      color: $color-mid-light;
    }

    svg {
      opacity: .4;
      pointer-events: none;
    }
  }
}
