@mixin snapcraft-market {

  .p-editable-icon {
    $white-overlay-color: rgba(255, 255, 255, .5);
    $black-overlay-color: rgba(0, 0, 0, .5);

    cursor: pointer;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    &::after {
      background: transparent;
      border-radius: 50%;
      bottom: 0;
      box-shadow: 0 0 0 20px $white-overlay-color;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::before {
      background: $black-overlay-color;
      background-image: url('#{$assets-path}e90af3d3-edit-icon-white.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 0 0 100px 100px; // radius has to be in px to create half circle
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

}
