@mixin snapcraft-publisher {
  .p-strip--image.is-deep {
    background-position: center;
    min-height: 35vh;
  }


  .snap-installs-placeholder {
    height: 100%;
    width: 100%;

    .p-icon--spinner {
      height: $sp-x-large;
      width: $sp-x-large;
    }
  }
}
