@mixin snapcraft-p-grid {
  .snapcraft-p-grid {
    column-gap: $sph-inter;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    row-gap: $spv-outer--medium;

    &--featured {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }

  h3 + .snapcraft-p-grid {
    margin-top: $sp-xx-large;
  }
}
