@mixin snapcraft-p-release-details-row {
  .p-release-details-row {
    // Same as the global nav breakpoint
    @media screen and (width <= 875px) {
      &__notes {
        display: none;
      }
    }

    &__progress {
      display: grid;
      flex: 1;
      font-weight: 400;
      grid-column-gap: 0.5rem;
      grid-template-columns: auto 8rem;
    }

    &__notes {
      color: $color-dark;
    }
  }

  .p-release-details-group + .p-release-details-row {
    border-top: 1px dashed $color-mid-light;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }

  .progressive-release-control {
    padding-top: 1rem;
  }

  .progressive-release-control__inner {
    display: flex;
    gap: 1rem;
  }
}
