@mixin snapcraft-app-pagination {
  .app-pagination {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1.2rem;
    padding-bottom: $spv--small;
    padding-top: $spv--small;

    @media (min-width: $breakpoint-small) {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }

    .app-pagination__description {
      flex-grow: 1;

      @media (max-width: $breakpoint-small) {
        margin-bottom: $spv--large;
        text-align: center;
      }
    }

    .app-pagination__controls {
      align-items: baseline;
      display: flex;

      @media (max-width: $breakpoint-small) {
        justify-content: center;
      }
    }

    .app-pagination__back {
      margin: 0 $spv--large 0 0;

      i {
        rotate: 90deg;
      }
    }

    .app-pagination__next {
      margin: 0 $spv--large;

      i {
        rotate: -90deg;
      }
    }

    .app-pagination__page-number {
      margin-right: $spv--small;
      min-width: 0;
      width: 3rem;
    }

    .app-pagination__page-size {
      margin-left: $spv--x-large;
      min-width: 0;
      width: 7rem;
    }
  }
}
