@mixin snap-icon {
  .snap-icon-edit {
    align-items: center;
    background-color: $color-x-light;
    display: flex;
    height: 120px;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 120px;
  }

  .snap-icon-drop-area {
    align-items: top;
    display: flex;
    position: relative;

    &.is-dragging {
      border: 1px dashed $color-mid-light;
    }

    &:hover {
      .snap-icon-edit {
        border: 1px solid $color-mid-light;
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .snap-icon-preview {
    height: 120px;
    position: relative;
    width: 120px;

    img {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .snap-icon-input {
    cursor: pointer;
    height: 120px;
    left: 0;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  .snap-add-icon {
    align-items: center;
    border: 1px solid $color-mid-light;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 120px;
  }

  .snap-remove-button {
    position: relative;
    z-index: 1;
  }
}
