@mixin snapcraft_p-videos {
  .youtube-thumbnail-button {
    background-color: $color-x-dark;
    border: none;
    height: 100%;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: $color-x-dark !important;
    }

    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }

  .youtube-play-button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
}
