@mixin snapcraft-p-account-key-card {
  .p-account-keys-card {
    position: relative;
  }

  .p-account-key-card__constraints-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: $input-margin-bottom;
  }

  .p-account-key-card__sha384 {
    background-color: var(--vf-color-background);
    padding: 0;
  }
}
