@mixin snapcraft-metrics {
  $opaque-white: rgba(255, 255, 255, 1);
  $transparent-white: rgba(255, 255, 255, 0);

  .snapcraft-metrics__graph {
    opacity: 0;
    position: relative;
    transition: opacity .333s;

    .p-tooltip {
      position: absolute;
      z-index: 100;

      .p-tooltip__message {
        display: block;
      }
    }

    .domain {
      display: none;
    }

    .tick line {
      stroke: $color-mid-light;
    }

    .area-label {
      pointer-events: none;

      &.is-hidden {
        display: none;
      }
    }
  }


  .is-empty {
    h3,
    hr,
    .p-heading--three {
      color: $color-mid-light;
    }

    svg {
      opacity: .4;
      pointer-events: none;
    }
  }

  .snapcraft-metrics__active-devices {
    &::after {
      background: linear-gradient(90deg, $transparent-white, $opaque-white);
      bottom: 0;
      content: " ";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
    }
  }
}
