@mixin snapcraft-market-screenshots {
  .p-screenshots-toolbar {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .p-empty-add-screenshots {
    background: $color-light;
    display: block;
    padding: $sp-x-large;
    text-align: center;
  }

  .p-screenshot {
    &.selected {
      outline: 1px solid $color-focus;
      outline-offset: 2px;
    }
  }
}
