@mixin snapcraft-cves {
  // Icons introduced in CVE work
  .p-icon--unknown-priority,
  .p-icon--negligible-priority,
  .p-icon--low-priority,
  .p-icon--medium-priority,
  .p-icon--high-priority,
  .p-icon--critical-priority,
  .p-icon--dark-tick {
    @extend %icon;
  }

  .p-icon--unknown-priority {
    background-image: url("#{$assets-path}2dff197f-CVE-Priority-icon-Unknown.svg");
  }

  .p-icon--negligible-priority {
    background-image: url("#{$assets-path}ef6c75b8-CVE-Priority-icon-Negligible.svg");
  }

  .p-icon--low-priority {
    background-image: url("#{$assets-path}03ac6f86-CVE-Priority-icon-Low.svg");
  }

  .p-icon--medium-priority {
    background-image: url("#{$assets-path}8010f9e0-CVE-Priority-icon-Medium.svg");
  }

  .p-icon--high-priority {
    background-image: url("#{$assets-path}3887354e-CVE-Priority-icon-High.svg");
  }

  .p-icon--critical-priority {
    background-image: url("#{$assets-path}c96f27b9-CVE-Priority-icon-Critical.svg");
  }
}
