@mixin u-flex {
  // There are several issues with using floats for layout in Vanilla 2.0
  // This utility tries to give tools to overcome some of them
  .u-flex {
    display: flex;
  }

  .u-flex--space-between {
    display: flex;
    justify-content: space-between;
  }
}
