@import "vanilla-framework/scss/vanilla";
@include vanilla;

// Custom and overrides
@import "patterns_testimonial";
@include vf-p-testimonial;
@import "snapcraft_show-more";
@include snapcraft-show-more;

// responsive
$breakpoint-medium: 619px;

// XXX: remove when updating to the latest 4.0 version which includes this var
$color-paper: #f3f3f3;

.is-paper {
  background-color: $color-paper;
}

.article-row {
  &:not(:first-child) {
    border-top: 1px solid $color-mid-light;
  }
}

.homepage-suru-strip--mobile {
  @media only screen and (max-width: $breakpoint-medium - 1px) {
    background-image: url("https://assets.ubuntu.com/v1/18f4191b-homepage-suru.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
}

.p-suru25light {
  background-color: $color-paper;
  background-image: url("https://assets.ubuntu.com/v1/7f34ade9-website_suru_25.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 80rem;
  padding-top: 19%;
}

.main {
  background: $color-paper;
}

.p-rule--vertical {
  &::before {
    background-color: $colors--light-theme--border-default;
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
    left: map-get($grid-gutter-widths, default) * -.5;
  }
}