@mixin snap-details-map {
  $color-country-scale-4: #48929b;
  $color-country-scale-3: lighten($color-country-scale-4, 10);
  $color-country-scale-2: lighten($color-country-scale-4, 20);
  $color-country-scale-1: lighten($color-country-scale-4, 30);
  $color-country-scale-0: lighten($color-country-scale-4, 40);
  $color-country-default: lighten($color-country-scale-4, 50); // TODO: $color-country-scale-0;
  $color-country-boundary: $color-x-light;

  .country {
    fill: $color-country-default;

    &--scale-0 {
      fill: $color-country-scale-0;
    }

    &--scale-1 {
      fill: $color-country-scale-1;
    }

    &--scale-2 {
      fill: $color-country-scale-2;
    }

    &--scale-3 {
      fill: $color-country-scale-3;
    }

    &--scale-4 {
      fill: $color-country-scale-4;
    }
  }

  .boundary {
    fill: none;
    stroke: $color-country-boundary;
    stroke-width: 1px;
  }

  .map {
    border-top: 1px solid $color-mid-light;
    position: relative;
  }

  .map-tooltip {
    @extend .p-tooltip--btm-center; // sass-lint:disable-line placeholder-in-extend
    display: none;
    pointer-events: none; // little hack to make sure tooltip doesn't dissapear when it's hovered
    position: absolute;

    // override display of tooltip message so it's not only shown on hover of parent element
    .p-tooltip__message {
      display: block;
      min-width: auto;
    }
  }

  .swatch {
    border: 1px solid $color-x-light;
    display: inline-block;
    height: $sp-medium;
    margin-right: $sp-x-small;
    vertical-align: middle;
    width: $sp-medium;

    &--scale-0 {
      background-color: $color-country-scale-0;
    }

    &--scale-1 {
      background-color: $color-country-scale-1;
    }

    &--scale-2 {
      background-color: $color-country-scale-2;
    }

    &--scale-3 {
      background-color: $color-country-scale-3;
    }

    &--scale-4 {
      background-color: $color-country-scale-4;
    }
  }
}
