@mixin snap-details-map {
  $color-country-default: $color-light;
  $color-country-scale-0: #cfe2f3;
  $color-country-scale-1: #9fc5e8;
  $color-country-scale-2: #6fa8dc;
  $color-country-scale-3: #3d85c6;
  $color-country-scale-4: #0b5394;
  $color-country-boundary: $color-x-light;

  .country {
    fill: $color-country-default;

    &--scale-0 {
      fill: $color-country-scale-0;
    }

    &--scale-1 {
      fill: $color-country-scale-1;
    }

    &--scale-2 {
      fill: $color-country-scale-2;
    }

    &--scale-3 {
      fill: $color-country-scale-3;
    }

    &--scale-4 {
      fill: $color-country-scale-4;
    }
  }

  .boundary {
    fill: none;
    stroke: $color-country-boundary;
    stroke-width: 1px;
  }

  .map {
    border: 1px solid $color-mid-light;
    border-radius: 2px;
    overflow: auto;
    position: relative;
  }

  .map-tooltip {
    @extend .p-tooltip--btm-center; // sass-lint:disable-line placeholder-in-extend
    display: none;
    pointer-events: none; // little hack to make sure tooltip doesn't dissapear when it's hovered
    position: absolute;

    // override display of tooltip message so it's not only shown on hover of parent element
    .p-tooltip__message {
      display: block;
    }
  }
}
