// vanilla patterns
@import 'vanilla-framework/scss/vanilla';
@include vanilla-base;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-strip;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-footer;
@include vf-u-floats;
