// colour definitions
$color-brand: #00302f; // TODO: this is a temprary brand colour
$color-accent: $color-brand;

// vanilla patterns
@import 'vanilla-framework/scss/vanilla';

$color-brand: #003634; // TODO: this is a temprary brand colour
$color-accent: $color-brand; // temporary for strip background
$color-accent-background: $color-accent;

@include vf-base;
@include vf-p-card; // required by vf-p-tooltips
@include vf-p-links;
@include vf-p-lists;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-buttons;
@include vf-p-strip;
@include vf-p-media-object;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-footer;
@include vf-p-tooltips;
@include vf-u-floats;
@include vf-u-off-screen;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-align;
@include vf-p-forms;
@include vf-p-headings;
@include vf-p-matrix;

@import 'patterns_inline-list--compact';
@include p-inline-list--compact;

@import 'patterns_social-icons';
@include p-social-icons;

@import 'patterns_media-object--large';
@include p-media-object--large;

@import 'patterns_table-key-value';
@include vf-p-table-key-value;

@import 'map';
@include snap-details-map;

@import 'search-form';
@include search-form;

@import 'patterns_sticky_footer';
@include p-sticky-footer;

@import 'snapcraft_custom-typography';
@include snapcraft-custom-typography;

@import 'snapcraft_banner';
@include snapcraft-banner;

@import 'patterns_testimonial';
@include vf-p-testimonial;

@import 'button-overrides';
@include button-overrides;
