// colour definitions
$color-brand: #00302f; // TODO: this is a temprary brand colour
$color-accent: $color-brand;
$color-navigation-background: #252525;

// vanilla patterns
@import 'vanilla-framework/scss/vanilla';

@include vf-base;

@include vf-p-card; // required by vf-p-tooltips
@include vf-p-links;
@include vf-p-lists;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-buttons;
@include vf-p-strip;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-footer;
@include vf-p-tooltips;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-headings;
@include vf-p-matrix;
@include vf-p-icons;
@include vf-p-heading-icon;
@include vf-u-image-position;
@include vf-p-code-snippet;


// vanilla utilities
@include vf-u-floats;
@include vf-u-off-screen;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-align;
@include vf-u-clearfix;
@include vf-u-animations;

@import 'patterns_inline-list--compact';
@include p-inline-list--compact;

@import 'patterns_social-icons';
@include p-social-icons;

@import 'patterns_media-object';
@include p-media-object;

@import 'patterns_media-object--large';
@include p-media-object--large;

@import 'patterns_table-key-value';
@include vf-p-table-key-value;

@import 'map';
@include snap-details-map;

@import 'search-form';
@include search-form;

@import 'patterns_sticky_footer';
@include p-sticky-footer;

@import 'snapcraft_p-navigation';
@include snapcraft-p-navigation;

@import 'snapcraft_p-tabs';
@include snapcraft-p-tabs;

@import 'snapcraft_custom-typography';
@include snapcraft-custom-typography;

@import 'snapcraft_banner';
@include snapcraft-banner;

@import 'snapcraft_graph-tooltip';
@include snapcraft-graph-tooltip;

@import 'snapcraft_metrics';
@include snapcraft-metrics;

@import 'snapcraft_market';
@include snapcraft-market;

@import 'patterns_testimonial';
@include vf-p-testimonial;

@import 'button-overrides';
@include button-overrides;

@import 'patterns_logo-links';
@include p-logo-link;

@import 'snapcraft_custom-typography';
@include snapcraft-custom-typography;

@import 'snapcraft_market_screenshots';
@include snapcraft-market-screenshots;

@import 'snapcraft_snap-list';
@include snapcraft-snap-list;

@import 'patterns_maas_modal';
@include maas-p-modal;

@import 'snapcraft_details_screenshots';
@include snapcraft-details-screenshots;

@import 'snapcraft_footer';
@include snapcraft-footer;

@import 'snapcraft_snap-details';
@include snapcraft-snap-details;

@import 'snapcraft_404';
@include snapcraft-404;
