// vanilla patterns
@import 'vanilla-framework/scss/vanilla';
@include vanilla-base;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-buttons;
@include vf-p-strip;
@include vf-p-media-object;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-footer;
@include vf-u-floats;
@include vf-u-off-screen;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-align;

@import 'patterns_inline-list--compact';
@include p-inline-list--compact;

@import 'patterns_social-icons';
@include p-social-icons;

@import 'patterns_media-object--large';
@include p-media-object--large;

@import 'patterns_table-key-value';
@include vf-p-table-key-value;
