// colour definitions
$ubuntu-orange: #e95420;
$color-brand: #00302f;
$color-accent: $color-brand;
$color-navigation-active-bar: $ubuntu-orange;
$color-sidenav-item-border-highlight: #82bfa1;

// navigation variables
$theme-default-nav: dark;
$breakpoint-navigation-threshold: 800px;

$font-display-option: swap;

// vanilla patterns
@import "vanilla-framework/scss/vanilla";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// make social icons match footer p-strip--light color
$color-social-icon-foreground: $color-light;

@include vf-base;
@include vf-p-accordion;
@include vf-p-card; // required by vf-p-tooltips
@include vf-p-divider;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-buttons;
@include vf-p-strip;
@include vf-p-media-object;
@include vf-p-modal;
@include vf-p-table-mobile-card;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-tooltips;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-headings;
@include vf-p-matrix;
@include vf-p-icons;
@include vf-p-heading-icon;
@include vf-p-form-validation;
@include vf-p-contextual-menu;
@include vf-p-breadcrumbs;
@include vf-p-pagination;
@include vf-p-code-snippet;
@include vf-p-tabs;
@include vf-p-table-icons;
@include vf-p-subnav;
@include vf-p-side-navigation;
@include vf-p-search-box;

// vanilla utilities
@include vf-u-floats;
@include vf-u-off-screen;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-align;
@include vf-u-clearfix;
@include vf-u-animations;
@include vf-u-image-position;
@include vf-u-equal-height;
@include vf-u-hide;
@include vf-u-show;
@include vf-u-layout;
@include vf-u-text-muted;
@include vf-u-truncate;
@include vf-u-embedded-media;

// vanilla layouts
@include vf-l-application;

@import "patterns_icons";
@import "snapcraft_custom-cols";

@include snapcraft-custom-cols;

// No drop-in replacement from vanilla, but perhaps we could use
// p-button has-icon?
@import "patterns_button_spinner";

@include p-button-spinner;

// Needs some TLC with the new code styling
@import "patterns_annotated_code";

@include p-annotated-code;

@import "map";

@include snap-details-map;

// Again the new grid doesn't work to implement what happens here
@import "search-form";

@include search-form;

// The footer pattern has been removed from vanilla
// so there is little possibility this will be added
@import "patterns_sticky_footer";

@include p-sticky-footer;

// some bugfixes for Vanilla navigation issues
@import "snapcraft_p-navigation";

@include snapcraft-p-navigation;

@import "snapcraft_banner";

@include snapcraft-banner;

@import "snapcraft_graph-tooltip";

@include snapcraft-graph-tooltip;

@import "snapcraft_metrics";

@include snapcraft-metrics;

// When we move the listing, formerly market page
// to react, we should be able to remove this
@import "snapcraft_market";

@include snapcraft-market;

@import "patterns_testimonial";

@include vf-p-testimonial;

@import "button-overrides";

@include button-overrides;

@import "patterns_logo-links";

@include p-logo-link;

@import "snapcraft_market_screenshots";

@include snapcraft-market-screenshots;

// This needs to be killed with fire
@import "patterns_maas_modal";

@include maas-p-modal;

@import "snapcraft_details_heading";

@include snapcraft-details-heading;

@import "snapcraft_patterns_icons";

@include snapcraft-p-icon-top;

@import "snapcraft_show-more";

@include snapcraft-show-more;

@import "snapcraft_snap-details";

@include snapcraft-snap-details;

@import "snapcraft_p-form-validation";

@include snapcraft-p-form-validation;

@import "snapcraft_p-notifications";

@include snapcraft-p-notification;

@import "snapcraft_distro-chart";

@include snapcraft-distro-chart;

@import "snapcraft_p-verified";

@include snapcraft-p-verified;

@import "utilities_crop";

@include u-insights-crop;

@import "patterns_blog-post";

@include snapcraft-p-blog-post;

@import "patterns_nested-inputs";

@include snapcraft-p-nested-inputs;

@import "patterns_carousel";

@include snapcraft-p-carousel;

@import "patterns_media-object--snap";

@include snapcraft-p-media-object--snap;

@import "snapcraft_release";

@include snapcraft-release;

@import "snapcraft_p-build";

@include snapcraft-p-build;

@import "patterns_blog-list";

@include snapcraft-p-blog-list;

@import "patterns_form-multiselect";

@include snapcraft-p-multiselect;

@import "patterns_first-snap-flow";

@include snapcraft-p-first-snap-flow;

@import "snapcraft_p-breadcrumbs";

@include snapcraft-p-breadcrumbs;

@import "snapcraft-publicise";

@include snapcraft-publicise;

@import "snapcraft-publisher";

@include snapcraft-publisher;

@import "patterns_modal";

@include vf-p-modal-snapcraft;

@import "patterns_strip_slanted";

@include snapcraft-p-strip;

@import "snapcraft_store";

@include snapcraft-store;

@import "snapcraft_dispute-list";

@include snapcraft-p-dispute-list;

@import "snapcraft_embedded_card_modal";

@include snapcraft-embedded-card-modal;

@import "snapcraft_p-file-input";

@include snapcraft-p-file-input;

@import "patterns_pagination";

@include snapcraft-p-pagination;

@import "snapcraft_p-featured-snap";

@include snapcraft-p-featured-snap;

@import "patterns_distro_banner";

@include p-distro-banner;

@import "snapcraft_p-docs";

@include snapcraft-pattern-docs;

@import "patterns_table";

@include snapcraft-p-table;

@import "utilities_no-limit";

@include u-no-limit;

@import "utilities_flex";

@include u-flex;

@import "utilities_disabled";

@include u-disabled;

@import "utilities_text-wrap";

@include u-text-wrap;

@import "snapcraft_tour";

@include snapcraft-tour;

@import "pattern-hero-tab";

@include snapcraft-hero-tab;

@import "snapcraft_p-tutorials";

@include snapcraft-pattern-tutorials;

// Convert first row of a card to a header
@import "snapcraft_p-table-mobile-card";

@include snapcraft-p-table-mobile-card;

@import "snapcraft_p-progressive-bar";

@include snapcraft-p-progressive-bar;

@import "snapcraft_p-release-details-row";

@include snapcraft-p-release-details-row;

@import "snapcraft_l-application";

@include snapcraft-l-application;

@import "snapcraft-p-videos";

@include snapcraft-p-videos;

@import "pattern_p-button-group";

@include p-snapcraft-button-group;

@import "snapcraft_p-action-form";

@include snapcraft-action-form;

@import "snapcraft_custom-checkboxes";

@include snapcraft-custom-checkboxes;

@import "snapcraft_p-sticky-admin-footer";

@include snapcraft-sticky-admin-footer;

@import "snapcraft_p-side-panel";

@include snapcraft-p-side-panel;

@import "patterns_p-password-toggle-input";

@include p-password-toggle-input;

@import "snapcraft_p-autocomplete";

@include snapcraft-autocomplete;
@include snapcraft-p-icons;
@include vf-p-form-password-toggle;
@include vf-p-icon-status-waiting;

dl {
  margin-bottom: $spv-outer--scaleable;
}

.u-animate--reveal {
  height: auto !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

// Vanilla bug: https://github.com/canonical-web-and-design/vanilla-framework/issues/3321

.u-show--small {
  @media screen and (max-width: $breakpoint-medium) {
    // we duplicate display to support IE
    // sass-lint:disable no-duplicate-properties
    display: inherit !important;
    display: initial !important;
    // sass-lint:enable no-duplicate-properties
  }
}

.u-line-clamp--3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

// This should be removed once vanilla is upgraded to v2.22.2
.p-code-snippet__block--icon.is-wrapped,
.p-code-snippet__block--numbered.is-wrapped,
.p-code-snippet__block.is-wrapped {
  white-space: pre-wrap;
}

// Vanilla bug: https://github.com/canonical-web-and-design/vanilla-framework/issues/3526
code {
  white-space: pre;
  word-break: normal;
}

.p-modal__dialog {
  @media only screen and (min-width: $breakpoint-medium) {
    min-width: 400px;
  }
}

.u-text-muted {
  color: $color-mid-dark;
}

.p-navigation {
  .p-navigation__link.is-selected > a::before {
    background-color: $ubuntu-orange;
  }
}

.u-overflow-visible {
  overflow: visible !important;
}

// Vanilla bug: https://github.com/canonical-web-and-design/vanilla-framework/issues/3975
.p-form-password-toggle + [readonly] {
  color: $color-dark;
}

.table-cell--checkbox,
.table-cell-head--checkbox {
  padding-left: 2.5rem;

  .p-checkbox {
    margin-bottom: 0;
    margin-left: -2rem;
    padding-top: 0;
    position: relative;
    top: 4px;

    .p-checkbox__input {
      margin-top: 0;
    }
  }
}

.table-cell-head--checkbox {
  .p-checkbox {
    top: -2px;
  }
}

.p-notification-center {
  bottom: 0;
  position: fixed;
  right: 1rem;
  z-index: 9999;

  .p-notification--positive,
  .p-notification--negative {
    padding-right: 3rem;
  }
}

.members-accordion {
  .p-accordion__panel {
    padding-left: 0;
  }
}
