// colour definitions
$color-brand: #00302f;
$color-accent: $color-brand;

// navigation variables
$theme-default-nav: dark;
$breakpoint-navigation-threshold: 800px;

// vanilla patterns
@import 'vanilla-framework/scss/vanilla';

// make social icons match footer p-strip--light color
$color-social-icon-foreground: $color-light;

@include vf-base;

@include vf-p-accordion;
@include vf-p-card; // required by vf-p-tooltips
@include vf-p-divider;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-buttons;
@include vf-p-strip;
@include vf-p-media-object;
@include vf-p-modal;
@include vf-p-table-mobile-card;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-tooltips;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-headings;
@include vf-p-matrix;
@include vf-p-icons;
@include vf-p-heading-icon;
@include vf-p-form-validation;
@include vf-p-contextual-menu;
@include vf-p-breadcrumbs;
@include vf-p-pagination;
@include vf-p-code-copyable;
@include vf-p-tabs;
@include vf-p-subnav;

// vanilla utilities
@include vf-u-floats;
@include vf-u-off-screen;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-align;
@include vf-u-clearfix;
@include vf-u-animations;
@include vf-u-image-position;
@include vf-u-equal-height;
@include vf-u-hide;
@include vf-u-show;
@include vf-u-layout;

@import 'snapcraft_custom-cols';
@include snapcraft-custom-cols;

// No drop-in replacement from vanilla, but perhaps we could use
// p-button has-icon?
@import 'patterns_button_spinner';
@include p-button-spinner;

// Needs some TLC with the new code styling
@import 'patterns_annotated_code';
@include p-annotated-code;

@import 'map';
@include snap-details-map;

// Again the new grid doesn't work to implement what happens here
@import 'search-form';
@include search-form;

// The footer pattern has been removed from vanilla
// so there is little possibility this will be added
@import 'patterns_sticky_footer';
@include p-sticky-footer;

// some bugfixes for Vanilla navigation issues
@import 'snapcraft_p-navigation';
@include snapcraft-p-navigation;

@import 'snapcraft_banner';
@include snapcraft-banner;

@import 'snapcraft_graph-tooltip';
@include snapcraft-graph-tooltip;

@import 'snapcraft_metrics';
@include snapcraft-metrics;

// When we move the listing, formerly market page
// to react, we should be able to remove this
@import 'snapcraft_market';
@include snapcraft-market;

@import 'patterns_testimonial';
@include vf-p-testimonial;

@import 'button-overrides';
@include button-overrides;

@import 'patterns_logo-links';
@include p-logo-link;

@import 'snapcraft_market_screenshots';
@include snapcraft-market-screenshots;

// This needs to be killed with fire
@import 'patterns_maas_modal';
@include maas-p-modal;

@import 'snapcraft_details_heading';
@include snapcraft-details-heading;

@import 'snapcraft_patterns_icons';
@include snapcraft-p-icon-top;

@import 'snapcraft_show-more';
@include snapcraft-show-more;

@import 'snapcraft_snap-details';
@include snapcraft-snap-details;

@import 'snapcraft_p-form-validation';
@include snapcraft-p-form-validation;

@import 'snapcraft_p-notifications';
@include snapcraft-p-notification;

@import 'snapcraft_distro-chart';
@include snapcraft-distro-chart;

@import 'snapcraft_p-verified';
@include snapcraft-p-verified;

@import 'utilities_crop';
@include u-insights-crop;

@import 'patterns_blog-post';
@include snapcraft-p-blog-post;

@import 'patterns_nested-inputs';
@include snapcraft-p-nested-inputs;

@import 'patterns_carousel';
@include snapcraft-p-carousel;

@import 'patterns_media-object--snap';
@include snapcraft-p-media-object--snap;

@import 'snapcraft_release';
@include snapcraft-release;

@import 'snapcraft_p-build';
@include snapcraft-p-build;

@import 'patterns_blog-list';
@include snapcraft-p-blog-list;

@import 'patterns_form-multiselect';
@include snapcraft-p-multiselect;

@import 'patterns_first-snap-flow';
@include snapcraft-p-first-snap-flow;

@import 'snapcraft_p-breadcrumbs';
@include snapcraft-p-breadcrumbs;

@import 'snapcraft_p-code-copyable';
@include snapcraft-p-code-copyable;

@import 'snapcraft-publicise';
@include snapcraft-publicise;

@import 'snapcraft-publisher';
@include snapcraft-publisher;

@import 'patterns_modal';
@include vf-p-modal-snapcraft;

@import 'patterns_strip_slanted';
@include p-strip-slanted;

@import 'snapcraft_store';
@include snapcraft-store;

@import 'snapcraft_dispute-list';
@include snapcraft-p-dispute-list;

@import 'snapcraft_embedded_card_modal';
@include snapcraft-embedded-card-modal;

@import 'snapcraft_p-file-input';
@include snapcraft-p-file-input;

@import 'patterns_pagination';
@include snapcraft-p-pagination;

@import 'snapcraft_p-featured-snap';
@include snapcraft-p-featured-snap;

@import 'patterns_distro_banner';
@include p-distro-banner;

@import 'snapcraft_p-docs';
@include snapcraft-pattern-docs;

@import 'patterns_table';
@include snapcraft-p-table;

@import 'utilities_no-limit';
@include u-no-limit;

@import 'utilities_flex';
@include u-flex;

@import 'utilities_disabled';
@include u-disabled;

@import 'utilities_text-wrap';
@include u-text-wrap;

@import 'snapcraft_tour';
@include snapcraft-tour;

@import 'snapcraft_p-tutorials';
@include snapcraft-pattern-tutorials;

// Convert first row of a card to a header
@import 'snapcraft_p-table-mobile-card';
@include snapcraft-p-table-mobile-card;

@import 'snapcraft_p-progressive-bar';
@include snapcraft-p-progressive-bar;

@import 'snapcraft_p-release-details-row';
@include snapcraft-p-release-details-row;

@import 'snapcraft_builds';
@include snapcraft-builds;

// **** Vanilla overrides & temporary bug fixes ****

// Temporary bug fix for https://github.com/canonical-web-and-design/vanilla-framework/issues/2791

dl {
  margin-bottom: $spv-outer--scaleable;
}
