<ul class="p-side-navigation__list">
  <li class="p-side-navigation__item--title">
    <span class="p-side-navigation__text">My stores</span>
  </li>
  {% for store in stores %}
  <li class="p-side-navigation__item">
    <a class="p-side-navigation__link {% if store_id == store.id %}is-active{% endif %}" href="/admin/{{ store.id }}/snaps">{{ store.name }}</a>
    <ul class="p-side-navigation__list {% if store_id != store.id %}u-hide{% endif %}">
      <li class="p-side-navigation__item">
        <a class="p-side-navigation__link {% if current_tab == 'snaps' %}is-active{% endif %}" href="/admin/{{ store.id }}/snaps">Snaps</a>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>
