<ul class="p-side-navigation__list">
  <li class="p-side-navigation__item--title">
    <span class="p-side-navigation__text">My stores</span>
  </li>
  {% for s in stores %}
  <li class="p-side-navigation__item">
    <a class="p-side-navigation__link {% if store.id == s.id %}is-active{% endif %}" href="/admin/{{ s.id }}/snaps">{{ s.name }}</a>
    <ul class="p-side-navigation__list {% if store.id != s.id %}u-hide{% endif %}">
      <li class="p-side-navigation__item">
        <a class="p-side-navigation__link {% if current_tab == 'snaps' %}is-active{% endif %}" href="/admin/{{ s.id }}/snaps">Snaps</a>
      </li>
      <li class="p-side-navigation__item">
        <a class="p-side-navigation__link {% if current_tab == 'members' %}is-active{% endif %}" href="/admin/{{ s.id }}/members">Members</a>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>
