<h2 class="p-heading--four">Snaps in {{ store.name }}</h2>

<table>
  <thead>
    <tr>
      <th>Published in</th>
      <th>Name</th>
      <th>Latest release</th>
      <th>Collaborators</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="{{ snaps | length }}">{{ store.name }}</td>
      <td>{{ snaps[0].name }}</td>
      <td>
        {% if snaps[0]["latest-release"].channel %}
          <div>
            latest/{{ snaps[0]["latest-release"].channel }} {{ snaps[0]["latest-release"].version }}
          </div>
          <div>
            <small>{{ format_date(snaps[0]["latest-release"].timestamp, "%d %B %Y") }}</small>
          </div>
        {% endif %}
      </td>
      <td>
        {% for user in snaps[0].users %}
          {{ user.displayname }}
        {% endfor %}
      </td>
    </tr>
    {% for snap in snaps %}
      {% if loop.index > 1 %}
        <tr>
          <td>{{ snap.name }}</td>
          <td>
            {% if snap["latest-release"].channel %}
              <div>
                latest/{{ snap["latest-release"].channel }} {{ snap["latest-release"].version }}
              </div>
              <div>
                <small>{{ format_date(snap["latest-release"].timestamp, "%d %B %Y") }}</small>
              </div>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% for user in snap.users %}
              {{ user.displayname }}{% if not loop.last %},{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
