<div class="l-application__header">
  <h2 class="p-heading--four">Snaps in {{ store.name }}</h2>
  <a class="p-button" href="/admin/{{ store.id }}/snaps/manage">Manage snaps</a>
</div>

<table class="p-table--mobile-card">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latest release</th>
      <th>Collaborators</th>
    </tr>
  </thead>
  <tbody>
    {% for snap in snaps %}
      <tr>
        <td aria-label="Name">
          {% if snap.store == 'ubuntu' and not snap.private %}
            <a href="/{{ snap.name }}">
          {% endif %}
          {{ snap.name }}
          {% if snap.store == 'ubuntu' and not snap.private %}
            </a>
          {% endif %}
        </td>
        <td aria-label="Latest release">
          {% if snap["latest-release"].channel %}
            <div>
              <div>
                latest/{{ snap["latest-release"].channel }} {{ snap["latest-release"].version }}
              </div>
              <div>
                <small>{{ format_date(snap["latest-release"].timestamp, "%d %B %Y") }}</small>
              </div>
            </div>
          {% else %}
            -
          {% endif %}
        </td>
        <td aria-label="Collaborators">
          {% for user in snap.users %}
            {{ user.displayname }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
