{% set current_tab = "members" %}

{% extends "/admin/admin_layout.html" %}

{% block meta_title %}Manage members in {{ store.name }} | Snapcraft{% endblock %}

{% block admin_content %}

<div class="row u-no-padding--left u-no-padding--right" style="margin-bottom: 1.2rem; max-width: 100%;">
  <div class="col-8
  ">
    <nav class="p-tabs">
      <ul class="p-tabs__list u-no-margin--bottom">
        <li class="p-tabs__item" role="presentation">
          <a href="/admin/{{ store.id }}/members" class="p-tabs__link" role="tab" aria-selected="true">
            Members
          </a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/admin/{{ store.id }}/members/invites" class="p-tabs__link" role="tab">
            Invites
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<p style="max-width: 320px;">
  <label for="filter-members" class="u-off-screen">Search for user</label>
  <input type="text" name="filter-members" id="filter-members" placeholder="Search" style="min-width: 0;">
</p>

<table id="members-table" class="p-table--mobile-card">
  <thead>
    <tr>
      <th style="width: 25%;">Users ({{ members|length }})</th>
      <th style="width: 35%;">Email</th>
      {% for role in store.roles %}
      <th>
        {{ role.label }}
        <span class="p-tooltip--top-right" aria-describedby="{{ role.role }}-tooltip">
          <i class="p-icon--information" title="{{ role.description }}">Role description</i>
        </span>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <td aria-label="Name" class="p-table__cell--icon-placeholder u-truncate p-table__cell--icon-placeholder">
        <i class="p-icon--user u-hide--small"></i> {{ member.displayname }}
      </td>
      <td aria-label="Email">{{ member.email }}</td>
      {% for role in store.roles %}
      <td aria-label="{{ role.role }}">
        <label class="custom-checkbox">
          <input type="checkbox" aria-labelledby="role-{{ role.role }}" class="custom-checkbox__input js-role-checkbox" {% if role.role in member.roles %}checked{% endif %} name="{{ role.role }}" data-member-email="{{ member.email }}">
          <span class="custom-checkbox__box"></span>
          <span class="custom-checkbox__label u-hide">{{ role.label }}</span>
        </label>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>

<form id="manage-members-form" method="post">
  <input type="hidden" name="members" id="members" value="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="u-align--right">
    <button type="submit" class="p-button--positive js-save-button" disabled>Save changes</button>
  </div>
</form>
{% endblock %}

{% block scripts_includes %}
<script src="{{ static_url('js/dist/manage-members.js') }}" defer></script>
{% endblock %}

{% block scripts %}
<script>
  window.addEventListener("DOMContentLoaded", function () {
    snapcraft.public.manageMembers.initManageMembersTable({{ members | safe }}, {{ store.roles | safe }});
  });
</script>
{% endblock %}
