{% set current_tab = "members" %}

{% extends "/admin/admin_layout.html" %}

{% block meta_title %}Admin | Snapcraft{% endblock %}

{% block admin_content %}

<div class="l-application__header">
  <h2 class="p-heading--4">Manage members</h2>
</div>

<form id="manage-members-form" method="post">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        {% for role in store.roles %}
        <th>
          {{ role.label }}
          <span class="p-tooltip--top-right" aria-describedby="{{ role.role }}-tooltip">
            <i class="p-icon--information" title="{{ role.description }}">Role description</i>
          </span>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td>{{ member.displayname }}</td>
        {% for role in store.roles %}
        <td>
          <label class="p-checkbox u-no-padding--top">
            <input type="checkbox" aria-labelledby="role-{{ role.role }}" class="p-checkbox__input js-role-checkbox" {% if role.role in member.roles %}checked{% endif %} name="{{ role.role }}" data-member-email="{{ member.email }}">
            <span class="p-checkbox__label u-hide">{{ role.label }}</span>
          </label>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <input type="hidden" name="members" id="members" value="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit" class="p-button--positive js-save-button" disabled>Save</button>
</form>

<script>
  const membersData = {{ members | safe }};
  const manageMembersForm = document.getElementById("manage-members-form");
  const saveButton = manageMembersForm.querySelector(".js-save-button")
  const roleCheckboxes = Array.prototype.slice.call(
    manageMembersForm.querySelectorAll(".js-role-checkbox")
  );

  const newData = membersData.map(function(data) {
    return Object.assign({}, data);
  });

  roleCheckboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function(e) {
      const target = e.target;
      const role = e.target.name;

      const member = newData.find(function(data) {
        return data.email === target.dataset.memberEmail;
      });

      const originalMember = membersData.find(function(data) {
        return data.email === target.dataset.memberEmail;
      });

      if (checkbox.checked && !member.roles.includes(role)) {
        member.roles = member.roles.concat(role);
      }

      if (!checkbox.checked && member.roles.includes(role)) {
        member.roles = member.roles.filter(function(data) {
          return data !== role;
        });
      }

      if (
        JSON.stringify(member.roles.sort()) !==
        JSON.stringify(originalMember.roles.sort()))
      {
        member.dirty = true;
      } else {
        member.dirty = false;
      }

      const dirtyState = newData.filter(function(data) {
        return data.dirty;
      });

      saveButton.disabled = !dirtyState.length;
    });
  });

  manageMembersForm.addEventListener("submit", function(e) {
    e.preventDefault();

    const form = e.target;
    const membersField = manageMembersForm.querySelector("#members");
    const dirtyData = newData.filter(function(data) {
      return data.dirty;
    });

    membersField.value = JSON.stringify(dirtyData.map(function(data) {
      return {
        email: data.email,
        roles: data.roles
      };
    }));

    form.submit();
  });
</script>

{% endblock %}

