{% set current_tab = "snaps" %}

{% extends "/admin/admin_layout.html" %}

{% block meta_title %}Manage snaps in {{ store.name }} | Snapcraft{% endblock %}

{% block admin_content %}

<a class="l-application__back-link" href="/admin/{{ store.id }}/snaps">&lsaquo;&nbsp;Back to snaps</a>
<div class="l-application__header">
  <h2 class="l-application__heading p-heading--4">Manage snaps</h2>
</div>

<table class="p-table--mobile-card" id="snaps-table">
  <thead>
    <tr>
      <th>Published in</th>
      <th width="34">&nbsp;</th>
      <th>Name</th>
      <th>Latest release</th>
      <th>Collaborators</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="{{ snaps | length }}" aria-label="Published in">{{ store.name }}</td>
      <td aria-label="Add or remove">
        <label class="p-checkbox">
          <input type="checkbox" aria-labelledby="add-or-remove" class="p-checkbox__input u-no-margin--top" data-snap-name="{{ snaps[0].name }}" checked>
          <span class="p-checkbox__label u-hide" id="add-or-remove">Add or remove snap</span>
        </label>
      </td>
      <td aria-label="Name">{{ snaps[0].name }}</td>
      <td aria-label="Latest release">
        {% if snaps[0]["latest-release"].channel %}
          <div>
            <div>
              latest/{{ snaps[0]["latest-release"].channel }} {{ snaps[0]["latest-release"].version }}
            </div>
            <div>
              <small>{{ format_date(snaps[0]["latest-release"].timestamp, "%d %B %Y") }}</small>
            </div>
          </div>
        {% endif %}
      </td>
      <td aria-label="Collaborators">
        {% for user in snaps[0].users %}
          {{ user.displayname }}
        {% endfor %}
      </td>
    </tr>
    {% for snap in snaps %}
      {% if loop.index > 1 %}
        <tr>
          <td aria-label="Add or remove">
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="add-or-remove" class="p-checkbox__input u-no-margin--top" data-snap-name="{{ snap.name }}" checked>
              <span class="p-checkbox__label u-hide" id="add-or-remove">Add or remove snap</span>
            </label>
          </td>
          <td aria-label="Name">{{ snap.name }}</td>
          <td aria-label="Latest release">
            {% if snap["latest-release"].channel %}
              <div>
                <div>
                  latest/{{ snap["latest-release"].channel }} {{ snap["latest-release"].version }}
                </div>
                <div>
                  <small>{{ format_date(snap["latest-release"].timestamp, "%d %B %Y") }}</small>
                </div>
              </div>
            {% else %}
              -
            {% endif %}
          </td>
          <td aria-label="Collaborators">
            {% for user in snap.users %}
              {{ user.displayname }}{% if not loop.last %},{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<hr>

<form id="manage-snaps-form" method="post">
  <input type="hidden" name="snaps" id="snaps" value="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="u-align--right">
    <button type="submit" class="p-button--positive js-save-button" disabled>Save changes</button>
  </div>
</form>

{% endblock %}

{% block scripts_includes %}
<script src="{{ static_url('js/dist/manage-snaps.js') }}" defer></script>
{% endblock %}

{% block scripts %}
<script>
  window.addEventListener("DOMContentLoaded", function () {
    snapcraft.public.manageSnaps.updateSnaps();
  });
</script>
{% endblock %}
