{% set current_tab = "members" %}

{% extends "/admin/admin_layout.html" %}

{% block meta_title %}Members in {{ store.name }} | Snapcraft{% endblock %}

{% block admin_content %}

<div class="l-application__header">
  <h2 class="p-heading--4">Members</h2>
  <a class="p-button" href="/admin/{{ store.id }}/members/manage">Manage members</a>
</div>
<table class="p-table--mobile-card">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Access</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <td aria-label="Name" rowspan="1">{{ member.displayname }}</td>
      <td aria-label="Email" rowspan="1">{{ member.email }}</td>
      <td aria-label="Access">{% for r in member.roles %}{{ r | capitalize }}{{ ", " if not loop.last }}{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

