{% set current_tab = "snaps" %}

{% extends "/admin/admin_layout.html" %}

{% block meta_title %}Manage snaps in {{ store.name }} | Snapcraft{% endblock %}

{% block admin_content %}
<div class="l-application__header">
  <h2 class="p-heading--four">Snaps in {{ store.name }}</h2>
  <div style=" align-items: space-between; display: flex;">
    <div style="margin-right: 1rem;">
      <label for="snaps-filter" class="u-off-screen">Filter snaps</label>
      <input type="text" class="u-no-margin--bottom" name="snaps-filter" placeholder="Filter snaps" data-js-snaps-filter autocomplete="off">
    </div>
    {% if "admin" in member["roles"] %}
    <button class="p-button--neutral u-no-margin--bottom" data-js-open-side-panel-btn>
      <i class="p-icon--plus"></i>
      <span>Add snap</span>
    </button>
    {% endif %}
  </div>
</div>

{% if "admin" in member["roles"] %}
<div class="p-side-panel" data-js-side-panel>
  <div class="p-side-panel__inner">
    <h4>Add a snap to {{ store.name }}</h4>
    <div class="p-search">
      <input type="search" autocomplete="off" id="autoComplete" class="u-no-margin--bottom" data-js-snaps-search placeholder="Search available snaps">
    </div>
    <div class="p-search__selections" data-js-snaps-to-add></div>
    <div class="u-align--right p-side-panel__actions">
      <form action="/admin/{{ store.id }}/snaps/manage" method="post" data-js-add-snaps-form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="snaps" id="snaps" value="">
        <button type="button" class="p-button--neutral" data-js-close-side-panel-btn>Cancel</button>
        <button type="submit" class="p-button--positive u-no-margin--right" data-js-add-snaps-button disabled>Add snap</button>
      </form>
    </div>
  </div>
</div>
{% endif %}

<table class="p-table--mobile-card" data-js-snaps-table>
  <thead>
    <tr>
      <th style="width: 15%;">Published in</th>
      <th style="width: 25%;">Name</th>
      <th style="width: 20%;">Latest release</th>
      <th>Release date</th>
      <th>Publisher</th>
      {% if "admin" in member["roles"] %}
      <th style="width: 5%;">&nbsp;</th>
      {% endif %}
    </tr>
  </thead>
  <tbody data-js-snaps-table-body>
  </tbody>
</table>

<template data-js-snaps-table-row>
  <tr>
    <td aria-label="Published in" class="u-truncate" data-js-published-store></td>
    <td aria-label="Name" class="u-truncate" data-js-store-name></td>
    <td aria-label="Latest release" class="u-truncate">
      <div data-js-latest-release-version></div>
    </td>
    <td aria-label="Release date">
      <div data-js-latest-release-date></div>
    </td>
    <td aria-label="Publisher" data-js-collaborators></td>
    {% if "admin" in member["roles"] %}
    <td aria-label="Actions" class="u-align--right" style="overflow: visible;" data-js-actions>
      <form action="/admin/{{ store.id }}/snaps/manage" method="post" data-js-remove-snap-form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="snaps" value="">
        <span class="p-tooltip--left" data-js-remove-snap-tooltip>
          <button class="p-button--base u-no-margin--bottom u-no-margin--right u-no-padding u-hide--small" data-js-remove-snap-button disabled>
            <i class="p-icon--delete">Delete</i>
          </button>
          <button class="p-button--neutral u-no-margin--bottom u-no-margin--right u-hide--medium u-hide--large" style="display: block; width: 100%;" data-js-remove-snap-button disabled>
            Delete
          </button>
          <span class="p-tooltip__message" role="tooltip">You can only remove snaps from other stores</span>
        </span>
      </form>
    </td>
    {% endif %}
  </tr>
</template>

<template data-js-snap-to-add>
  <div class="p-search__selection">
    <div data-js-snap-name></div>
    <div>
      <small data-js-snap-owner></small>
      <small class="u-text-muted">|</small>
      <small data-js-snap-store></small>
    </div>
    <button type="button" class="p-search__selection-delete p-button--base is-dense" data-js-remove-snap>
      <i class="p-icon--delete"></i>
    </button>
  </div>
</template>
{% endblock %}

{% block scripts_includes %}
<script src="{{ static_url('js/dist/manage-snaps.js') }}" defer></script>
{% endblock %}

{% block scripts %}
<script>
  window.addEventListener("DOMContentLoaded", function () {
    Raven.context(function () {
      snapcraft.public.manageSnaps.init(
        {{ snaps | safe }},
        {{ store_json | safe }},
        {{ other_stores_data | safe }},
        {% if "admin" in member["roles"] %}true{% endif %}
      );

      const sidePanel = document.querySelector("[data-js-side-panel]");

      if (sidePanel) {
        const openSidePanelButton = document.querySelector("[data-js-open-side-panel-btn]");
        const closeSidePanelButton = document.querySelector("[data-js-close-side-panel-btn]");

        const snapsSearchField = document.querySelector("[data-js-snaps-search]");
        const snapsToAdd = document.querySelector("[data-js-snaps-to-add]");
        const addSnapsSubmitButton = document.querySelector("[data-js-add-snaps-button]")

        openSidePanelButton.addEventListener("click", () => {
          sidePanel.classList.add("p-side-panel--open");
        });

        closeSidePanelButton.addEventListener("click", () => {
          sidePanel.classList.remove("p-side-panel--open");
          snapsSearchField.value = "";
          snapsToAdd.innerHTML = "";
          addSnapsSubmitButton.disabled = true;
        });
      }
    });
  });
</script>
{% endblock %}


