domain: limenet.snapcraft.io

image: prod-comms.docker-registry.canonical.com/limenet.snapcraft.io

env:
  - name: WEBAPP
    value: limenet

useProxy: false

memoryLimit: 512Mi

production:
  replicas: 5
  nginxConfigurationSnippet: |
    more_set_headers "Link: <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>; rel=preconnect";

# Overrides for staging
staging:
  replicas: 3
  nginxConfigurationSnippet: |
    more_set_headers "X-Robots-Tag: noindex";
    more_set_headers "Link: <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>; rel=preconnect";
