<div id='js-channel-map' class="p-strip--light p-channel-map is-closed">
  <button class="p-channel-map__hide p-icon--close js-hide-channel-map" aria-label="Hide all versions">Hide</button>
  <div class="row">
    <h2 class="p-heading--four">Install {{ snap_title }} <small><span class="channel">latest stable</span> (<span class="version">{{ version }}</span>)</small></h2>
  </div>
  <div class="row p-channel-map__tab is-open" id="channel-map-tab-install">
    <div class="col-5">
      <p>Ubuntu 16.04 or later?</p>
      <button data-snap="{{ package_name }}" class="js-open-snap-button p-view-store-button">View in Desktop store</button>
      <p class="p-form-help-text">Make sure <a href="https://docs.snapcraft.io/core/install">snap support</a> is enabled in your Desktop store.</p>
    </div>
    <div class="col-5">
      <p>Install with snapd</p>
      <div class="p-code-snippet p-cli-install">
        <input
          class="p-code-snippet__input"
          id="snap-install"
          value="sudo snap install {{ package_name }}{% if default_channel != 'stable' %} --channel {{default_channel}}{% endif %}"
          readonly="readonly"
        />
        <button
          class="p-code-snippet__action js-clipboard-copy"
          data-clipboard-target="#snap-install">
          Copy to clipboard
        </button>
      </div>
      <p class="p-form-help-text">
        Don't have snapd? <a href="https://docs.snapcraft.io/core/install">Get set up for snaps</a>.
      </p>
    </div>
  </div>
</div>
<div class="p-channel-map-overlay" style="display: none"></div>
