<div class="row p-form__group">
  <div class="col-2" data-tour="listing-category">
    <label class="p-form__label">Category:</label>
  </div>
  <div class="col-4">
    <div class="p-form__control" data-tour="listing-category">
      <select
        name="primary_category"
        {% if snap_categories.categories[0] %}
        value="{{ snap_categories.categories[0] }}"
        {% endif %}
        {% if snap_categories.locked or not categories %} disabled="disabled"{% endif %}
        >
        <option value="">Select category</option>
        {% for category in categories %}
        <option
          value="{{ category.slug }}"
          {% if snap_categories.categories[0] and (snap_categories.categories[0] == category.slug) %}
          selected="selected"
          {% endif %}
          >{{ category.name }}</option>
        {% endfor %}
        <option value="">None</option>
      </select>
    </div>
  </div>
  <div class="col-12" data-tour="listing-category">
    <div class="js-categories-category1-help-text row {% if snap_categories.categories[0] %}u-hide{% endif %}">
      <div class="col-8 col-start-large-3">
        <p class="p-form-help-text">
          {% if not categories %}
          <i class="p-icon--warning"></i>
          There has been a problem obtaining the available categories, please try again later.
          {% else %}
          Include a category and your snap will be better ranked within the Snap Store.
          It will also allow users to discover your snap via browsing the available categories.
          {% endif %}
        </p>
      </div>
    </div>

    <div class="js-categories-category2-add row {% if not snap_categories.categories[0] or snap_categories.categories[1] %}u-hide{% endif %}">
      <div class="col-8 col-start-large-3">
        <p><a class="js-categories-category2-add-link">+ Add another category</a></p>
        <p class="p-form-help-text">
          If your snap fits into multiple categories you can select another.
        </p>
      </div>
    </div>

    <div class="js-categories-category2-picker row {% if not snap_categories.categories[1] %}u-hide{% endif %}">
      <div class="col-2">
        <label>Second category:</label>
      </div>
      <div class="col-4">
        <select
          name="secondary_category"
          {% if snap_categories.categories[1] %}
          value="{{ snap_categories.categories[1] }}"
          {% endif %}
          {% if snap_categories.locked %} disabled="disabled"{% endif %}
          >
          <option value="">Select category</option>
          {% for category in categories %}
          <option
            value="{{ category.slug }}"
            {% if snap_categories.categories[1] and (snap_categories.categories[1] == category.slug) %}
            selected="selected"
            {% endif %}
            {% if snap_categories.categories[0] and category.slug == snap_categories.categories[0] %}
            disabled="disabled"
            {% endif %}
            >{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <p>
          <a class="js-categories-category2-remove">
            <i class="p-icon--delete"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
