<div class="row p-form__group p-form-validation {% if field_errors and field_errors['description'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-description">
    <label class="p-form__label">Description: </label>
  </div>
  <div class="col-8">
    <div class="p-form__control">
      <textarea data-tour="listing-description" class="p-form-validation__input" name="description" rows="10" required>{{ description }}</textarea>
      {% if field_errors and field_errors['description'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['description'] }}
      </p>
      {% endif %}
       <p class="p-form-help-text u-no-margin--bottom">
           <a href="" class="js-toggle-markdown">Show supported markdown syntax</a>
       </p>
       <div class="row js-markdown u-hide">
         <div class="col-4">
           <p><small>
               <b>Bold:</b> <code>**Foo**</code>
           </small></p>
           <p><small>
               <b>URLs:</b> <code>https://foo.bar</code>
           </small></p>
           <p class="u-no-margin--bottom"><small>
               <b>Lists:</b> <code>* Foo</code>
           </small></p>
         </div>
         <div class="col-4">
           <p><small>
               <b>Italics:</b> <code>_Foo_</code>
           </small></p>
           <p><small>
               <b>Code:</b> Text indented with 3 spaces or inside <code>`</code>
           </small></p>
         </div>
       </div>
    </div>
  </div>
</div>
