<div class="row p-form__group p-form-validation {% if field_errors and field_errors['donations'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-donations">
    <label for="developer-website" class="p-form__label">Donations:</label>
  </div>
  <div class="col-8" >
    <div class="p-form__control" data-tour="listing-donations">
      <input
        class="p-form-validation__input"
        id="donations"
        type="url"
        name="donations"
        value=""
        maxlength="256"
        placeholder="https://paypal.me" />
      {% if field_errors and field_errors['donations'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['donations'] }}
      </p>
      {% endif %}
      <p class="p-form-help-text">
        Please include a valid http:// or https:// link
      </p>
    </div>
  </div>
</div>
