<div class="row p-form__group p-form-validation {% if field_errors and field_errors['issues'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-issues">
    <label for="developer-website" class="p-form__label">Issues:</label>
  </div>
  <div class="col-8" >
    <div class="p-form__control" data-tour="listing-issues">
      <input
        class="p-form-validation__input"
        id="issues"
        type="url"
        name="issues"
        value=""
        maxlength="256"
        placeholder="https://github.com/username/repo/issues/new" />
      {% if field_errors and field_errors['issues'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['issues'] }}
      </p>
      {% endif %}
      <p class="p-form-help-text">
        Please include a valid http:// or https:// link
      </p>
    </div>
  </div>
</div>
