<div class="row p-form__group">
  <div class="col-2">
    <label class="p-form__input">License:</label>
  </div>
  <div class="col-8">
    <div class="p-form__control">
      <input type="hidden" name="license" value="{{ license }}" />
      <input type="radio" name="license-type" value="simple" id="license-simple-option" {% if license_type == 'simple' %}checked="checked"{% endif %} />
      <label for="license-simple-option">Simple</label>
      <div class="js-license p-multiselect__wrapper" {% if license_type != 'simple' %}style="display: none;"{% endif %} id="license-simple-input">
        <input type="text" class="js-multiselect-input" name="license-simple" value="{% if license_type == 'simple' %}{{ license }}{% endif %}" />
        <div class="js-multiselect-holder"></div>
        <p class="p-form-help-text u-no-margin">The license(s) under which you will release your snap.<br />Multiple licenses can be selected to indicate alternative choices.</p>
      </div>
      <input type="radio" name="license-type" value="custom" id="license-custom-option" {% if license_type == 'custom' %}checked="checked"{% endif %} />
      <label for="license-custom-option" style="margin-bottom: 1.2rem;">Custom SPDX expression</label>
      <textarea
        type="text"
        id="license-custom-input"
        name="license-custom"
        {% if license_type != 'custom' %}style="display: none;"{% endif %}
        >{{ license }}</textarea>
      <p class="p-form-help-text">Visit <a  href="https://spdx.org/spdx-specification-21-web-version#h.jxpfx0ykyb60" target="_blank">SPDX Specification 21</a> for more information.</p>
    </div>
  </div>
</div>
