<div class="row p-form__group">
  <div class="col-2">
    <label class="p-form__input">Metrics:</label>
  </div>
  <div class="col-8">
    <div class="p-form__control">
      <input
        type="checkbox"
        name="public_metrics_enabled"
        id="public-metrics-enabled"
        {% if public_metrics_enabled %}
        checked="checked"
        {% endif %}
        />
      <label class="p-tooltip p-tooltip--top-left" for="public-metrics-enabled">Display public popularity charts
        <span class="p-tooltip__message">These display relative popularity, not exact numbers.</span>
      </label>
      <div class="p-nested-inputs">
        <div>
          <input
            type="checkbox"
            name="public_metrics_territories"
            id="public-metrics-territories"
            {% if not contains(public_metrics_blacklist, 'installed_base_by_country_percent') %}
            checked="checked"
            {% endif %}
            {% if not public_metrics_enabled %}
            disabled="disabled"
            {% endif %}
            />
          <label for="public-metrics-territories">World map <span class="p-form-help-text">Displays where your snap is being used by country</span></label>
        </div>
        <div>
          <input
            type="checkbox"
            name="public_metrics_distros"
            id="public-metrics-distros"
            {% if not contains(public_metrics_blacklist, 'weekly_installed_base_by_operating_system_normalized') %}
            checked="checked"
            {% endif %}
            {% if not public_metrics_enabled %}
            disabled="disabled"
            {% endif %}
            />
          <label for="public-metrics-distros">Linux distributions <span class="p-form-help-text">Displays where your snap is being used by distro</span></label>
        </div>
        <input
          type="hidden"
          name="public_metrics_blacklist"
          {% if public_metrics_blacklist|length > 0 %}
        value="{{ join(public_metrics_blacklist, ',')}}"
        {% endif %}
        />
      </div>
    </div>
  </div>
</div>
