<div class="row p-form__group">
  {% if field_errors and field_errors['screenshots'] %}
  <div class="u-fixed-width">
    <div class="p-notification--negative">
      <div class="p-notification__content">
        <p class="p-notification__message">
          <strong>Images:</strong> {{ field_errors['screenshots'] }}
        </p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row p-form__group p-form__group--top" data-validation-name="screenshots">
  <div class="col-2" data-tour="listing-images">
    <label class="p-form__label">Images:</label>
  </div>
  <div class="col-8" data-tour="listing-images">
    <div class="p-form__control js-media-holder">
      <i class="p-icon--spinner u-animation--spin"></i>
    </div>
  </div>
</div>
