<div class="row p-form__group p-form-validation {% if field_errors and field_errors['source-code'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-source-code">
    <label for="developer-website" class="p-form__label">Source code:</label>
  </div>
  <div class="col-8" >
    <div class="p-form__control" data-tour="listing-source-code">
      <input
        class="p-form-validation__input"
        id="source-code"
        type="url"
        name="source-code"
        value=""
        maxlength="256"
        placeholder="https://github.com/username/repo" />
      {% if field_errors and field_errors['source-code'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['source-code'] }}
      </p>
      {% endif %}
      <p class="p-form-help-text">
        Please include a valid http:// or https:// link
      </p>
    </div>
  </div>
</div>
