<div class="row p-form__group p-form-validation {% if field_errors and field_errors['title'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-title">
    <label for="snap-title" class="p-form__label">Title:</label>
  </div>
  <div class="col-8">
    <div class="p-form__control">
      <input data-tour="listing-title" class="p-form-validation__input" id="snap-title" type="text" name="title" value="{{ snap_title }}" required maxlength="40"/>
      {% if field_errors and field_errors['title'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['title'] }}
      </p>
      {% endif %}
    </div>
  </div>
</div>
