<div class="row p-form__group p-form-validation {% if field_errors and field_errors['video_urls'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-video">
    <label for="video" class="p-form__label">Video:</label>
  </div>
  <div class="col-8">
    <div class="p-form__control" data-tour="listing-video">
      <input
        class="p-form-validation__input"
        type="text"
        name="video_urls"
        value="{{ video_urls[0] }}"
        id="video"
      />
      {% if field_errors and field_errors['video_urls'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['video_urls'] }}
      </p>
      {% endif %}
      <p class="p-form-help-text">
        Vimeo, YouTube or asciinema URL
      </p>
    </div>
  </div>
</div>
