<div class="row p-form__group p-form-validation {% if field_errors and field_errors['website'] %}is-error{% endif %}">
  <div class="col-2" data-tour="listing-contact">
    <label for="developer-website" class="p-form__label">Developer website:</label>
  </div>
  <div class="col-8" >
    <div class="p-form__control" data-tour="listing-contact">
      <input
        class="p-form-validation__input"
        id="developer-website"
        type="url"
        name="website"
        value="{{ website }}"
        maxlength="256"
        placeholder="https://snapcraft.io" />
      {% if field_errors and field_errors['website'] %}
      <p class="p-form-validation__message">
        <strong>Error:</strong> {{ field_errors['website'] }}
      </p>
      {% endif %}
      <p class="p-form-help-text">
        Please include a valid http:// or https:// link
      </p>
    </div>
  </div>
</div>
