{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}Blog | Snapcraft{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1YWhw_DlbXrq9CBUtMgjzlzZds0_m8xr-MZlXpXkMvIQ/edit{% endblock %}

{% block content %}

<section id="main-content" class="p-strip--image is-shallow snapcraft-banner-background">
  <div class="row">
    <div class="col-10">
      <h2 class="u-no-margin--bottom">Blog</h2>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  {% if categories %}
    <div class="row u-align--right">
      <form class="p-form p-form--inline" data-js="filterForm" method="get">
        <div class="p-form__group">
          <label class="p-form__label" for="filter" aria-label="Filter posts by category">Filter:</label>
          <select id="filter" name="filter" class="p-form__control" name="filter">
            <option value="all">All</option>
            {% for category in categories %}
              <option value="{{ category.name.lower() }}"{% if filter == category.name.lower() %} selected="selected"{% endif %}>
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  {% endif %}
  </div>
  <div class="row u-equal-height u-clearfix">
  {% for article in articles %}
    {% if (loop.index - 1) % 3 == 0 and loop.index > 1 %}
      </div>
      <div class="row u-equal-height u-clearfix">
    {% endif %}

    {% include 'partials/blog-card.html' %}
  {% endfor %}
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="p-inline-list--middot u-align--center" style="margin-bottom: 1rem;">
        {% if current_page > 1 %}
          <li class="p-inline-list__item"><a href="/blog?page={{ current_page - 1 }}">Previous</a></li>
        {% endif %}

        {# always show 5 pages in pagination #}
        {% if current_page > 4 and current_page == total_pages %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page - 4 }}">{{ current_page - 4 }}</a></li>
        {% endif %}

        {% if current_page > 3 and current_page >= total_pages - 1 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page - 3 }}">{{ current_page - 3 }}</a></li>
        {% endif %}

        {% if current_page > 2 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page - 2 }}">{{ current_page - 2 }}</a></li>
        {% endif %}

        {% if current_page > 1 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page - 1 }}">{{ current_page - 1 }}</a></li>
        {% endif %}

        <!-- current page -->
        <li class="p-inline-list__item"><a class="p-link--strong p-heading--five" href="/blog?page={{ current_page }}"><b>{{ current_page}}</b></a></li>

        {% if current_page < total_pages %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page + 1 }}">{{ current_page + 1 }}</a></li>
        {% endif %}

        {% if current_page < total_pages - 1 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page + 2 }}">{{ current_page + 2 }}</a></li>
        {% endif %}

        {% if current_page < total_pages - 2 and current_page <= 2 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page + 3 }}">{{ current_page + 3 }}</a></li>
        {% endif %}

        {% if current_page < total_pages - 3 and current_page == 1 %}
          <li class="p-inline-list__item"><a class="p-link--soft" href="/blog?page={{ current_page + 4 }}">{{ current_page + 4 }}</a></li>
        {% endif %}

        {% if current_page != total_pages %}
          <li class="p-inline-list__item"><a href="/blog?page={{ current_page + 1 }}">Next</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
  <script>
    Raven.context(function () {
      var filter = document.getElementById('filter');
      var filterForm = document.querySelector('[data-js="filterForm"]');
      filter.addEventListener('change', function(e) {
        filterForm.submit();
      });
    });
  </script>
{% endblock %}
