{% set page_slug="tutorials" %}

{% extends "_layout.html" %}

{% block meta_title %}Tutorials | Snapcraft{% endblock %}

{% block content %}

<section class="p-strip--image is-shallow snapcraft-banner-background">
  <div class="row">
    <div class="col-10">
      <h2 class="u-no-margin--bottom">Tutorials</h2>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    {% for item in tutorials %}
        <div class="col-4 col-medium-3 p-card">
          <div class="p-card__content">
            <h3 class="p-heading--4">
              <a href="{{ item.link }}">{{ item.title | safe | truncate(50, true) }}</a>
            </h3>
            <p>{{ item.summary | safe }}</p>
          </div>
          <p>Difficulty: <span class="p-tutorials-meter p-tutorials-meter--{{ item.difficulty }}">{{ item.difficulty }} out of 5</span></p>
        </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
