{% extends "_layout.html" %}

{% block title %}Tutorials{% endblock %}

{% block content %}

{% if page == 1 %}
<section class="p-strip--image is-shallow snapcraft-banner-background">
  <div class="row">
    <div class="col-10">
      <h2 class="u-no-margin--bottom">Tutorials</h2>
    </div>
  </div>
</section>
{% endif %}

<!-- <section class="p-strip is-shallow">
  <div class="row">
    <div class="col-4">
      <div class="p-form__group">
        <label for="tutorials-topic">Topic:</label>
        <select name="tutorials-topic" id="tutorials-topic" class="u-no-margin--bottom">
          <option value="">Any</option>
          <option value="cloud">Cloud</option>
          <option value="community">Community</option>
          <option value="containers">Containers</option>
          <option value="desktop">Desktop</option>
          <option value="development">Development</option>
          <option value="iot">IoT</option>
          <option value="packaging">Packaging</option>
          <option value="server">Server</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="p-form__group">
        <label for="tutorials-sort">Sorted by:</label>
        <select name="tutorials-sort" id="tutorials-sort" class="u-no-margin--bottom">
          <option value="difficulty-asc">Least difficult</option>
          <option value="difficulty-desc">Most difficult</option>
        </select>
      </div>
    </div>
  </div>
</section> -->

<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    {% for item in metadata %}
      {% if loop.index <= posts_per_page * page and loop.index >= posts_per_page * page - posts_per_page + 1 %}
        <div class="col-4 col-medium-3 p-card">
          <header>
            <h5 class="p-muted-heading u-no-margin--bottom">
              {{ item.categories }}
            </h5>
          </header>
          <div class="p-card__content">
            <h3 class="p-heading--three u-no-margin--top u-no-margin--bottom">
              {{ item.topic | replace("inline-onebox", "p-link--soft") | safe }}
            </h3>
            <p class="u-sv3">{{ item.summary | safe }}</p>
          </div>
          <footer>
            Difficulty: <span class="l-tutorials-meter l-tutorials-meter--{{ item.difficulty }}">{{ item.difficulty }} out of 5</span>
          </footer>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="u-fixed-width">
    <ol class="p-pagination u-align--center">
      {% set current_page = page %}
      {% if current_page > 1 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link--previous" href="/tutorials?page={{ current_page - 1 }}" title="Previous page">
            <i class="p-icon--contextual-menu">Previous page</i>
          </a>
        </li>
      {% else %}
        <li class="p-pagination__item">
          <span class="p-pagination__link--previous is-disabled"><i class="p-icon--contextual-menu">Previous page</i></span>
        </li>
      {% endif %}

      {# always show 5 pages in pagination #}
      {% if current_page > 4 and current_page == total_pages %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page - 4 }}">{{ current_page - 4 }}</a>
        </li>
      {% endif %}

      {% if current_page > 3 and current_page >= total_pages - 1 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page - 3 }}">{{ current_page - 3 }}</a>
        </li>
      {% endif %}

      {% if current_page > 2 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page - 2 }}">{{ current_page - 2 }}</a>
        </li>
      {% endif %}

      {% if current_page > 1 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page - 1 }}">{{ current_page - 1 }}</a>
        </li>
      {% endif %}

      <!-- current page -->
      <li class="p-pagination__item">
        <a class="p-pagination__link is-active" href="/tutorials?page={{ current_page }}">{{ current_page }}</a>
      </li>

      {% if current_page < total_pages %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page + 1 }}">{{ current_page + 1 }}</a>
        </li>
      {% endif %}

      {% if current_page < total_pages - 1 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page + 2 }}">{{ current_page + 2 }}</a>
        </li>
      {% endif %}

      {% if current_page < total_pages - 2 and current_page <= 2 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page + 3 }}">{{ current_page + 3 }}</a>
        </li>
      {% endif %}

      {% if current_page < total_pages - 3 and current_page == 1 %}
        <li class="p-pagination__item">
          <a class="p-pagination__link" href="/tutorials?page={{ current_page + 4 }}">{{ current_page + 4 }}</a>
        </li>
      {% endif %}

      {% if current_page != total_pages %}
        <li class="p-pagination__item">
          <a class="p-pagination__link--next" href="/tutorials?page={{ current_page + 1 }}" title="Next page">
            <i class="p-icon--contextual-menu">Next page</i>
          </a>
        </li>
      {% else %}
        <li class="p-pagination__item">
          <span class="p-pagination__link--next is-disabled"><i class="p-icon--contextual-menu">Next page</i></span>
        </li>
      {% endif %}
    </ol>
  </div>
</section>

<script>
  (function() {
    var topicsFilter = document.getElementById('tutorials-topic');
    var sortFilter = document.getElementById('tutorials-sort');
    var urlObj = new URL(window.location);

    function handleFilter(key, el, url) {
      if (url.searchParams.has(key)) {
        el.value = url.searchParams.get(key);
      }

      el.addEventListener('change', function(e) {
        var value = e.target.value;

        if (url.searchParams.has('page')) {
          url.searchParams.delete('page');
        }

        if (value) {
          if (url.searchParams.has(key)) {
            url.searchParams.delete(key);
          }

          url.searchParams.append(key, value);
        } else {
          url.searchParams.delete(key);
        }

        window.location = url;
      });
    }

    handleFilter('topic', topicsFilter, urlObj);
    handleFilter('sort', sortFilter, urlObj);
  })();
</script>

{% endblock %}
