{% extends "_layout.html" %}

{% block meta_copydoc %}{% endblock %}

{% block meta_title %}
IoT Snaps
{% endblock %}

{% block meta_description %}
Transactional updates, airtight security, and compatibility across architectures and operating systems. Explore the IoT snaps that are available on the Snap Store.
{% endblock %}

{% block content %}
<section id="main-content" class="p-strip is-deep">
  <div class="row">
    <div class="col-9 col-start-large-4">
      <div class="p-strip u-no-padding--top">
        <h1 class="p-heading--2">
          <strong>IoT Snaps</strong>
        </h1>
        <p class="p-heading--2">Transactional updates, airtight security, and compatibility across architectures and operating systems make snaps a perfect solution for IoT. Explore the IoT snaps that are available on the Snap Store.</p>
      </div>
      <hr class="p-rule">
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-4">
      <p><a href="https://ubuntu.com/internet-of-things">Get started with IoT&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-3">
      <p><a href="/docs/creating-a-snap">Publish app with Snapcraft&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-3">
      <p>
        <a
          href="https://ubuntu.com/internet-of-things/contact-us?product=appstore"
          data-js="contact-form-trigger"
          data-formid="2639">
          Contact us&nbsp;&rsaquo;
        </a>
      </p>
  </div>
</section>

<div class="u-fixed-width"><hr class="p-rule"></div>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2">Devices</h2>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Resources</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Do more with your devices</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/blog/adopting-open-source-industrial-iot">Adopting open-source Industrial IoT software</a></p>
      <p><a href="https://ubuntu.com/tutorials/how-to-install-ubuntu-on-risc-v-hifive-boards#1-overview">How to install Ubuntu on RISC-V HiFive boards</a></p>
      <p><a href="https://mir-server.io/docs/make-a-secure-ubuntu-web-kiosk">Make a Secure Ubuntu Web Kiosk</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    {% for snap in devices %}
      <div class="col-6 col-medium-3">
        {% include "store/_media-object-snap-partial.html" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2"><a href="https://ubuntu.com/robotics">Robotics</a></h2>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Resources</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Discover our robotics solutions</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/blog/ubuntu-core-on-amd-kr260">AMD Kria™ KR260 Robotics Starter Kit and Ubuntu: an exploration into future robotics development</a></p>
      <p><a href="https://ubuntu.com/blog/ros-architectures-with-snaps">ROS architectures with snaps</a></p>
      <p><a href="https://ubuntu.com/tutorials/getting-started-with-ros-2">Getting Started with ROS 2</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    {% for snap in robotics %}
      <div class="col-6 col-medium-3">
        {% include "store/_media-object-snap-partial.html" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2"><a href="https://ubuntu.com/internet-of-things/smart-home">Smart home</a></h2>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Resources</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Start your next smart home project</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/tutorials/install-home-assistant-on-ubuntu-core-and-create-a-motion-activated-light-automation#1-overview">Install Home Assistant on Ubuntu Core and create a motion-activated light automation</a></p>
      <p><a href="https://ubuntu.com/blog/matter-on-ubuntu-getting-started">Matter on Ubuntu: getting started with the standard for smart home devices</a></p>
      <p><a href="https://ubuntu.com/internet-of-things/smart-home#get-in-touch">Sign up to receive smart home and IoT news</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    {% for snap in smart_home %}
      <div class="col-6 col-medium-3">
        {% include "store/_media-object-snap-partial.html" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2">Networking</h2>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Resources</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Learn more about our IoT offerings</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/engage/snapd-whitepaper">How to implement over-the-air updates</a></p>
      <p><a href="https://ubuntu.com/engage/embedded-linux-make-or-buy">Embedded Linux: Make or buy?</a></p>
      <p><a href="https://ubuntu.com/engage/top-five-iot-challenges">Top 5 IoT challenges and how to solve them</a></p>
      <p><a href="https://ubuntu.com/engage/a-practical-guide-to-iot-lifecycle-management">A practical guide to IoT lifecycle management</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    {% for snap in networking %}
      <div class="col-6 col-medium-3">
        {% include "store/_media-object-snap-partial.html" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-heading--2">Board images</h2>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Resources</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Follow our Raspberry Pi tutorials</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/tutorials/how-to-kubernetes-cluster-on-raspberry-pi#1-overview">How to build a Raspberry Pi Kubernetes cluster using MicroK8s</a></p>
      <p><a href="https://ubuntu.com/tutorials/how-to-sdcard-ubuntu-server-raspberry-pi#1-overview">How to create an Ubuntu Server SDcard for Raspberry Pi</a></p>
      <p><a href="https://ubuntu.com/tutorials/how-to-install-ubuntu-desktop-on-raspberry-pi-4">How to install Ubuntu Desktop on Raspberry Pi 4</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row">
    {% for snap in board_images %}
      <div class="col-6 col-medium-3">
        {% include "store/_media-object-snap-partial.html" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-muted-heading">Learn More</h3>
  </div>
  <div class="u-fixed-width">
    <hr class="p-rule">
  </div>
  <div class="row--50-50">
    <div class="col">
      <h4 class="p-heading--4">Get in touch about your next project</h4>
    </div>
    <div class="col">
      <p><a href="https://ubuntu.com/internet-of-things/contact-us?product=appstore">Contact us</a></p>
      <p>We are here to help. If you have a project you’d like support or advice on, contact us and our expert team can assist.</p>
      <p><a href="http://forum.snapcraft.io">Join the forum</a></p>
      <p>Talk to our engineers and the community using the snapcraft forum. All discussion is welcome.</p>
    </div>
  </div>
</section>

{% endblock %}
