{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}404: Page not found{% endblock %}

{% block content %}
<div class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>404: Aw, snap! We couldn't find that page</h2>
      <h4>Looking for a snap? Try searching:</h4>
      <h5>
        <p> Or try searching the <a href="https://forum.snapcraft.io">Snapcraft Forum</a> Snapcraft Forum or <a href="https://docs.snapcraft.io">Documentation</a> </p>
      </h5>
    </div>
  </div>
</div>
{% endblock %}
