{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}Maintenance mode enabled{% endblock %}

{% block content %}
<div class="p-strip">
  <div class="row">
    <div class="col-10">
      <h1>We're experiencing issues or doing maintenance</h1>
      <h2>Please try again later</h2>
      <p>You can check the service status at <a href="https://status.snapcraft.io">status.snapcraft.io</a>.</p>
      <p>If the problem persists please check the Snapcraft <a href="https://forum.snapcraft.io">forum</a> or <a href="https://github.com/canonical-web-and-design/snapcraft.io/issues/new">report an issue</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
