<footer class="p-footer p-strip--light p-sticky-footer">
  <div class="row">
    <div class="col-8">
      <nav class="p-footer__nav">
        <ul class="p-footer__links">
          <li class="p-footer__item">
            <a class="p-footer__link" href="#">Back to top<i class="p-icon--top"></i></a>
          </li>
        </ul>
      </nav>
      <p>
        &copy; 2018 Canonical Ltd. <br/>
        Ubuntu and Canonical are registered trademarks of Canonical Ltd.
        <br/>
        Powered by <a href="https://www.ubuntu.com/kubernetes">the Canonical Distribution of Kubernetes</a>
      <p>
        <small>
          <a
            class="p-link--external"
            href="https://forum.snapcraft.io/">Join the forum</a>, contribute to or report problems with,
          <a
            class="p-link--external"
            href="https://bugs.launchpad.net/snapd"
          >snapd</a>,
          <a
            class="p-link--external"
            href="https://bugs.launchpad.net/snapcraft"
          >Snapcraft</a>,
          or
          <a
            class="p-link--external"
            href="https://github.com/canonical-websites/snapcraft.io/issues"
          >this site</a>.
        </small>
      </p>
    </div>
    <div class="col-4">
       <ul class="p-inline-list--compact">
         <li class="p-inline-list__item">
           <a href="https://twitter.com/snapcraftio" class="p-social-icon--twitter">Share on Twitter</a>
         </li>
         <li class="p-inline-list__item">
           <a href="https://plus.google.com/+SnapcraftIo" class="p-social-icon--google">Share on Google plus</a>
         </li>
         <li class="p-inline-list__item">
           <a href="https://www.facebook.com/snapcraftio" class="p-social-icon--facebook">Share on Facebook</a>
         </li>
         <li class="p-inline-list__item">
           <a href="https://www.youtube.com/snapcraftio" class="p-social-icon--youtube">Share on YouTube</a>
         </li>
       </ul>
     </div>
  </div>
  <div class="row">
    <div class="col-12">
        <ul class="p-inline-list--middot u-no-margin--bottom">
            <li class="p-inline-list__item">
              <a class="p-link--soft" accesskey="8" href="https://www.ubuntu.com/legal"><small>Legal information</small></a>
            </li>
            <li class="p-inline-list__item">
              <a class="p-link--soft" accesskey="9" href="https://www.ubuntu.com/legal/data-privacy"><small>Data privacy</small></a>
            </li>
          </li>
          <li class="p-inline-list__item">
            <a class="p-link--soft" accesskey="9" href="https://status.snapcraft.io/"><small>Service status</small></a>
          </li>
          <li class="p-inline-list__item">
            <a class="p-link--soft" accesskey="9" href="https://dashboard.snapcraft.io/"><small>Other functions</small></a>
          </li>
          </ul>
    </div>
  </div>
</footer>
