<header id="navigation" class="p-navigation">
  <div class="row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/7f93bb62-snapcraft-logo--web-white-text.svg" alt="Snapcraft" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link" role="menuitem">
          <a
            {% if page_slug and page_slug == 'store' %} class="is-selected"{% endif %}
            href="/store">Store
          </a>
        </li>
        <li class="p-navigation__link" role="menuitem"><a href="https://build.snapcraft.io">Build</a></li>
        <li class="p-navigation__link" role="menuitem"><a href="/account">My snaps</a></li>
        <li class="p-navigation__link" role="menuitem"><a href="https://docs.snapcraft.io">Docs</a></li>
        <li class="p-navigation__link" role="menuitem"><a href="https://forum.snapcraft.io/categories">Forum</a></li>
      </ul>
      <ul class="p-navigation__links--right" role="menu">
        {% if user_name %}
          <li role="menuitem" class="p-navigation__link p-dropdown">
              <a class="p-dropdown__toggle" aria-controls="account-menu" aria-expanded="false">
                {{ user_name }} <i class="p-icon--chevron"></i>
              </a>
              <ul class="p-dropdown__menu u-hide" id="account-menu" aria-hidden="true">
                  <li class="p-navigation__link" role="menuitem">
                      <a href="/account/details">Account details</a>
                  </li>
                  <li class="p-navigation__link" role="menuitem">
                      <a href="/logout">Sign out</a>
                  </li>
              </ul>
          </li>
        {% else %}
          <li class="p-navigation__link" role="menuitem"><a href="/login">Sign in</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
