<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
      <meta property="og:title" content="{{ self.title() }}"/>
      <meta property="og:site_name" content="Snapcraft"/>
      <meta property="og:type" content="website"/>
      <meta property="og:description" content="Snaps are containerised software packages that are simple to create and install. They auto-update and are safe to run. And because they bundle their dependencies, they work on all major Linux systems without modification."/>
      <meta property="twitter:site" content="@snapcraftio" />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/minified/styles.css" />

    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/f5dbe897-snapcraft-favicon-16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/f2ee2c97-snapcraft-favicon.png" sizes="32x32" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KCGXHQS');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="has-sticky-footer">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCGXHQS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header id="navigation" class="p-navigation">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a href="/">
              <img class="u-float-left" src="https://assets.ubuntu.com/v1/d45097a4-snapcraft.io-logotype.svg" width="148" alt="Snapcraft.io" />
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav" role="menubar">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links" role="menu">
            <li class="p-navigation__link" role="menuitem">
              <a
                {% if page_slug and page_slug == 'store' %} class="is-selected"{% endif %}
                href="/store">Store
              </a>
            </li>
            <li class="p-navigation__link" role="menuitem"><a href="https://build.snapcraft.io">Build</a></li>
            <li class="p-navigation__link" role="menuitem"><a class="p-link--external" href="https://docs.snapcraft.io">Docs</a></li>
            <li class="p-navigation__link" role="menuitem"><a class="p-link--external" href="https://tutorials.ubuntu.com/?q=snap">Tutorials</a></li>
            <li class="p-navigation__link" role="menuitem"><a class="p-link--external" href="https://forum.snapcraft.io/categories">Forum</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}{% endblock %}

    <div class="p-strip--light u-no-padding p-sticky-footer">
      <footer class="p-footer u-no-margin--top">
        <div class="row">
          <div class="col-6">
            <p>&copy; 2017 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
            <p>
              You can contribute to, or report problems with,
              <a
                class="p-link--external"
                href="https://bugs.launchpad.net/snapd"
              >snapd</a>,
              <a
                class="p-link--external"
                href="https://github.com/snapcore/snapcraft/issues"
              >Snapcraft</a>,
              or
              <a
                class="p-link--external"
                href="https://github.com/canonical-websites/snapcraft.io/issues"
              >this site</a>.
            </p>
            <nav class="u-no-margin">
              <ul class="p-footer__links">
                  <li class="p-footer__item"><a class="p-footer__link" href="http://www.ubuntu.com/legal">Legal information</a></li>
              </ul>
              <span class="u-off-screen u-no-margin">
                <a href="#">Go to the top of the page</a>
              </span>
            </nav>
          </div>
          <div class="col-6">
            <p class="u-align--right">Powered by <a href="https://www.ubuntu.com/kubernetes">the Canonical Distribution of Kubernetes</a></p>
          </div>
        </div>
      </footer>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
