{% extends "_layout.html" %}

{% block title %}
    Account page — Linux software in the Snap Store
{% endblock %}

{% block content %}

  <section class="p-strip is-shallow">
      <div class="row">
          <div class="col-2">
              {% if user.image %}
                  <img class="p-media-object__image--large" src="{{ user.image }}" alt="{{ user.nickname }} account" />
              {% else %}
                  <img class="p-media-object__image--large" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="" />
              {% endif %}
          </div>
          <div class="col-9">
              <h1 class="u-no-margin">{{ user.nickname }}</h1>
              <table class="p-table-key-value">
                  <tr><th width="100">Full name</th><td>{{ user.fullname }}</td></tr>
                  <tr><th>Username</th><td>{{ user.nickname }}</td></tr>
                  <tr><th>Email</th><td>{{ user.email }}</td></tr>
                  <tr><th>Namespace</th><td>{{ namespace }}</td></tr>
              </table>
          </div>
      </div>
  </section>

  <section class="p-strip is-shallow">
      <div class="row">
          <div class="col-12">
              <h3>My snaps</h3>
              <table>
                  <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Price</th>
                  </tr>
                  {% for snap in user_snaps %}
                      <tr>
                          <td><a href="/account/snaps/{{snap}}/market/">{{snap}}</a></td>
                          <td>{{ user_snaps[snap].status }}</td>
                          <td>{% if user_snaps[snap].price %} user_snaps[snap].price {% else %} 0 {% endif %}</td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
      </div>
  </section>
{% endblock %}
