{% extends "_layout.html" %}

{% block title %}
Account page — Linux software in the Snap Store
{% endblock %}

{% block content %}
{% include "publisher/_beta-notification.html" %}

  <section class="p-strip is-shallow">
    <div class="row">
      <div class="col-2">
        {% if image %}
          <img class="p-media-object__image--large" src="{{ image }}" alt="{{ username }} account" />
        {% else %}
          <img class="p-media-object__image--large" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="" />
        {% endif %}
      </div>
      <div class="col-9">
        <h1 class="u-no-margin">{{ username }}</h1>
        <table class="p-table-key-value">
          <tr><th width="100">Full name</th><td>{{ displayname }}</td></tr>
          <tr>
            <th>Username</th>
            <td>
              {{ username }} <a href="{{ LOGIN_URL }}" class="p-link--external">Edit</a>
            </td>
          </tr>
          <tr><th>Email</th><td>{{ email }}</td></tr>
        </table>
      </div>
    </div>
  </section>

  <section class="p-strip is-shallow">
    <div class="row">
      <div class="col-12">
        <h3>My snaps</h3>
        <table>
          <tr>
            <th>Name</th>
            <th>Status</th>
          </tr>
          {% if not snaps %}
            <tr>
              <td>You have not uploaded or registered a snap yet!</td>
            </tr>
          {% else %}
            {% for snap in snaps|sort %}
              <tr>
                <td class="u-vertically-center p-snap-list">
                  {% if snaps[snap].latest_revisions %}
                    <a href="/account/snaps/{{snap}}/market" class="u-no-margin--top u-vertically-center">
                  {% endif %}
                  {% if snaps[snap].icon_url %}
                    <img src="{{ snaps[snap].icon_url }}" class="p-snap-list__image" />
                  {% else %}
                    <img src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" class="p-snap-list__image" />
                  {% endif %}
                  <span class="p-snap-list__name u-no-margin--top">
                    {{snap}}
                  </span>
                  {% if snaps[snap].latest_revisions %}
                    </a>
                  {% endif %}
                  {% if snaps[snap].private %}
                    <small class="u-no-margin--top">Private</small>
                  {% endif %}
                </td>
                <td>
                  {% if not snaps[snap].latest_revisions %}
                    Name registered. No snap uploaded.
                  {% else %}
                    {{ snaps[snap].status }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>
  </section>
{% endblock %}
