{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}https://docs.google.com/document/d/1_uwPkHmAgV6_uE9ISqIgXjZGJxXPBD90vdeO95h7ikE/edit{% endblock %}

{% block content %}
<div id="main-content" class="p-strip--image snapcraft-banner-background">
  <h1 class="u-off-screen">Snapcraft</h1>
  <div class="row">
    <div class="col-12">
      <p class="p-heading--two">Deliver and update all apps for Linux and IoT</p>
      <p>Snaps auto-update and are safe to run</p>
      <a href="https://docs.snapcraft.io/build-snaps/languages" class="p-button--positive">Build your first snap</a>
      <a href="https://build.snapcraft.io" class="p-button--neutral">Get started using GitHub</a>
    </div>
  </div>
</div>

<section class="p-strip is-bordered is-shallow">
  <div class="row">
    <h3 class="p-muted-heading">Featured publishers</h3>
  </div>
  <div class="row">
    <div class="p-flex-grid--centered">
      <span class="p-logo-list__item u-align--center">
        <img src="https://assets.ubuntu.com/v1/a3c41e00-logo-heroku--snapcraft-homepage.svg" alt="Heroku" />
      </span>
      <span class="p-logo-list__item u-align--center">
        <img src="https://assets.ubuntu.com/v1/2c9fa6c0-logo-amazon--snapcraft-homepage.svg" alt="Amazon" />
      </span>
      <span class="p-logo-list__item u-align--center">
        <img src="https://assets.ubuntu.com/v1/63d5fd3f-logo-spotify--snapcraft-homepage.svg" alt="Spotify" />
      </span>
      <span class="p-logo-list__item u-align--center">
        <img src="https://assets.ubuntu.com/v1/2d54fa27-logo-google--snapcraft-homepage.svg" alt="Google" />
      </span>
      <span class="p-logo-list__item u-align--center">
        <img src="https://assets.ubuntu.com/v1/7b03d4b8-logo-microsoft--snapcraft-homepage.svg" alt="Microsoft" />
      </span>
    </div>
  </div>
</section>

<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h3>Snaps are containerised software packages that are simple to create and install on all major Linux systems without modification.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Quick to install</h3>
      <p>Snaps are self-contained, separate from the system. No complex dependencies, and no interfering with each other. Whichever system you’re running, a snap will work the same way.</p>
    </div>
    <div class="col-4">
      <h3>Safe to run</h3>
      <p>Not only are snaps kept separate, their data is kept separate too. Snaps communicate with each other only in ways that you approve.</p>
    </div>
    <div class="col-4">
      <h3>Easy to update</h3>
      <p>Updates are automatic, and download only what’s changed. You can test alphas/betas if you want, switching back to stable at any time. And any update can be reversed.</p>
    </div>
  </div>
</section>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-6">
      <h3>Installable across Linux distributions</h3>
    </div>
    <div class="col-6">
      <p>Snaps are available for any Linux OS running snapd, the service that runs and manages snaps.</p>
      <p><a href="https://docs.snapcraft.io/core/install">Enable snaps on your OS</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-flex-grid--centered">
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-ubuntu">
        <img src="https://assets.ubuntu.com/v1/4e18e57c-logo-ubuntu--in-card.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-debian">
        <img src="https://assets.ubuntu.com/v1/f7f680fb-debian.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-linux-mint">
        <img src="https://assets.ubuntu.com/v1/2ce868d9-mint.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-raspbian">
        <img src="https://assets.ubuntu.com/v1/eccf1818-raspberrypi.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-arch-linux">
        <img src="https://assets.ubuntu.com/v1/44789cf1-arch.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-fedora">
        <img src="https://assets.ubuntu.com/v1/f24733d2-fedora.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-openwrt">
        <img src="https://assets.ubuntu.com/v1/0dd4809d-openwrit.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-oe-yocto">
        <img src="https://assets.ubuntu.com/v1/f131a86c-yocto.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-oe-yocto">
        <img src="https://assets.ubuntu.com/v1/38659979-openembed.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-opensuse">
        <img src="https://assets.ubuntu.com/v1/c4c720c6-suse.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-manjaro">
        <img src="https://assets.ubuntu.com/v1/02d49758-manjaro.png" alt="" />
      </a>
      <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-solus">
        <img src="https://assets.ubuntu.com/v1/4ea80b29-solus.png" alt="" />
      </a>
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-6">
      <h3>What is Snapcraft?</h3>
      <p>Snapcraft is the command line tool for writing and publishing your software as a snap.</p>
      <p>Snapcraft is available on <a href="https://docs.snapcraft.io/core/install">most popular Linux systems</a>.</p>
    </div>
    <div class="col-6">
      <ul class="p-list">
        <li class="p-list__item is-ticked">Simple to package leveraging your existing tools</li>
        <li class="p-list__item is-ticked">Automatic updates for everyone</li>
        <li class="p-list__item is-ticked">Reach tens of millions of Linux systems</li>
        <li class="p-list__item is-ticked">Roll back versions effortlessly</li>
        <li class="p-list__item is-ticked">Integrate easily with build and CI infrastructure</li>
        <li class="p-list__item is-ticked">Free for open and closed source projects</li>
      </ul>
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h3>Snapcraft integrates with your tools</h3>
      <p>See how Snapcraft works with your language or framework to make packaging and installing your software easy.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-flex-grid">
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/pre-built">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/4890ee03-icon-prepackaged-apps.png" alt=""/>
        </header>
        <span>Pre-built apps</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/c">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/ae5902bf-logo-cpp.png" alt=""/>
        </header>
        <span>C/C++</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/go">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/53990c77-logo-go.png" alt=""/>
        </header>
        <span>Go</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/java">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/4fb34568-logo-java.png" alt=""/>
        </header>
        <span>Java</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/node">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/81c3c76e-logo-node.png" alt=""/>
        </header>
        <span>Node.js</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/electron">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/6ee78042-logo-electron.png" alt=""/>
        </header>
        <span>Electron</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/python">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/27e2a770-logo-python.png" alt=""/>
        </header>
        <span>Python</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/ruby">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/1ce42763-logo-ruby.png" alt=""/>
        </header>
        <span>Ruby</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/rust">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/387bfca8-logo-rust.png" alt=""/>
        </header>
        <span>Rust</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/moos">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/b24fda67-logo-moos.png" alt=""/>
        </header>
        <span>MOOS</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/ros">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/b7079097-logo-ros.png" alt=""/>
        </header>
        <span>ROS</span>
      </a>
      <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/ros2">
        <header class="p-card__header">
          <img src="https://assets.ubuntu.com/v1/788b4b66-logo-ros2.png" alt=""/>
        </header>
        <span>ROS 2</span>
      </a>
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h3>What people are saying about Snapcraft</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <blockquote class="p-testimonial">
        <div class="p-testimonial__logo">
          <img src="https://assets.ubuntu.com/v1/53b1b835-logo-heroku.svg" alt="Heroku logo" />
        </div>
        <h4 class="p-testimonial__title">“The auto-updating feature is huge”</h4>
        <p class="p-testimonial__content">Due to the nature of our platform, we release updates more than daily which admittedly can be annoying for our users to constantly update.</p>
        <p class="p-testimonial__content">Therefore, having them done seamlessly in the background makes life for our users so much easier. It’s great to see snaps as the first serious attempt to try and unify the community.</p>
        <cite class="p-testimonial__citation">
          Jeff Dickey<br /> CLI engineer, <a href="https://www.heroku.com/" class="p-link--external">Heroku</a>
        </cite>
      </blockquote>
    </div>
    <div class="col-4">
      <blockquote class="p-testimonial">
        <div class="p-testimonial__logo">
          <img src="https://assets.ubuntu.com/v1/e4c220b3-logo-microsoft.svg" alt="Microsoft logo" />
        </div>
        <h4 class="p-testimonial__title">“Starting with snaps is easy”</h4>
        <p class="p-testimonial__content">We definitely find Snapcraft easier as it is yaml based and provides details of what artifacts are needed. Debian packaging has things that need to be followed which can be distribution specific, which creates complication.
        <p class="p-testimonial__content">The modular containment is what appealed about snaps and [we] can see it will be a lot more flexible. Starting with snaps is easy and the resources that are provided are clean and structured which aids adoption.</p>
        <cite class="p-testimonial__citation">
          Lee Coward and Rakesh Singh<br/> <a href="https://www.microsoft.com/net/" class="p-link--external">.NET (Microsoft)</a>
        </cite>
      </blockquote>
    </div>
    <div class="col-4">
      <blockquote class="p-testimonial">
        <div class="p-testimonial__logo">
          <img src="https://assets.ubuntu.com/v1/a82ec61c-logo-jetbrains.svg" alt="JetBrains logo" />
        </div>
        <h4 class="p-testimonial__title">“A major software discovery tool”</h4>
        <p class="p-testimonial__content">The Snap store provides additional exposure to our tools for many of our existing and potential users. The decision to use it came quite naturally. We believe the store will be a major software discovery tool on Linux, so the more people find out about our tools naturally and install them more easily, the better for everyone.</p>
        <cite class="p-testimonial__citation">
          Aleksey Rostovskiy<br /> Engineer, <a href="https://www.jetbrains.com/" class="p-link--external">JetBrains</a>
        </cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered u-image-position">
  <div class="row u-vertically-center">
    <div class="col-6">
      <h3>Auto-build from GitHub</h3>
      <p>Automate your build process and publish software straight from your GitHub repos.</p>
      <p><a class="p-button--neutral" href="https://build.snapcraft.io/auth/authenticate"><i class="p-icon--github"></i> Connect a GitHub repo</a></p>
    </div>
    <div class="col-6">
      <img class="u-image-position--bottom" src="https://assets.ubuntu.com/v1/006db1f4-build-snapcraft-heroku.png" alt="" style="max-height: 95%;" />
    </div>
  </div>
</div>

<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-6">
      <h3>The Snap Store</h3>
    </div>
    <div class="col-6">
      <p>The Snap Store is enabled by default on tens of millions of Linux systems. It allows developers to release free or paid apps for multiple architectures, on multiple release channels from daily builds to stable releases.</p>
    </div>
  </div>
  {% if featured_snaps %}
    <div class="row">
      <div class="col-12">
        <h3>Featured snaps</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-flex-grid">
        {% for snap in featured_snaps %}
          <a class="p-featured-snaps__item p-media-object" href="/{{ snap.package_name }}">
            <div class="p-media-object__image">
              {% if snap.icon_url %}
                <img class="p-heading-icon__img" src="{{ snap.icon_url }}" alt="">
              {% else %}
                <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="">
              {% endif %}
            </div>
            <div class="p-media-object__details">
              <h4>{{ snap.title }}</h4>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
</div>

<div class="p-strip is-deep">
  <div class="row">
    <div class="col-6">
      <h3>Not sure yet?</h3>
    </div>
    <div class="col-6">
      <ul class="p-list">
        <li class="p-list__item"><a href="https://docs.snapcraft.io/build-snaps/">Learn more</a> about snaps and Snapcraft</li>
        <li class="p-list__item"><a href="https://forum.snapcraft.io/categories">Ask on the forum</a> if you have any questions</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
