<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Snapcraft - Snaps are universal Linux packages</title>

    <!-- Google Optimize page-hiding -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-MJJ7C2K':true});</script>
    <!-- End Google Optimize page-hiding -->

    <!-- Google Analytics and Google Optimize -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1018242-59', 'auto', {'allowLinker': true});
    ga('require', 'GTM-MJJ7C2K');
    ga('require', 'linker');
    ga('linker:autoLink', ['snapcraft.io', 'build.snapcraft.io',
    'dashboard.snapcraft.io', 'conjure-up.io', 'login.ubuntu.com', 'www.ubuntu.com',
    'ubuntu.com', 'insights.ubuntu.com', 'developer.ubuntu.com', 'cn.ubuntu.com',
    'design.ubuntu.com', 'maas.io', 'canonical.com', 'landscape.canonical.com',
    'pages.ubuntu.com', 'tutorials.ubuntu.com', 'docs.ubuntu.com']);
    </script>
    <!-- End Google Analytics and Google Optimize -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KCGXHQS');</script>
    <!-- End Google Tag Manager -->

    <script>
    /* HTML5 element support */
    for(var e,l='article aside footer header nav section time'.split(' ');e=l.pop();document.createElement(e));
    </script>

    <meta name="description" content="Introducing snaps and commands to install and remove them on Ubuntu 16.04 LTS.">

    <link rel="stylesheet" href="/static/minified/styles.css">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCGXHQS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header id="navigation" class="p-navigation">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a href="/">
              <img class="u-float-left" src="https://assets.ubuntu.com/v1/d45097a4-snapcraft.io-logotype.svg" width="148" alt="Snapcraft.io" />
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav" role="menubar">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links" role="menu">
            <li class="p-navigation__link" role="menuitem"><a href="https://build.snapcraft.io">Build</a></li>
            <li class="p-navigation__link" role="menuitem"><a href="/docs">Docs</a></li>
            <li class="p-navigation__link" role="menuitem"><a class="p-link--external" href="https://tutorials.ubuntu.com">Tutorials</a></li>
            <li class="p-navigation__link" role="menuitem"><a class="p-link--external" href="https://forum.snapcraft.io/categories">Forum</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="p-strip--accent is-deep snapcraft-hero">
      <h1 class="u-off-screen">Snapcraft</h1>
      <div class="row">
        <div class="col-12">
          <p class="p-heading--two">Package, distribute, and update any app for Linux and IoT</p>
          <p class="p-heading--five">Snaps are containerised software packages that are simple to create and install. They auto-update and are safe to run and because they bundle their dependencies, they work on all major Linux systems without modification.</p>
          <a href="https://tutorials.ubuntu.com/tutorial/create-your-first-snap" class="u-width-auto p-button--positive is-inline--right">Build your first snap</a>
          <span class="is-inline--right">or</span>
          <a href="https://build.snapcraft.io" class="u-width-auto p-button--neutral">Get started with GitHub</a>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-6">
          <h2>Installable across Linux distributions</h2>
        </div>
        <div class="col-6">
          <p class="p-heading--five">Snaps are available for any Linux OS running snapd, the service that runs and manage snaps.</p>
          <p><a href="https://docs.snapcraft.io/core/install">Enable snaps on your OS</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-logo-links">
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-ubuntu">
            <img src="https://assets.ubuntu.com/v1/d6c13911-ubuntu.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-debian">
            <img src="https://assets.ubuntu.com/v1/f7f680fb-debian.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-linux-mint">
            <img src="https://assets.ubuntu.com/v1/2ce868d9-mint.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-gentoo">
            <img src="https://assets.ubuntu.com/v1/439fa9d5-gentuu.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-arch-linux">
            <img src="https://assets.ubuntu.com/v1/44789cf1-arch.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-fedora">
            <img src="https://assets.ubuntu.com/v1/f24733d2-fedora.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-openwrt">
            <img src="https://assets.ubuntu.com/v1/0dd4809d-openwrit.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-oe-yocto">
            <img src="https://assets.ubuntu.com/v1/f131a86c-yocto.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-oe-yocto">
            <img src="https://assets.ubuntu.com/v1/38659979-openembed.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-opensuse">
            <img src="https://assets.ubuntu.com/v1/c4c720c6-suse.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-manjaro">
            <img src="https://assets.ubuntu.com/v1/02d49758-manjaro.png" alt="" />
          </a>
          <a class="p-logo-link" href="https://docs.snapcraft.io/core/install-solus">
            <img src="https://assets.ubuntu.com/v1/4ea80b29-solus.png" alt="" />
          </a>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-6">
          <h2>What is Snapcraft?</h2>
          <p class="p-heading--five">Snapcraft is the command line tool for writing and publishing your software as a snap.</p>
          <p class="p-heading--five">Snapcraft is available on <a href="https://docs.snapcraft.io/core/install">most popular Linux systems</a>.</p>
        </div>
        <div class="col-6">
          <ul class="p-list u-no-margin">
            <li class="p-list__item is-ticked">Simple to package leveraging your existing tools</li>
            <li class="p-list__item is-ticked">Automatic updates for everyone</li>
            <li class="p-list__item is-ticked">Reach tens of millions of Linux systems</li>
            <li class="p-list__item is-ticked">Roll back versions effortlessly</li>
            <li class="p-list__item is-ticked">Integrate easily with build and CI infrastructure</li>
            <li class="p-list__item is-ticked">Free for open and closed source projects</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-12">
          <h2>Snapcraft integrates with your language</h2>
          <p class="p-heading--five">See how Snapcraft works with your language to make packaging and installing your software easy.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-logo-links">
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/python">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/27e2a770-logo-python.png" alt=""/>
            </header>
            <p class="u-no-margin">Python</p>
          </a>
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/node">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/81c3c76e-logo-node.png" alt=""/>
            </header>
            <p class="u-no-margin">Node.js</p>
          </a>
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/go">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/53990c77-logo-go.png" alt=""/>
            </header>
            <p class="u-no-margin">Go</p>
          </a>
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/moos">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/b24fda67-logo-moos.png" alt=""/>
            </header>
            <p class="u-no-margin">MOOS</p>
          </a>
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/ros">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/b7079097-logo-ros.png" alt=""/>
            </header>
            <p class="u-no-margin">ROS</p>
          </a>
          <a class="p-logo-link p-card" href="https://docs.snapcraft.io/build-snaps/pre-built">
            <header class="p-card__header">
              <img src="https://assets.ubuntu.com/v1/4890ee03-icon-prepackaged-apps.png" alt=""/>
            </header>
            <p class="u-no-margin">Pre-built apps</p>
          </a>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered u-image-position">
      <div class="row u-vertically-center">
        <div class="col-6">
          <h2>Auto-build from GitHub</h2>
          <p class="p-heading--five">Automate your build process and publish software straight from your GitHub repos.</p>
        <p><a class="p-button--neutral" href="https://build.snapcraft.io/auth/authenticate"><i class="p-icon--github"></i> Get started with GitHub</a></p>
        </div>
        <div class="col-6">
          <img class="u-image-position--bottom" src="https://assets.ubuntu.com/v1/006db1f4-build-snapcraft-heroku.png" alt="" style="max-height: 95%;" />
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-12">
          <h2>What people are saying about Snapcraft</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <blockquote class="p-testimonial">
            <p>The auto-updating feature is huge and one that we haven’t seen elsewhere. Due to the nature of our platform, we release updates more than daily which admittedly can be annoying for our users to constantly update.</p>
            <cite class="p-testimonial--citation">Jeff Hickey, CLI engineer, <a href="https://www.heroku.com/" class="p-link--external">Heroku</a></cite>
          </blockquote>
        </div>
        <div class="col-4">
          <blockquote class="p-testimonial">
            <p>The format isolation allows for less opportunity to break the system or otherwise force abandonment – you can use newer libraries than the system offers without altering the base.</p>
            <cite class="p-testimonial--citation">Daniel Fore, Founder, <a href="https://elementary.io" class="p-link--external">Elementary</a></cite>
          </blockquote>
        </div>
        <div class="col-4">
          <blockquote class="p-testimonial">
            <p>With snaps we have a tool where updates can happen seamlessly and the client isn’t even aware of the changes but they can be assured the system is always running smoothly.</p>
            <cite class="p-testimonial--citation">Mohamed Saad Ibn Seddik,<br/> Chief Scientist, <a href="http://www.sea-machines.com/" class="p-link--external">Sea Machines</a></cite>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-4">
          <h2>Quick to install</h2>
          <p class="p-heading--five">Snaps are quick to install from GNOME Software or the command line.</p>
          <p class="p-heading--five"><a href="https://docs.snapcraft.io/core/install">Installing snaps</a></p>
        </div>
        <div class="col-4">
          <h2>Easy to update</h2>
          <p class="p-heading--five">Snaps update automatically and transactionally so your app is always fresh.</p>
          <p class="p-heading--five"><a href="https://docs.snapcraft.io/core/updates">Transactional updates</a></p>
        </div>
        <div class="col-4">
          <h2>Safe to run</h2>
          <p class="p-heading--five">Snaps stay secure as they are confined from the OS, other apps, and hardware functions.</p>
          <p class="p-heading--five"><a href="https://docs.snapcraft.io/reference/confinement">Keeping your system safe</a></p>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-6">
          <h2>The Snap Store</h2>
        </div>
        <div class="col-6">
          <p class="p-heading--five">The Snap Store is enabled by default on tens of millions Linux systems. It allows developers to release free or paid apps for multiple architectures, on multiple release channels from daily builds to stable releases.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Featured snaps</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/2ca6d139-atom.png" alt="" />
              <h5 class="u-no-margin"><a href="/atom">Atom</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/13929d8e-brackets.png" alt="" />
              <h5 class="u-no-margin"><a href="/brackets">Brackets</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/4eca1f4e-discord.png" alt="" />
              <h5 class="u-no-margin"><a href="/atom">Atom</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/8f0cd431-golang.png" alt="" />
              <h5 class="u-no-margin"><a href="/go">Golang</a></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/86bae242-heroku.png" alt="" />
              <h5 class="u-no-margin"><a href="/heroku">Heroku</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/f4b790e9-hiri.png" alt="" />
              <h5 class="u-no-margin"><a href="/hiri">Hiri</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/a01512ec-teleconsole.png" alt="" />
              <h5 class="u-no-margin"><a href="/teleconsole">Teleconsole</a></h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/edab8e40-wavebox.png" alt="" />
              <h5 class="u-no-margin"><a href="/wavebox">Wavebox</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-strip is-deep">
      <div class="row">
        <div class="col-6">
          <h2>Not sure yet?</h2>
        </div>
        <div class="col-6">
          <ul class="p-list u-no-margin">
            <li class="p-list__item"><a href="https://docs.snapcraft.io/build-snaps/">Learn more</a> about snaps and Snapcraft</li>
            <li class="p-list__item"><a href="https://forum.snapcraft.io/categories">Ask on the forum</a> if you have any questions</li>
          </ul>
        </div>
      </div>
    </div>

    <footer class="p-footer p-strip--light">
      <div class="row">
        <div class="col-9">
          <p>&copy; 2017 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
          <p>Powered by <a href="https://www.ubuntu.com/kubernetes">the Canonical Distribution of Kubernetes</a></p>
          <p>
            <a class="p-link--external" href="https://github.com/snapcore/snapcraft">Fork Snapcraft on GitHub</a><br/>
            <a class="p-link--external" href="https://github.com/snapcore/snapd">Fork snapd on GitHub</a>
          </p>
          <nav class="p-footer__nav">
            <ul class="p-footer__links">
              <li class="p-footer__item">
                <a class="p-footer__link" href="https://www.ubuntu.com/legal">Legal information</a>
              </li>
              <li class="p-footer__item">
                <a class="p-footer__link" href="https://github.com/canonical-websites/snapcraft.io-static-pages/issues/new">Report a bug on this site</a>
              </li>
              <li class="p-footer__item">
                <a class="p-footer__link" href="https://status.snapcraft.io/">Service status</a>
              </li>
            </ul>
            <p>Yocto Project and all related marks and logos are trademarks of The Linux Foundation. This website is not, in any way, endorsed by the Yocto Project or The Linux Foundation.</p>
            <span class="u-off-screen u-no-margin">
              <a href="#">Go to the top of the page</a>
            </span>
          </nav>
        </div>
        <div class="col-3">
           <h3 class="p-muted-heading">Follow us</h3>
           <ul class="p-inline-list--compact">
             <li class="p-inline-list__item">
               <a href="https://twitter.com/snapcraftio" class="p-social-icon--twitter">Share on Twitter</a>
             </li>
             <li class="p-inline-list__item">
               <a href="https://plus.google.com/+SnapcraftIo" class="p-social-icon--google">Share on Google plus</a>
             </li>
             <li class="p-inline-list__item">
               <a href="https://www.facebook.com/snapcraftio" class="p-social-icon--facebook">Share on Facebook</a>
             </li>
             <li class="p-inline-list__item">
               <a href="https://www.youtube.com/snapcraftio" class="p-social-icon--youtube">Share on YouTube</a>
             </li>
           </ul>
         </div>
      </div>
    </footer>

  </body>
</html>
