{% extends "_layout.html" %}

{% block title %}
  Promoted Snaps — Linux software in the Snap Store
{% endblock %}

{% block content %}
  <section class="p-strip is-shallow">
      <div class="row">
        {% for snap in snaps %}
          <div class="col-3">
            <div class="p-heading-icon">
              <a class="p-heading-icon__header" href="/{{ snap.package_name }}">
                {% if snap.icon_url %}
                  <img class="p-heading-icon__img" src="{{ snap.icon_url }}" alt="">
                {% else %}
                  <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="">
                {% endif %}
                <h5 class="u-no-margin">{{ snap.title }}</h5>
              </a>
            </div>
          </div>

          {# end the row after every 4th snap #}
          {% if (loop.index % 4 == 0) and not loop.last %}
            </div>
            <div class="row">
          {% endif %}

        {% endfor %}
      </div>
  </section>
{% endblock %}
