{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}
  {% if query %}
    Snap search results for "{{ query }}"
  {% else %}
    Search Snap Store
  {% endif %}
  — Linux software in the Snap Store
{% endblock %}

{% block content %}
  <section id="main-content" class="p-strip--image snapcraft-banner-background">
    <div class="row">
      <div class="col-10">
        {% if query %}
          {% if snaps %}
            <h2>We’ve found some snaps</h2>
          {% else %}
            <h2>Sorry, we couldn’t find any snaps</h2>
          {% endif %}
        {% else %}
          <h2>Search Snap Store</h2>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <form action="/search" class="p-form p-form--inline p-form--search">
          <div class="p-form__group">
            <label for="search-input" class="u-off-screen">Search</label>
            <div class="p-form__control u-clearfix">
              <input id="search-input" type="search" name="q" value="{{ query }}" />
            </div>
          </div>
          <button type="submit" alt="search" class="p-button--positive">Search</button>
        </form>
      </div>
    </div>
  </section>

  <section class="p-strip is-shallow">
    <div class="row">
        {% if snaps %}
        <div class="col-8">
        {% for snap in snaps %}
          <div class="p-media-object">
              {% if snap.icon_url %}
                <img src="{{ snap.icon_url }}" class="p-media-object__image" alt="">
              {% else %}
                <img src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" class="p-media-object__image" alt="">
              {% endif %}

              <div class="p-media-object__details">
                {# FIXME u-no-margin is a workaround for https://github.com/vanilla-framework/vanilla-framework/issues/1879 #}
                <h3 class="p-media-object__title u-no-margin">
                  <a href="/{{ snap.package_name }}">{{ snap.title }}</a>
                </h3>
                <ul class="p-media-object__meta-list u-no-margin">
                  <li class="p-media-object__meta-list-item">
                    <span class="u-off-screen">Publisher: </span>{{ snap.publisher }}
                    {% if snap.developer_validation and snap.developer_validation == VERIFIED_PUBLISHER %}
                      <span class="p-verified p-tooltip p-tooltip--top-center" aria-describedby="{{ snap.package_name }}-tooltip">
                        <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg" />
                        <span class="p-tooltip__message u-align--center" role="tooltip" id="{{ snap.package_name }}-tooltip">Verified account</span>
                      </span>
                    {% endif %}
                  </li>
                </ul>
                <p class="p-media-object__content">{{ snap.summary }}</p>
              </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
          {% if featured_snaps %}
            <h3>Featured snaps</h3>
            <div class="col-12 p-featured-snaps">
              {% for snap in featured_snaps %}
                <a class="p-featured-snaps__item p-media-object" href="/{{ snap.package_name }}">
                  <span class="p-media-object__image">
                    {% if snap.icon_url %}
                      <img class="p-heading-icon__img" src="{{ snap.icon_url }}" alt="">
                    {% else %}
                      <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="">
                    {% endif %}
                  </span>
                  <span class="p-media-object__details">
                    <h4>{{ snap.title }}</h4>
                  </span>
                </a>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
    </div>
  </section>

  {% if links %}
  <section class="p-strip is-shallow">
    <nav class="row">
      <div class="col-6 prefix-1 u-align--left">
        {% if links.first %}<a href="{{ links.first }}">&#171;&nbsp;First</a>&nbsp;{% endif %}
        {% if links.prev %}<a href="{{ links.prev }}">&#8249;&nbsp;Previous</a>{% endif %}
      </div>
      <div class="col-6 suffix-1 u-align--right">
        {% if links.next %}<a href="{{ links.next }}">Next&nbsp;&#8250;</a>{% endif %}
        {% if links.last %}&nbsp;<a href="{{ links.last }}">Last&nbsp;&#187;</a>{% endif %}
      </div>
    </nav>
  </section>
  {% endif %}
{% endblock %}
