{% extends "_layout.html" %}

{% block title %}
  {% if query %}
    Snap search results for "{{ query }}"
  {% else %}
    Search Snap Store
  {% endif %}
  — Linux software in the Snap Store
{% endblock %}

{% block content %}

  <section id="main-content" class="p-strip--image is-deep snapcraft-banner-background">
    <div class="row">
      <div class="col-10">
        {% if query %}
          {% if snaps %}
            <h2>We’ve found some snaps for "{{ query }}"</h2>
          {% else %}
            <h2>Sorry, we couldn’t find "{{ query }}"</h2>
          {% endif %}
        {% else %}
          <h2>Search Snap Store</h2>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <form action="/search" class="p-form p-form--inline p-form--search">
          <div class="p-form__group">
            <label for="search-input" class="u-off-screen">Search</label>
            <input id="search-input" type="search" name="q" value="{{ query }}" class="p-form__control"/>
          </div>
            <button type="submit" alt="search" class="p-button--positive u-align--left">Search</button>
        </form>
      </div>
    </div>
  </section>

  <section class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        {% for snap in snaps %}
          <div class="p-media-object">
              {% if snap.icon_url %}
                <img src="{{ snap.icon_url }}" class="p-media-object__image" alt="">
              {% else %}
                <img src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" class="p-media-object__image" alt="">
              {% endif %}

              <div class="p-media-object__details">
                <h3 class="p-media-object__title">
                  <a href="/{{ snap.package_name }}">{{ snap.title }}</a>
                </h3>
                <ul class="p-media-object__meta-list u-no-margin">
                  <li class="p-media-object__meta-list-item">
                    <span class="u-off-screen">Publisher: </span>{{ snap.publisher }}
                  </li>
                </ul>
                <p class="p-media-object__content">{{ snap.summary }}</p>
                <p class="p-media-object__content">{{ snap.description | truncate(200) }}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% if links %}
  <section class="p-strip is-shallow">
    <nav class="row">
      <div class="col-6 prefix-1 u-align--left">
        {% if links.first %}<a href="{{ links.first }}">&#171;&nbsp;First</a>&nbsp;{% endif %}
        {% if links.prev %}<a href="{{ links.prev }}">&#8249;&nbsp;Previous</a>{% endif %}
      </div>
      <div class="col-6 suffix-1 u-align--right">
        {% if links.next %}<a href="{{ links.next }}">Next&nbsp;&#8250;</a>{% endif %}
        {% if links.last %}&nbsp;<a href="{{ links.last }}">Last&nbsp;&#187;</a>{% endif %}
      </div>
    </nav>
  </section>
  {% endif %}
{% endblock %}
