{% extends "_layout.html" %}

{% block title %}{{ snap_title }} snap details{% endblock %}

{% block content %}
  <!-- Illustration of country data -->
<!--
  <table>
    <tbody>
      {% for country, percent in user_percentage_by_country.items() %}
        <tr><th>{{ country }}</th><td>{{ percent }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
-->

  <div class="p-strip is-shallow is-bordered">
    <div class="row">
      <div class="col-12">
        <div class="p-media-object u-no-margin--bottom">
          {% if icon_url %}
            <img class="p-media-object__image--large" src="{{ icon_url }}" alt="{{ snap_title }} snap" />
          {% else %}
            <img class="p-media-object__image--large" src="https://assets.ubuntu.com/v1/610689b1-default-package-icon.svg" alt="" />
          {% endif %}
          <div class="p-media-object__details">
            <h1>{{ snap_title }}</h1>
            <p class="p-media-object__content--large">{{ publisher }}</p>

            <p class="p-media-object__content--large">
              {% if is_linux %}
                <a class="p-button--positive" href="snap://{{ package_name }}">Install</a>
              {% else %}
                You can install this software on a snap-powered system like <a class="p-link--external" href="https://www.ubuntu.com/download">Ubuntu</a>.
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        {% if summary %}<h4>{{ summary }}</h4>{% endif %}
        {% for paragraph in description_paragraphs %}
          <p>{{ paragraph | safe }}</p>
        {% endfor %}
        {% if support_url %}<p><a href="{{ support_url }}">Developer website</a></p>{% endif %}
      </div>
      <div class="col-4">
        <table class="p-table-key-value">
          <tr><th width="100">Version</th><td>{{ version }}</td></tr>
          <tr><th>Size</th><td>{{ filesize }}</td></tr>
        </table>
      </div>
    </div>
  </div>
  {% if api_error %}
  <div class="row">
    <div class="col-12">
      <div class="p-notification--negative">
        <p class="p-notification__response">
          <span class="p-notification__status">Error:</span> API request failed
        </p>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
