{% extends "_layout.html" %}

{% block title %}{{ snap_title }} — Linux software in the Snap Store{% endblock %}

{% block meta %}
  <meta property="og:title" content="{{ snap_title }} — Linux software in the Snap Store"/>
  <meta property="og:url" content="https://snapcraft.io/{{ package_name }}"/>
  <meta property="og:site_name" content="Snapcraft"/>
  <meta property="og:type" content="product"/>

  {% if summary %}<meta property="og:description" content="{{ summary }}"/>{% endif %}
  {% if icon_url %}
    <meta property="og:image" content="{{ icon_url }}"/>
  {% else %}
    <meta property="og:image" content="https://assets.ubuntu.com/v1/e635d1ef-snapcraft_green-red_hex.png" />
  {% endif %}
{% endblock %}

{% block content %}
  <div class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-4">
        <div class="p-snap-heading">
          {% if icon_url %}
            <img class="p-snap-heading__icon" src="{{ icon_url }}" alt="{{ snap_title }} snap" />
          {% else %}
            <img class="p-snap-heading__icon" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="" />
          {% endif %}
          <div class="p-snap-heading__title">
            <h1 class="p-heading--two p-snap-heading__name">{{ snap_title }}</h1>
            <p class="p-snap-heading__publisher">by {{ publisher }}</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="p-snap-install">
          <p>Install stable version</p>
          <div class="p-code-snippet">
            <input
              class="p-code-snippet__input"
              id="snap-install"
              value="sudo snap install {{ package_name }}"
              readonly="readonly"
            />
            <button
              class="p-code-snippet__action js-clipboard-copy"
              data-clipboard-target="#snap-install">
              Copy to clipboard
            </button>
          </div>
          <p class="p-form-help-text">
            To run snaps on your system you'll need to <a href="https://docs.snapcraft.io/core/install">install snapd</a>.
          </p>
        </div>
      </div>
      <div class="col-3 p-snap-install__versions">
        <button class="p-button--neutral js-open-channel-map">Show all versions</button>
      </div>
    </div>
  </div>

  {% include "snap-details/_channel_map.html" %}

  {% if screenshots %}
    <div class="p-strip is-shallow">
      <div class="row">
        <div class="p-screenshots" id="js-snap-screenshots">
          <div class="p-screenshots__wrapper">
            {% for screenshot in screenshots %}
              <div class="p-screenshot">
                <img src="{{ screenshot }}" alt="" />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        {% if summary %}<h4>{{ summary }}</h4>{% endif %}
        {% for paragraph in description_paragraphs %}
          <p>{{ paragraph | safe }}</p>
        {% endfor %}
        {% if website %}<p><a href="{{ website }}">Developer website</a></p>{% endif %}
        {% if contact %}
          <p{% if website %} class="u-no-margin--top"{% endif %}>
            <a href="{{ contact }}">Contact {{ publisher }}</a>
          </p>
        {% endif %}
      </div>
      <div class="col-4">
        <table class="p-table-key-value">
          <tr><th width="100">Version</th><td>{{ version }}</td></tr>
          <tr><th>Size</th><td>{{ filesize }}</td></tr>
          <tr><th>License</th><td>{{ license }}</td></tr>
        </table>
      </div>
    </div>
    {% if countries %}
      <div class="row js-snap-map-holder" style="margin-top: 2rem;">
        <div class="col-12">
          <h4>Where people are using {{ snap_title }}</h4>
          <div id="js-snap-map" class="snapcraft-territories"></div>
        </div>
      </div>
    {% endif %}
  </div>


  {% if api_error %}
  <div class="row">
    <div class="col-12">
      <div class="p-notification--negative">
        <p class="p-notification__response">
          <span class="p-notification__status">Error:</span> API request failed
        </p>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
  <script src="{{ static_url('js/modules/d3.min.js') }}"></script>
  <script src="{{ static_url('js/modules/d3-geo.min.js') }}"></script>
  <script src="{{ static_url('js/modules/topojson-client.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/public.js') }}"></script>
  <script>
    Raven.context(function () {
      snapcraft.public.screenshots('#js-snap-screenshots');
      {% if countries %}
        try {
          snapcraft.public.map('#js-snap-map', {{ countries | tojson }});
        } catch(e) {
          Raven.captureException(e);
          document.querySelector('.js-snap-map-holder').style.display = 'none';
        }
      {% endif %}

      {% if channel_map %}
        try {
          snapcraft.public.channelMap('#js-channel-map', {{ package_name|tojson }}, {{ channel_map | tojson }});
        } catch(e) {
          Raven.captureException(e);
          document.querySelector('.js-open-channel-map').style.display = 'none';
        }
      {% endif %}

      var ctrlDown = false;

      function keyDown(e) {
        if (e && e.key) {
          var key = e.key.toLowerCase();
          if (key === 'control' || key === 'meta') {
            ctrlDown = true;
          }
          if ((key === 'c' || key === 'x') && ctrlDown) {
            if (typeof ga !== 'undefined') {
              ga('gtm1.send', {
                hitType: 'event',
                eventCategory: 'Snap details',
                eventAction: 'Copy CLI install instructions',
                eventLabel: 'Copy {{ package_name }} input'
              });
            }
          }
        }
      }

      function keyUp(e) {
        if (e && e.key) {
          var key = e.key.toLowerCase();
          if (key === 'control' || key === 'meta') {
            ctrlDown = false;
          }
        }
      }

      var snapInstall = document.querySelector('#snap-install');
      if (snapInstall) {
        snapInstall.addEventListener('keyup', keyUp);
        snapInstall.addEventListener('keydown', keyDown);
      }

      if (typeof ClipboardJS !== 'undefined') {
        var copy = new ClipboardJS('.js-clipboard-copy');

        copy.on('success', function () {
          if (typeof ga !== 'undefined') {
            ga('gtm1.send', {
              hitType: 'event',
              eventCategory: 'Snap details',
              eventAction: 'Copy CLI install instructions',
              eventLabel: 'Copy {{ package_name }} button'
            });
          }
        });
      }
    });
  </script>
{% endblock %}
