{% extends webapp_config['LAYOUT'] %}

{% block meta_title %}Install Linux apps in seconds | Snap Store{% endblock %}

{% block meta_description %}Find and install the best Linux software for all major Linux distributions.{% endblock %}

{% block meta_schema %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@id": "https://snapcraft.io/#website",
      "@type": "WebSite",
      "name": "Snapcraft",
      "url": "https://snapcraft.io{{ self.meta_path() }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://snapcraft.io/search?q={q}",
        "query-input": "required name=q"
      }
    }
  </script>
{% endblock %}

{% block content %}
  <section id="main-content" class="p-strip--image is-deep snapcraft-banner-background">
    <div class="row">
      <div class="col-10">
        <h2>Find snaps</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <form action="/search" class="p-form p-form--inline p-form--search">
          <div class="p-form__group">
            <label for="search-input" class="u-off-screen">Search</label>
            <input id="search-input" type="search" name="q" value="{{ query }}" class="p-form__control"/>
          </div>
            <button type="submit" alt="search" class="p-button--positive">Search</button>
        </form>
      </div>
    </div>
  </section>

  {% if featured_snaps %}
    <section class="p-strip is-deep is-bordered">
      <div class="row">
        <div class="col-12">
          <h2>Featured snaps</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-featured-snaps">
          {% for snap in featured_snaps %}
            <a class="p-featured-snaps__item p-media-object" href="/{{ snap.package_name }}">
              <span class="p-media-object__image">
                {% if snap.icon_url %}
                  <img class="p-heading-icon__img" src="{{ snap.icon_url }}" alt="">
                {% else %}
                  <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="">
                {% endif %}
              </span>
              <span class="p-media-object__details">
                <h4>{{ snap.title }}</h4>
              </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="p-strip is-deep is-bordered">
    <div class="row">
      <div class="col-12">
        <h2>Why use snaps?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3>Quick to install</h3>
        <p>Snaps are self-contained, separate from the system. No complex dependencies, and no interfering with each other. Whichever system you’re running, a snap will work the same way.</p>
      </div>
      <div class="col-4">
        <h3>Safe to run</h3>
        <p>Not only are snaps kept separate, their data is kept separate too. Snaps communicate with each other only in ways that you approve.</p>
      </div>
      <div class="col-4">
        <h3>Easy to update</h3>
        <p>Updates are automatic, and download only what’s changed. You can test alphas/betas if you want, switching back to stable at any time. And any update can be reversed.</p>
      </div>
    </div>
  </section>
{% endblock %}
