{% extends '_layout.html' %}

{% block title %}Thank you{% endblock %}
{% block meta_title %}Thank you{% endblock %}

{% block content %}

<section class="p-strip is-deep">
  <div class="row u-equal-height">
    <div class="col-7">
      <h1>Thanks for contacting us</h1>
      <h2 class="p-heading--4">A member of our team will be in touch shortly.</h2>
      <p>If you are stuck, help is always at hand. Reach out on the <a href="https://forum.snapcraft.io"
          class="p-link--external">Snapcraft forum</a> or <a href="/docs" class="p-link--external">take a look
          at the documentation</a>.</p>
    </div>
    <div class="col-5 prefix-1 u-vertically-center u-align--right u-hide--small">
      <img src="https://assets.ubuntu.com/v1/b3a28549-picto-thankyou-orange.svg" width="160" alt="Thank you" />
    </div>
  </div>
</section>

{% endblock content %}
