interactions:
  - request:
      body:
        '{"query": "{\n              viewer {\n                repositories(\n                    first:
        100,\n                    privacy: PUBLIC,\n                \n                )
        {\n              edges {\n                node {\n                  name\n                  nameWithOwner\n                }\n              }\n              pageInfo
        {\n                hasNextPage\n                endCursor\n              }\n            }\n          }\n        }"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.github.com/graphql
    response:
      body:
        string: '{"data":{"viewer":{"repositories":{"edges":[{"node":{"name":"test1","nameWithOwner":"testuser/test1"}},{"node":{"name":"test2","nameWithOwner":"testuser/test2"}},{"node":{"name":"test3","nameWithOwner":"testuser/test3"}},{"node":{"name":"test4","nameWithOwner":"testuser/test4"}},{"node":{"name":"test5","nameWithOwner":"testuser/test5"}}],"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpHODjKIzA=="}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        X-Accepted-OAuth-Scopes:
          - repo
        X-GitHub-Media-Type:
          - github.v4
        X-OAuth-Client-Id:
          - cdeb3a60fecee4208395
        X-OAuth-Scopes:
          - read:org, repo
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4998"
        X-RateLimit-Reset:
          - "1581950009"
      status:
        code: 200
        message: OK
  - request:
      body:
        '{"query": "{\n              viewer {\n                repositories(\n                    first:
        100,\n                    privacy: PUBLIC,\n                \n                )
        {\n              edges {\n                node {\n                  name\n                  nameWithOwner\n                }\n              }\n              pageInfo
        {\n                hasNextPage\n                endCursor\n              }\n            }\n          }\n        }"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.github.com/graphql
    response:
      body:
        string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/graphql","status":"401"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-GitHub-Media-Type:
          - github.v4
        X-RateLimit-Limit:
          - "0"
        X-RateLimit-Remaining:
          - "0"
        X-RateLimit-Reset:
          - "1760454256"
        X-RateLimit-Resource:
          - graphql
        X-RateLimit-Used:
          - "0"
      status:
        code: 401
        message: Unauthorized
version: 1
