<div id="js-snap-{{ category }}">
    {% if has_featured %}
        {% if snaps[0]["icon_url"] != "" %}
            {% set snap = snaps[0] %}
            {% include "store/_generated-featured-snap-partial.html" %}
        {% endif %}
    {% endif %}
    <div class="row">
        {% set show_summary = True %}
        {% for snap in snaps %}
            {% if loop.index != 1 or snap["icon_url"] == "" %}
                {% if has_featured %}
                    {% set icon_size = "large" %}
                    <div class="col-4 col-medium-3">
                {% else %}
                    <div class="col-3">
                {% endif %}
                {% include "store/_media-object-snap-partial.html" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
