<div id="js-snap-{{ category }}">
  <div class="u-fixed-width">
    {% if snaps %}
      {% set snap = snaps[0] %}
    {% else %}
      {% set snap = None %}
    {% endif %}
    {% if snap and has_featured %}
      {% if snap and snap.banner_url %}
        <a class="p-featured-snap--banner" href="/{{ snap.package_name }}">
          {{
            image(
              url=snap.banner_url,
              alt=snap.title,
              width="1920",
              height="640",
              hi_def=False,
            ) | safe
          }}
        </a>
      {% else %}
        {% if snap["icon_url"] != "" %}
          {% include "store/_generated-featured-snap-partial.html" %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <div class="row">
     {% set show_summary = True %}
     {% if snaps %}
       {% for snap in snaps %}
         {% if loop.index != 1 or snap["icon_url"] == "" %}
           {% if has_featured %}
             {% set icon_size = "large" %}
             <div class="col-4 col-medium-3">
            {% else %}
              <div class="col-3">
            {% endif %}
            {% include "store/_media-object-snap-partial.html" %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
  </div>
</div>
