<a class="row p-featured-snap p-featured-snap--generated is-light" href="/{{ snap.package_name }}">
    <div class="col-10 col-medium-4 col-small-3 p-featured-snap__details">
        <div class="p-featured-snap__summary">
            <p class="p-muted-heading u-no-margin--bottom">
                {{ snap.title }}
            </p>
            <p class="p-heading--three u-no-margin--bottom">
                {{ snap.summary }}
            </p>
        </div>
        <div class="p-featured-snap__title">
            <p class="p-heading--three u-no-margin--bottom u-no-padding--top">{{ snap.title }}</p>
        </div>
    </div>
    <div class="col-2 col-medium-2 col-small-1 p-featured-snap__icon">     
      {{
      image(
        url=snap.icon_url,
        alt=snap.title,
        width="147",
        height="147",
        hi_def=False,
        lazy=False,
        crossOrigin="anonymous"
      ) | safe
      }}
    </div>
</a>
