<a class="p-generated-featured-snap" href="/{{ snap.package_name }}">
    <div class="p-generated-featured-snap__details">
        <div class="p-generated-featured-snap__summary">
            <p class="p-muted-heading u-no-margin--bottom">
                {{ snap.title }}
            </p>
            <p class="p-heading--three u-no-margin--bottom">
                {{ snap.summary }}
            </p>
        </div>
        <div class="p-generated-featured-snap__title">
            <p class="p-heading--three u-no-margin--bottom">{{ snap.title }}</p>
        </div>
    </div>
    <div class="p-generated-featured-snap__icon">
        <img src="{{ snap.icon_url }}" width="160" height="160" />
    </div>
</a>