<a class="p-media-object p-media-object--snap{% if media_object_classname %} {{ media_object_classname }}{% endif %}" href="/{{ snap.package_name }}" title="{{ snap.title }}">
  {% if snap.icon_url %}
  <img src="{{ snap.icon_url }}" class="p-media-object__image" alt="">
  {% else %}
  <img src="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg" class="p-media-object__image" alt="">
  {% endif %}

  <div class="p-media-object__details">
    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">
      {{ snap.title }}
    </h4>
    <div class="p-media-object__content">
      {% if not hide_publisher %}
        <p>
          <span class="u-off-screen">Publisher: </span>{{ snap.origin }}
          {% if snap.developer_validation and snap.developer_validation == VERIFIED_PUBLISHER %}
          <span class="p-verified p-tooltip p-tooltip--top-center" aria-describedby="{{ snap.package_name }}-tooltip">
                        <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg" />
                        <span class="p-tooltip__message u-align--center" role="tooltip" id="{{ snap.package_name }}-tooltip">Verified account</span>
                      </span>
          {% endif %}
        </p>
      {% endif %}
      {% if show_summary %}
      <p>{{ snap.summary }}</p>
      {% endif %}
    </div>
  </div>
</a>
