<a
  class="p-media-object p-media-object--snap{% if media_object_classname %} {{ media_object_classname }}{% endif %}"
  href="/{{ snap.package_name }}"
  title="{{ snap.title }}{% if snap.summary %} – {{ snap.summary }}{% endif %}"
  >
  {% set icon_url = "https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg" %}
  {% set size = 48 %}
  {% if snap.icon_url %}
    {% set icon_url = snap.icon_url %}
    {% set style = "" %}
    {% if icon_size == "large" %}
      {% set size = 72 %}
      {% set style = "width: 72px !important; height: 72px !important; max-width: 72px; max-height: 72px;" %}
    {% endif %}
  {% endif %}
  {{
    image(
      url=icon_url,
      alt=snap.title,
      width=size,
      height=size,
      hi_def=True,
      attrs={"class": "p-media-object__image", style: style}
    ) | safe
  }}
  <div class="p-media-object__details">
    <h4 class="p-media-object__title p-heading--five u-no-margin--bottom">
      {{ snap.title }}
    </h4>
    <div class="p-media-object__content">
      {% if not hide_publisher %}
        <p>
          <span class="u-off-screen">Publisher: </span>{{ snap.origin }}
          {% if snap.developer_validation and snap.developer_validation == VERIFIED_PUBLISHER %}
          <span class="p-verified" title="Verified account">
            <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg" />
          </span>
          {% endif %}
        </p>
      {% endif %}
      {% if show_summary %}
      <p>{{ snap.summary }}</p>
      {% endif %}
    </div>
  </div>
</a>
