{%- macro ratings_info(ratings) -%}
{%- if ratings and ratings.total_votes > 0  -%}
<span class="p-snap-ratings">
  {%- if ratings.ratings_band == "very-good" -%}
    <span class="p-snap-ratings__band" style="color: #0e8420;" title="Very good rating">Very good</span>
  {%- elif ratings.ratings_band == "good" -%}
    <span class="p-snap-ratings__band" style="color: #0e8420;" title="Good rating">Good</span>
  {%- elif ratings.ratings_band == "neutral" -%}
    <span class="p-snap-ratings__band" style="color: #f99b11;" title="Neutral rating">Neutral</span>
  {%- elif ratings.ratings_band == "poor" -%}
    <span class="p-snap-ratings__band" style="color: #c7162b;" title="Poor rating">Poor</span>
  {%- elif ratings.ratings_band == "very-poor" -%}
    <span class="p-snap-ratings__band" style="color: #c7162b;" title="Very poor rating">Very poor</span>
  {%- endif -%}
  <span class="p-snap-ratings__votes"> ({{ ratings.total_votes }} votes)</span>
</span>
{%- endif -%}
{%- endmacro -%}
