{%- macro ratings_info(ratings) -%}
{%- if ratings -%}
<span class="p-snap-ratings">
  {%- if ratings.ratings_band == "very-good" -%}
    <span title="Very good rating"><i class="p-icon--thumbs-up"></i> Very good</span>
  {%- elif ratings.ratings_band == "good" -%}
    <span title="Good rating"><i class="p-icon--thumbs-up"></i> Good</span>
  {%- elif ratings.ratings_band == "neutral" -%}
    <span title="Neutral rating"><i class="p-icon--minus"></i> Neutral</span>
  {%- elif ratings.ratings_band == "poor" -%}
    <span title="Poor rating"><i class="p-icon--thumbs-down"></i> Poor</span>
  {%- elif ratings.ratings_band == "very-poor" -%}
    <span title="Very poor rating"><i class="p-icon--thumbs-down"></i> Very poor</span>
  {%- endif -%}
  <span> ({{ ratings.total_votes }} votes)</span>
</span>
{%- endif -%}
{%- endmacro -%}
