{% if has_publisher_page %}
  <a href="/publisher/{{ username }}" title="View all snaps from {{ display_name(publisher, username) }}">{{ display_name(publisher, username) }}</a>
{% else %}
  <span class="p-tooltip--top-center">
    {{ display_name(publisher, username) }}
    <span class="p-tooltip__message">Publisher</span>
  </span>
{% endif %}

{% if developer_validation %}
  {% if developer_validation == VERIFIED_PUBLISHER %}
    {% include "partials/_verified_developer.html" %}
  {% endif %}

  {% if developer_validation == STAR_DEVELOPER %}
    {% include "partials/_star_developer.html" %}
  {% endif %}
{% endif %}