<section class="p-section">
  <div class="p-strip is-shallow u-no-padding--top">
    <div class="u-fixed-width">
      {% if has_rule %}
        <hr class="p-rule">
      {% endif %}
      <h2>{{ title }}</h2>
    </div>
  </div>
  <div class="grid-row">
    {% for snap in snaps_list %}
      {% if loop.index <= 8 %}
        <div class="grid-col-2 grid-col-medium-2">
          <div class="p-strip is-shallow u-no-padding--top">
            <a href="/{{ snap.details.name }}">
              <img src="{{ snap.details.icon }}" alt="{{ snap.details.title }}" width="48" height="48">
            </a>
            <div style="min-width: 0">
              <h3 class="p-heading--5 u-no-margin--bottom u-truncate">
                <a href="/{{ snap.details.name }}">{{ snap.details.title }}</a>
              </h3>
              <p class="u-text--muted">
                <small>{{ snap.details.publisher }}</small>
                
                {% if snap.details.developer_validation == VERIFIED_PUBLISHER %}
                  {% include "partials/_verified_developer.html" %}
                {% endif %}

                {% if snap.details.developer_validation == STAR_DEVELOPER %}
                  {% include "partials/_star_developer.html" %}
                {% endif %}
              </p>
              {% if has_summary %}
                <p class="u-no-margin--bottom u-line-clamp--2">{{ snap.details.summary }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
