{% set show_header = False %}
{% extends "_base-layout.html" %}
{% block html_class %}app comfortable light{% endblock %}
{% block extra_styles %}{{ vite_import('static/sass/pragma.css') }}{% endblock %}
{% block body_class %}{% endblock %}
{% block banner %}
{% from "partials/_status-banner.html" import status_banner %}
{{ status_banner(STATUS_BANNER, floating=true) }}
{% endblock %}
{% block content %}
<div id="root">
</div>
<script>
  window.CSRF_TOKEN = "{{ csrf_token() }}";
</script>
{{ vite_import('static/js/publisher/index.tsx') }}
{% endblock %}
