{% extends webapp_config['LAYOUT'] %}

{% block meta_copydoc %}{% endblock %}

{% block meta_title %}Install {{ snap_title }} for Linux, Linux apps in seconds | Snap Store{% endblock %}

{% block meta_description %}Get the latest version of {{ snap_title }} for Linux - {{ summary }}{% endblock %}

{% if icon_url %}
  {% block meta_image %}
    {{ icon_url }}
  {% endblock %}
{% endif %}

{% block meta_schema %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "{{ snap_title }}",
      "description": "{{ summary }}",
      "datePublished": "{{ last_updated_raw }}",
      {% if screenhots and screenshots|length > 0 %}
      "screenshot": "{{ screenshots[0] }}",
      {% endif %}
      "image": "{{ icon_url }}",
      "operatingSystem": "linux",
      "offers": {
        "price": {% if prices and prices['USD'] %}{{ prices['USD'] }}{% else %}0.00{% endif %},
        "priceCurrency": "USD"
      },
      "author": {
        "@type": "Person",
        "name": "{{ publisher }}"
        {% if website %}, {# the , is within the if to avoid parsing errors #}
        "url": "{{ website }}"
        {% endif %}
      },
      "softwareVersion": "{{ version }}",
      "fileSize": "{{ filesize }}",
      "license": "{{ license }}"
    }
  </script>
{% endblock %}

{% block content %}
  <div class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-7">
        <div class="p-snap-heading">
          {% if icon_url %}
            <img class="p-snap-heading__icon" src="{{ icon_url }}" alt="{{ snap_title }} snap" />
          {% else %}
            <img class="p-snap-heading__icon" src="https://assets.ubuntu.com/v1/6fbb3483-snapcraft-default-snap-icon.svg" alt="" />
          {% endif %}
          <div class="p-snap-heading__title">
            <h1 class="p-heading--two p-snap-heading__name">{{ snap_title }}</h1>
            <p class="p-snap-heading__publisher">
              by {{ publisher }}
              {% if developer_validation and developer_validation == VERIFIED_PUBLISHER %}
              <span class="p-verified p-tooltip p-tooltip--top-center" aria-describedby="{{ package_name }}-tooltip">
                <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg" />
                <span class="p-tooltip__message u-align--center" role="tooltip" id="{{ package_name }}-tooltip">Verified account</span>
              </span>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% if not webapp_config['STORE_QUERY'] %}
        <div class="col-5 p-snap-install-buttons">
          {% if has_stable %}
            <button
              class="p-button--positive p-snap-install-buttons__install"
              data-js="open-channel-map"
              data-controls="channel-map-install"
              aria-controls="channel-map-install">
                Install
            </button>
          {% endif %}
          <button
            class="p-button--neutral p-snap-install-buttons__versions"
            data-js="open-channel-map"
            data-controls="channel-map-versions"
            aria-controls="channel-map-versions">
              Other versions&nbsp;&nbsp;<i class="p-icon--chevron"></i>
          </button>
        </div>
      {% else %}
        <div class="col-5 p-snap-install-buttons">
          <div class="p-code-snippet">
            <input class="p-code-snippet__input" id="snap-install-stable" value="sudo snap install {{ package_name }}" readonly="readonly">
            <button class="p-code-snippet__action js-clipboard-copy" data-clipboard-target="#snap-install-stable">
              Copy to clipboard
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if not webapp_config['STORE_QUERY'] %}
    {% include "store/snap-details/_channel_map.html" %}
  {% endif %}

  {% if screenshots %}
    <div class="p-strip is-shallow">
      <div class="row">
        <div class="p-screenshots" id="js-snap-screenshots">
          <div class="p-screenshots__wrapper">
            {% for screenshot in screenshots %}
              <div class="p-screenshot">
                <img src="{{ screenshot }}" alt="" />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  {% endif %}

  <div class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        {% if summary %}<h4>{{ summary }}</h4>{% endif %}
        {% for paragraph in description_paragraphs %}
          <p>{{ paragraph | safe }}</p>
        {% endfor %}
        {% if website %}<p><a href="{{ website }}">Developer website</a></p>{% endif %}
        {% if contact %}
          <p>
            <a href="{{ contact }}">Contact {{ publisher }}</a>
          </p>
        {% endif %}
      </div>
      <div class="col-4">
        <table class="p-table-key-value">
          <tr><th>License</th><td>{{ license }}</td></tr>
          <tr><th>Last updated</th><td>{{ last_updated }}</td></tr>
        </table>
      </div>
    </div>
  </div>

  <div data-js="blog-articles" style="display: none;">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="p-strip is-shallow">
      <div class="row">
        <h4>Related blog posts</h4>
      </div>
      <div class="row u-equal-height" data-js="blog-article-list" data-snap="{{ package_name }}">
      </div>
    </div>
  </div>
  {% set article_title = {'rendered': '${title}'} %}
  {% set article = {'slug': '${slug}', 'title': article_title} %}
  <script type="text/template" id="blog-article-template">{% include 'partials/blog-card--minimal.html' %}</script>
  {% if countries or normalized_os %}
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="p-strip is-shallow">
      <div class="row">
        {% if countries %}
          <div class="{% if normalized_os %}col-8{% else %}col-12{% endif %} js-snap-map-holder">
            <h4>Where people are using {{ snap_title }}</h4>
            <div id="js-snap-map" class="snapcraft-territories"></div>
          </div>
        {% endif %}
        {% if normalized_os %}
          <div class="col-4">
            <h4>Users by distribution (log)</h4>
            <div class="snapcraft-distro-chart">
              <div class="snapcraft-distro-chart__names">
                {% for distro in normalized_os %}
                <div class="snapcraft-distro-chart__name" title="{{ distro.name }}">{{ distro.name }}</div>
                {% endfor %}
              </div>
              <div class="snapcraft-distro-chart__bars">
                {% for distro in normalized_os %}
                  <div
                    class="snapcraft-distro-chart__bar"
                    style="width: {{ distro.value * 100 }}%"
                  ></div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if api_error %}
    <div class="row">
      <div class="col-12">
        <div class="p-notification--negative">
          <p class="p-notification__response">
            <span class="p-notification__status">Error:</span> API request failed
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts_modules %}
  <script src="{{ static_url('js/modules/clipboard.min.js') }}"></script>
  <script src="{{ static_url('js/modules/d3.min.js') }}"></script>
  <script src="{{ static_url('js/modules/d3-geo.min.js') }}"></script>
  <script src="{{ static_url('js/modules/topojson-client.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script src="{{ static_url('js/dist/public.js') }}"></script>
  <script>
    Raven.context(function () {
      try {
        snapcraft.public.screenshots('#js-snap-screenshots');
      } catch(e) {
        Raven.captureException(e);
      }

      try {
        snapcraft.public.snapDetailsPosts('[data-js="blog-article-list"]', '#blog-article-template', '[data-js="blog-articles"]');
      } catch(e) {
        Raven.captureException(e);
      }

      {% if countries %}
        try {
          snapcraft.public.map('#js-snap-map', {{ countries | tojson }});
        } catch(e) {
          Raven.captureException(e);
          document.querySelector('.js-snap-map-holder').style.display = 'none';
        }
      {% endif %}

      {% if not webapp_config['STORE_QUERY'] and channel_map %}
        try {
          document.addEventListener('DOMContentLoaded', function() {
            snapcraft.public.channelMap('#js-channel-map', {{ package_name|tojson }}, {{ channel_map | tojson }}, "{{ default_track }}");
          });
        } catch(e) {
          console.log(e);
          Raven.captureException(e);
          document.querySelector('.js-open-channel-map').style.display = 'none';
        }
      {% endif %}

      if (typeof ClipboardJS !== 'undefined') {
        new ClipboardJS('.js-clipboard-copy');
      }
    });
  </script>
{% endblock %}
