name: PR checks
on: pull_request

env:
  SECRET_KEY: insecure_test_key
  LP_API_USERNAME: test_lp_user

jobs:
  run-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Build image
        run: DOCKER_BUILDKIT=1 docker build --tag snapcraft-io .
      - name: Run image
        run: |
          docker run -d -p 80:80 --env SECRET_KEY=insecure_secret_key snapcraft-io
          sleep 1 && curl --head --fail --retry-delay 5 --retry 10 --retry-connrefused http://localhost

  run-dotrun:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Install Dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Run dotrun
        run: |
          dotrun &
          curl --head --fail --retry-delay 3 --retry 30 --retry-connrefused http://localhost:8004

  run-cypress:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # START copy of the run-dotrun job
      - uses: actions/checkout@v6

      - name: Install Dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Run dotrun
        run: |
          dotrun --env ENVIRONMENT="prod" serve &
          curl --head --fail --retry-delay 3 --retry 30 --retry-connrefused http://localhost:8004
      # END copy of the run-dotrun job

      - name: Run Cypress as a Docker container
        run: |
          docker run --network="host" -v .:/app cypress/base:22.18.0 \
            bash "-c" "cd /app && npx cypress install && yarn run test-e2e"

  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      py: ${{ steps.filter.outputs.py }}
      js: ${{ steps.filter.outputs.js }}
      scss: ${{ steps.filter.outputs.scss }}
    steps:
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          py:
            - '**/*.py'
            - 'requirements.txt'
          js:
            - '**/*.js'
            - '**/*.ts'
            - '**/*.jsx'
            - '**/*.tsx'
            - 'package.json'
            - 'yarn.lock'
            - 'eslint.config.mjs'
          scss:
            - '**/*.scss'
            - '.stylelintrc'
            - 'package.json'
            - 'yarn.lock'

  lint-python:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dotrun
        run: sudo pip3 install dotrun

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Lint python
        run: dotrun lint-python

  lint-scss:
    needs: changes
    if: ${{ needs.changes.outputs.scss == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install SCSS dependencies
        run: yarn install --immutable

      - name: Lint SCSS
        run: yarn lint-scss

  lint-js:
    needs: changes
    if: ${{ needs.changes.outputs.js == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install JS dependencies
        run: yarn install --immutable

      - name: Lint JS
        run: yarn lint-js

  test-python:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Install dotrun
        run: sudo pip3 install dotrun

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Install dependencies
        run: sudo pip3 install coverage

      - name: Build resources
        run: dotrun build

      - name: Run python tests with coverage
        run: dotrun test-python-job

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: python

  test-js:
    needs: changes
    if: ${{ needs.changes.outputs.js == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run JS tests with coverage
        run: |
          yarn test-js --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: javascript

  check-inclusive-naming:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check inclusive naming
        uses: canonical/inclusive-naming@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail-on-error: true
