{% extends "_layout.html" %}

{% block meta_title %}Install Linux apps using the Snap Store | Snapcraft {% endblock %}

{% block content %}
<main id="root">
  <section class="p-strip--dark">
    <div class="row">
      <div class="col-start-large-4 col-6">
        <h1 class="p-heading--2">The app store for Linux</h1>
        <form class="p-search-box" action="/store">
          <label class="u-off-screen" for="search">Search snap store</label>
          <input type="search" id="search" class="p-search-box__input" placeholder="Search snap store" name="q">
          <button type="reset" class="p-button p-search-box__reset">
            <i class="p-icon--close">Close</i>
          </button>
          <button type="submit" class="p-button p-search-box__button">
            <i class="p-icon--search">Search</i> 
          </button>
        </form>
      </div>
    </div>
  </section>

  {% include "explore/_popular-snaps.html" %}

  {% include "explore/_categories.html" %}

  <section class="p-strip u-no-padding--top">
    <div class="u-fixed-width">
      <div class="explore-highlight-block">
        <div class="row">
          <div class="col-6">
            <h2>Learn how to snap in 30 minutes</h2>
            <p class="p-heading--4">Find out how to build and publish snaps</p>
            <a class="p-button--positive" href="/docs/get-started">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
